<template>
    <div class="wrap AddressList">
       <HeadNav title='配送至'/>
       <div class="main">
           <div class="empty" v-show="addressList.length==0">
                    <img src="../assets/empty/data.png" alt="">
                    <p>您还没有收货地址</p>
            </div>
           <div v-show="addressList.length!=0"  class="address-box">
               <p class="address-box-name">当前配送至</p>
               <div class="address-box-card">
                   <p class="current-address">
                       <van-icon class="icon" name="location-o" />
                       <span v-show="defaultAddress">{{defaultAddress.address}}</span>
                   </p>
               </div>
           </div>
           <div v-show="addressList.length!=0" class="address-box">
                <p  class="address-box-name">从我的收货地址选择</p>
                <ul class="address-list">
                    <li class="address-list-item" v-for="item in addressList" :key="item.id">
                        <div class="address-list-item-user">
                            <span class="name">{{item.collect_name}}</span>
                            <span class="tele">{{item.collect_tel}}</span>
                        </div>
                        <p class="address-list-item-desc">收货地址：{{item.address}}</p>
                        <div class="handle">
                            <van-radio @click="changeDefault(item.id)" class="handle-check" name="address" >
                            <span :class="item.default?'':'defalut'">默认地址</span>
                            <img
                                slot="icon"
                                :src="item.default? icon.active : icon.normal"
                            >
                            </van-radio>
                            <div class="handle-right">
                                <div @click="handleeditAddress(item)" class="handle-right-item">
                                    <img src="../assets/mall/edit.png" alt="编辑">
                                    <span>编辑</span>
                                </div>
                                <div @click="delAddress(item.id)" class="handle-right-item">
                                    <img src="../assets/mall/dele.png" alt="删除">
                                    <span>删除</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
           </div>
       </div>
       <div class="foot">
           <van-button  @click="addAddress" class="btn" round size="large" type="danger">选择其他地区</van-button>
           
       </div>
    </div>
</template>

<script>
import {mapState,mapActions} from 'vuex'
import { Dialog, Toast } from 'vant'
import  HeadNav from '@/components/HeadNav'
export default {
name:'AddressList',
components:{
   HeadNav
},
data(){
    return {
        lastPath:0,//表明是从哪个页面来的：0，1：我的
        icon: {
            normal: require('../assets/mall/radio.png'),
            active: require('../assets/mall/radio-a.png')
        },
    }
},
computed:{
    ...mapState('address', ['addressList','defaultAddress']),//收货地址模块
},
methods:{
    ...mapActions('address', ['loadAddress', 'loadDefaultAddress','deleteAddress','setDefaultAddress']),//收货地址模块
    changeDefault(id){//改变默认
        this.setDefaultAddress({id})
        this.loadDefaultAddress()
        this.loadAddress()
    },
    handleeditAddress(item){//修改
        this.storage.set('currentAddress',item)
        this.$router.push({name: 'editAddress'})
        
    },
    delAddress(id){//删除
        let that=this
        Dialog.confirm({
        title: '警告',
        message: '是否确认删除该地址!'
        }).then(() => {
            that.deleteAddress({id:id}).then(res=>{
                if(res.status==1){
                    Toast.success('删除成功')
                }
            })
        })
    },
    addAddress(){//增加      
        this.$router.push('/editAddress')
    }
},
mounted(){
    
},
created(){
    this.loadAddress()
    this.loadDefaultAddress()
},
destroyed(){
   
}
}
</script>

<style lang='scss'>
.AddressList{
    background: #f9f9f9;
    .main{
        padding: 5vw 3vw;
        .address-box{
            margin-bottom: 11vw;
            &-name{
                font-size: 3vw;
                color: #999;
                 margin-bottom: 5vw;
            }
            &-card{
                box-shadow: 0 0 5vw #eee;
                padding: 5vw;
                background: #fff;
                .current-address{
                    display: flex;
                    align-items: center;
                    font-size: 4vw;
                    color: #000;
                    .icon{
                        margin-right: 1vw;
                        color: #666;
                        font-size: 4vw;
                    }
                }
                
            }
            .address-list{
                    &-item{
                        padding: 5vw;
                        box-shadow: 0 0 5vw #eee;
                         background: #fff;
                        margin-bottom: 3.7vw;
                        &-user{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 4vw;
                            line-height: 5vw;
                            color: #000000;
                            .tele{
                                font-size: 3.2vw;
                            }
                        } 
                        &-desc{
                            padding: 3vw 0;
                            font-size: 3.2vw;
                            font-weight: normal;
                            font-stretch: normal;
                            line-height: 4vw;
                            letter-spacing: 0vw;
                            color: #656565;
                        }
                        .handle{
                            padding-top: 5vw;
                            border-top: 0.1vw solid #eee;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            &-right{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                &-item{
                                    margin-left: 4.5vw;
                                     display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    font-size: 2.7vw;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    line-height: 5.3vw;
                                    letter-spacing: 0vw;
                                    color: #666666;
                                    img{
                                       width: 3vw;
                                       margin-right: 1vw;
                                    }
                                }
                            }
                            &-check{
                                img{
                                    width: 4vw;
                                    position: relative;
                                    top: 0.5vw;
                                }
                                span{
                                    font-size: 2.7vw;
                                    color: #ff6315;
                                }
                                .defalut{
                                   color: #c7c7c7; 
                                }
                            }
                        }
                    }
                }
        }
    }
    .foot{
        padding: 5vw 3vw;
        background:#fff;
        .btn{
            height: 10vw;
            line-height: 10vw;
            border: none;
            background-image: linear-gradient(-72deg, 
                #ff3f4a 0%, 
                #ff4325 0%, 
                #ff4600 0%, 
                #ff5f00 24%, 
                #ff7700 100%), 
            linear-gradient(
                #ededed, 
                #ededed);
        }
    }
    .empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:10vw;
        img{
            width: 60vw;
        }
    }
}
</style>
