<template>
    <div class="wrap Cart">
      <div class="Cart-nav">
        <span class="name">购物车</span>
        <span @click="handleComplete" class="manage">{{collectTitle}}</span>
      </div>
      <p class="total">共{{cartList.length}}件宝贝</p>
       <div v-show="cartList.length==0" class="empty">
            <img src="../assets/empty/cart.png" alt="">
            <router-link to="/home" tag="p" class="note">购物车空空的，犒劳下自己吧~</router-link>
      </div>
      <div class="main" v-show="cartList.length!=0">
         <!-- 购物车 -->
        <div class="cart-ul" v-if="cartList">
             <van-swipe-cell  v-for="item in cartList" :key="item.id" class="li" :right-width="104">
              <div class="group">
                 <div @click="changleRadio(item.id)"  class="radio-box">
                  <img v-show="!item.ischeck" src="../assets/mall/radio.png" alt="">
                        <img v-show="item.ischeck" src="../assets/mall/radio-a.png" alt="">
                  </div>
                  <div class="img-box" @click="toDetail(item)" >
                    <img v-if='item.mainImg' :src="imgUrl+item.mainImg[0].img_path" alt="">
                  </div>
                  <div class="info">
                    <p class="title">{{item.name||item.product_name}}</p>
                    <p class="source">来源：商城</p>
                    <div  class="price-box">
                      <p  class="price">
                        <span class="icon">￥</span><span>{{Number(item.price).toFixed(0)}}</span><span class="icon">.{{Number(item.price).toFixed(2).split('.')[1]}}</span>
                      </p>
                      <van-stepper  @change='changeCount(item.id)' v-model="item.count" integer />
                    </div>
                  </div>
              </div>
              <div class="li-right" slot="right">
                <div  @click="pushCollect(item.id)" class="btnn collect">移入<br/>收藏夹</div>
                <div @click="delChioce(item.id)" class="btnn del">删除</div>
              </div>
            </van-swipe-cell>
          </div>
      </div>
      <div class="foot">
        <div class="foot-top">
            <div @click="changeAll" class="radio-box">
                <img v-show="!allchioce" src="../assets/mall/radio.png" alt="">
                <img v-show="allchioce" src="../assets/mall/radio-a.png" alt="">
                <span>全选</span>
            </div>
            <!-- 结算 -->
            <div v-show="!isManage" class="foot-box">
              <span class="freight">不含运费</span>
              <span class="heji">合计：</span>
              <span class="icon">￥</span>
              <span class="monry">{{totalMoney.toFixed(0)}}</span>
              <span class="icon">.{{Number(totalMoney).toFixed(2).split('.')[1]}}</span>
              <button @click="toComfirmOrder" class="btn">结算({{totalCount}})</button>
            </div>
            <!-- 管理 -->
            <div v-show="isManage" class="foot-box">
              <span @click="pushCollect('all')" class="btnn to-collect">移入收藏夹</span>
              <span @click="delChioce()" class="btnn del">删除</span>
            </div>
           
        </div>
        <Tabbar id='4'/>
      </div>
      
    </div>
</template>

<script>
import {mapState,mapActions, mapMutations} from 'vuex'
import Tabbar from "@/components/Tabbar"
import { Toast } from 'vant';
export default {
  name:'Cart',
   components:{
       Tabbar
   },
   data(){
     return {
       collectTitle:'管理',
        count:1,
        totalMoney:0.00,
        totalCount:0,
        isManage:false,
     }
   },
   computed:{
     ...mapState('cart', ['cartList','allchioce']),
     list(){
       let arr=[]
       this.cartList.map(item=>{
         if(item.status&&item.status!=1){
            arr.unshift(item)
         }
       })
       return arr
     }
   },
   methods:{
      ...mapMutations('order',['setComfirmOrderList']),
      ...mapMutations('cart', ['changeCount', 'deleteCart','setAllCheck','setAllxheckDefalut','setRadio']),//购物车模块
      ...mapActions('collect', ['addCollect']),//收藏模块
      onLoad(){//加载更多
        
      },
      handleComplete(){
          this.isManage=!this.isManage
          if(this.isManage){
            this.collectTitle='完成'
          }
          else{
            this.collectTitle='管理'
          }
          
      },
     changeAll(){
        this.setAllCheck()
        this.getTotal()
     },
     changleRadio(id){
        this.setRadio(id)
        this.getTotal()
      },
     getTotal(){
        this.totalMoney=0
        this.totalCount=0
        this.cartList.map(item=>{
          if(item.ischeck==true){
            if(item.source==0){
              this.totalMoney+=(item.count*item.price)
            }else{
              this.totalMoney+=(item.count*item.new_price)
            }
            this.totalCount+=item.count
          }
        })
     } ,
     changeCount(id){
       this.getTotal()
     },
     pushCollect(id){//加入收藏夹
       let param='' 
       if(id=='all'){
         let ids=[]
          this.cartList.map(item=>{
          if(item.ischeck==true){
              ids.push(item.id)
            }
            return item
          })
          param=ids.join(',')
       }else{
         param=id
       }
       let obj={product_id:param}
       this.addCollect(obj).then(res=>{
         if(res.status==1){
           Toast('收藏成功')
         }
       })
        
     },
     delChioce(id){//删除购物车
       id=id||0
       this.deleteCart(id)
       Toast('删除成功')
       this.getTotal()
     },
     toComfirmOrder(){//去结算
       let isSubmit=false
       this.cartList.map(item=>{
         if(item.ischeck==true){
            isSubmit=true
         }
         return item
       })
       if(isSubmit){
          let arr=[]
          this.cartList.map(item=>{
            if(item.ischeck==true){
              arr.unshift({...item,type:0})
            }
            return item
          })
          this.setComfirmOrderList({type:0,list:arr})
          this.setAllxheckDefalut()
          this.$router.push('/comfirmOrder')
       }else{
         Toast('请选择购买的商品')
       }
     },
     toDetail(item){//去商品详情
          this.storage.set('ProDetail',{id:item.id,type:0})
          this.$router.push({ name: 'detail'})
     }
   },
   mounted(){
   },
   created(){
     this.cartList.map(item=>item.ischeck=false)
   }
}
</script>

<style lang='scss'>
.Cart{
  background: url('../assets/cart/head.png') no-repeat center top;
  background-size: contain;
  background-color: #f5f5f5;
  
  &-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vw;
    padding: 0 3vw;
    color: #fff;
    .name{
      font-size: 5.1vw;
      line-height: 5.3vw;
      color: #f9f9f9;
    }
    .manage{
      font-size: 4vw;
    }
  }
  .total{
    padding: 0 3vw;
    font-size: 2.7vw;
    line-height: 5.3vw;
    color: #f9f9f9;
  }
  .empty{
        flex: 1;
        display: flex;
        align-items: center;
        padding-top: 26vw;
        background: #fff;
        flex-direction: column;
        img{
            width: 40vw;
        }
        .note{
            font-size: 3.2vw;
            font-weight: normal;
            font-stretch: normal;
            line-height: 5.3vw;
            letter-spacing: 0vw;
            color: #c1c1c1;
        }
  }
  .main{
    padding: 0 3vw;
    padding-top: 10vw;
    .cart-ul{
      .li{
        background-color: #ffffff;
        margin-bottom: 4vw;
        box-shadow: 0vw 0.3vw 1.1vw 0vw 
          rgba(238, 238, 238, 0.35);
        border-radius: 2vw;
        .group{
          height: 35.2vw;
         
          padding-left: 2.3vw;
          padding-right: 4vw;
          
          box-shadow: 0vw 0.3vw 1.1vw 0vw 
            rgba(238, 238, 238, 0.35);
          border-radius: 2vw;
          display: flex;
          align-items: center;
        }
        .van-swipe-cell__right{
          display: flex;
          align-items: flex-end;
        }
        &-right{
          display: flex;
          align-items: center;
          .btnn{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 52px;
	          height: 20vw;
            color: #fff;
            font-size: 3vw;
            line-height: 4vw;
          }
          .collect{
            background: #fc852b;
          }
          .del{
            background: #ff3f4a;
            border-bottom-right-radius: 2vw;
          }
        }
        .radio-box{
          overflow: hidden;
          img{
            width: 5vw;
          }
        }
        .img-box{
          width: 22.5vw;
          height: 25.9vw;
          background-color: #f5f5f5;
          border-radius: 2vw;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 2vw;
        }
        .info{
          flex: 1;
          .title{
            font-size: 3.2vw;
            line-height: 5.3vw;
            letter-spacing: 0vw;
            color: #292723;
          }
          .source{
            font-size: 2.7vw;
            line-height: 5.3vw;
            color: #b7b7b7;
          }
          .price-box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .price{
              font-size: 4.8vw;
              line-height: 5.3vw;
              color: #ff3600;
              .icon{
                font-size: 3.2vw;
              }
              .old-price{
                 font-size: 3.2vw;
                 color: #999;
                 text-decoration: line-through;
                 padding-left: 2vw;
              }
            }
          }
        }
      }
    }
  }
  .foot{
    
    &-top{
      padding: 0 3vw;
      padding-left: 5.2vw;
      height: 13.2vw;
       background-color: #ffffff;
       border: solid 0.1vw #ececec;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .radio-box{
        width: 20%;
        display: flex;
        align-items: center;
        img{
          width: 5vw;
        }
        span{
          padding-left: 1vw;
          font-size: 3.2vw;
	        color: #999999;
        }
      }
      .foot-box{
        display: flex;
        align-items: center;
        .freight{
          font-size: 2.7vw;
	        color: #999999;
        }
        .heji{
          font-size: 3.2vw;
          color: #1d1d1d;
        }
        .icon{
          font-size: 3.2vw;
          color: #ff3600;
        }
        .monry{
          font-size: 4.8vw;
          color: #ff3600;
        }
        .btn{
          margin-left: 2vw;
            width: 25.7vw !important;
        }
        .btnn{
          display: inline-block;
          height: 7.1vw;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 3.5vw;
          border-radius: 3.5vw;
          
        }
        .to-collect{
          width: 23.5vw;
           color: #ff6000;
	         border: solid 1px #ff5a00;
        }
        .del{
          margin-left: 2.5vw;
          width: 16.8vw;
          border: solid 1px #ff0000;
          color: #ff0000;
        }
      }
    }
  }
}
</style>
