<template>
    <div class="wrap ComfirmOrder">
        <HeadNav title='确认订单'/>
        <div class="main">
            <router-link to="/addressList" tag="div" class="address-box">
                <img class="left-icon" src="../assets/cart/address.png" alt="address">
                <div v-show='defaultAddress.length==0' class="address-info ">
                    <p class="note">没有收货地址，前去添加</p>
                </div>
                <div class="address-info" v-show='defaultAddress.length!=0'>
                    <p class="address-info-user">
                        <span class="name">{{defaultAddress.collect_name}}</span>
                        <span class="tele">{{defaultAddress.collect_tel}}</span>
                    </p>
                    <p class="address">{{defaultAddress.address}}</p>
                    <p class="note">请保证收货地址无误，避免损失！</p>
                </div>
                <img class="right-icon" src="../assets/mall/3.png" alt="">
            </router-link>

            <div class="order-box" v-if="comfirmOrder">
                <div class="pro-box" v-for="detail in comfirmOrder.list" :key="detail.id">
                    <div class="img-box">
                        <img  :src="imgUrl+detail.mainImg[0].img_path">
                    </div>
                    <div class="pro-box-info">
                        <p class="name">{{detail.name || detail.product_name}}</p>
                        <div class="other">
                            <div class="other-item price">
                                <span class="icon">￥</span>
                                <span>{{detail.price ||detail.new_price}}</span>
                                <span class="oldprice" v-show="detail.before_price">{{detail.before_price}}</span>
                            </div>
                            
                            <div class="other-item count">
                                <van-stepper v-show="detail.type==0"  @change="onChange" :max="detail.stock"  v-model="detail.count" />
                                <van-stepper v-show="detail.type==1"  disabled  v-model="detail.count" />
                                <!-- <span class="icon">X</span>
                                <span>{{detail.count}}</span> -->
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="order-other">
                   <!-- <div class="order-other-item" v-show="comfirmOrder.type==0">
                       <div class="order-other-item-left">
                           <span>购买数量</span>
                       </div>
                       <div class="order-other-item-left">
                           <van-stepper disabled  v-model="allcount" />
                       </div>
                   </div> -->
                    <div class="order-other-item">
                       <div class="order-other-item-left">
                           <span>配送方式</span>
                       </div>
                       <div class="order-other-item-left">
                           <span>快递 免邮</span>
                       </div>
                   </div>
                    <div v-show="comfirmOrder.type==0" class="order-other-item">
                       <div class="order-other-item-left">
                           <span>红包</span>
                       </div>
                       <div class="order-other-item-left">
                           <span>￥{{allRedBag}}</span>
                       </div>
                   </div>
                    <div v-show="comfirmOrder.type==0" class="order-other-item">
                       <div class="order-other-item-left">
                           <span>抵扣金额</span>
                       </div>
                       <div class="order-other-item-left">
                           <span class="price">- ¥{{allDiscount}}</span>
                       </div>
                   </div>
                    <div class="order-other-item">
                       <div class="order-other-item-left">
                           <span>备注</span>
                       </div>
                       <div class="order-other-item-left">
                           <van-field
                           input-align='right'
                            class='note'
                            v-model="remarks"
                            clearable
                            autosize
                            placeholder="请输入备注"
                          />
                          
                       </div>
                   </div>
               </div>
            </div>
        </div>
        <!-- 确认付款 -->
        <van-actionsheet class="pop-box" v-model="showcomfirmApply" title="确认付款" @cancel="onCancel">
           <div class="pop-card">
               <p class="allprice">
                   <span class="icon">￥</span>
                   <span>{{totalMoney.toFixed(0)}}</span>
                   <span class="icon">.{{(totalMoney).toFixed(2).split('.')[1]}}</span>
               </p>
               <p class="time">{{timeWord}}</p>
               <ul class="apply-style">
                   <li>
                       <div class="left">
                           <img src="../assets/cart/wei.png" alt="微信">
                           <span class="name">微信支付</span>
                           <img class="first" src="../assets/cart/first.png" alt="推荐">
                       </div>
                       <div class="right">
                           <img v-show="false" src="../assets/mall/radio.png" alt="">
                           <img src="../assets/mall/radio-a.png" alt="">
                       </div>

                   </li>
               </ul>
               <button @click="comfirmToApply" class="btnn">确认支付</button>
           </div>
        </van-actionsheet>
        <div class="foot">
            <div class="foot-left">
                <span class="allcount">共{{allcount}}件，</span>
                <span class="alltext">合计：</span>
                <span class="allicon">￥</span>
                <span class="allnum ">{{totalMoney.toFixed(0)}}</span>
                <span class="allicon">.{{(totalMoney).toFixed(2).split('.')[1]}}</span>
            </div>
            <div @click="allpyOrder" class="apply-order">提交订单</div>
        </div>
    </div>
</template>

<script>
import HeadNav from "@/components/HeadNav"
import {mapState,mapActions} from 'vuex'
import {Toast } from 'vant'
export default {
name:'ComfirmOrder',
components:{
       HeadNav
},
data(){
    return {
        remarks:'',//备注
        showcomfirmApply:false,
        downTime:30,
        allcount:0,//全部商品数量
        totalMoney:0.00,
        timeWord:'5分钟',
        time:300,
        timer:null,
        isPay:0,//是否已经支付0：未支付；1：已经支付2：支付已经超时
        isSubmit:false,//订单是否提交
        allRedBag:0,//总共的红包数量
        allDiscount:0.00//总共抵扣的金额
    }
},
computed:{
    ...mapState('address', ['defaultAddress']),//收货地址模块
    ...mapState('order', ['comfirmOrder','orderInfo']),//订单详情
},
methods:{
    ...mapActions('address', ['loadDefaultAddress']),//收货地址模块
    ...mapActions('order',['orderCreate','orderKillCreate','weixinPay']),//订单创建
    onChange(){
        this.getAllCount()
    },
    async allpyOrder(){//提交订单
        if(this.defaultAddress.length==0){
            Toast('请添加默认收获地址')
            return false
        }
        let result=null
        let that=this
        if(this.comfirmOrder.type==0){//普通商品
            let products=this.comfirmOrder.list.map(item=>{
                return {product_id:item.id,product_num:item.count}
            })
            let obj={address_id:Number(this.defaultAddress.id),remarks:this.remarks,products:products}
            result=await this.orderCreate(obj)
        }else{
            let id=this.comfirmOrder.list[0].id
            let obj={address_id:Number(this.defaultAddress.id),remarks:this.remarks,id:id}
            result=await this.orderKillCreate(obj)
        }
        if(result && result.status===1){
            this.showcomfirmApply=true
            this.timer = setInterval(function () {
            if(that.time == 0){
                this.isPay=2
                clearInterval(that.timer)
                that.timeWord='重新提交订单'
            }else {
                that.time = that.time - 1
                let words=that.changeTime(that.time)
                that.timeWord=`请在（${words}）内完成支付`
                
            }
        },1000) 
        }
    },
    changeTime(value){
        let minu = parseInt(value / 60)
        let sec=parseInt(value % 60)
        return `${minu}分${sec}秒`
    },
    onCancel(){//取消支付
        clearInterval(this.timer)
        this.$router.push({name:'orderDetail',params:{id:this.orderInfo.order_id}})
    },
    async comfirmToApply(){//确认支付http://localhost:8080/#/comfirmOrder
        let obj={order_id:this.orderInfo.order_id}
        const result=await this.weixinPay(obj).then(res=>{
            if(res.status==1){
                Toast('支付成功')
                this.showcomfirmApply=false
                this.$router.push({name:'orderDetail',params:{id:this.orderInfo.order_id}})
            }
        })
    },
    getAllCount(){//计算全部商品数量
        this.allcount=0
        this.allRedBag=0
        this.allDiscount=0
        this.totalMoney=0
        let list=this.comfirmOrder.list
        this.comfirmOrder.list=list.map(item=>{
            if(item.type==0){
                let price=Number(item.price)
                let hb=Number(item.package_money)
                this.allRedBag+=Number(item.package_money)*item.count
                this.allDiscount+=(item.package_money*item.package_ratio)*item.count
                this.totalMoney+=(Number(item.price)-(item.package_money*item.package_ratio))*item.count
            }else{
                this.totalMoney+=Number(item.new_price)
            }
            this.allcount+=item.count
            return item
        })
    }
},
mounted(){
   
},
created(){
    this.loadDefaultAddress()
    this.getAllCount()
}
}
</script>

<style lang='scss'>
.ComfirmOrder{
    .van-nav-bar{
        height: 12vw;
        display: flex;
        align-items: center;
        .van-nav-bar__left{
            display: flex;
            align-items: center;
        }
        .van-icon {
            color: #363636;
            position: relative;
            top: 0.5vw;
            font-size: 5vw;
            vertical-align: middle;
        }
        .van-nav-bar__text{
            color: #363636;
            font-size: 4vw;
        }
        .van-nav-bar__title{
            font-size: 5vw;
            color: #000;
        }
    }
    .main{
        padding: 5vw 3vw;
        background: #f5f5f5;
        .address-box{
            padding: 4vw 3vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 26vw;
            background-color: #ffffff;
            box-shadow: 0vw 0vw 1vw 0vw 
                rgba(238, 238, 238, 0.35);
            border-radius: 2vw;
            .left-icon{
                width: 8vw;
            }
            .right-icon{
                width: 2vw;
            }
            .address-info{
                flex: 1;
                padding: 0 3vw;
                &-user{
                    display: flex;
                    align-items: center;
                    .name{
                        font-size: 4vw;
                        color: #000;
                        padding-right: 1vw;
                    }
                    .tele{
                        color: #999;
                        font-size: 3vw;
                    }
                }
                .address{
                    padding: 2vw 0;
                    font-size: 3vw;
                    line-height: 4vw;
                    color: #333333;
                }
                .note{
                    font-size: 3vw;
                    letter-spacing: 0vw;
                    color: #ff4e06;
                }
            }
        }
        .order-box{
            margin-top: 3vw;
            padding: 4vw 3vw;
            background-color: #ffffff;
            box-shadow: 0vw 0vw 1vw 0vw 
                rgba(238, 238, 238, 0.35);
            border-radius: 2vw;
            .pro-box{
                overflow: hidden;
                 height: 26vw;
                display: flex;
                align-items: center;
                margin-bottom: 3vw;
                .img-box{
                    width: 23vw;
                    height: 26vw;
                    background-color: #f5f5f5;
                    border-radius: 2vw;
                }
                &-info{
                    flex: 1;
                    height: 100%;
                    padding: 3vw 0;
                    padding-left: 3vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .name{
                        font-size: 3vw;
                        line-height: 5vw;
                        color: #292723;
                    }
                    .other{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        &-item{
                            display: flex;
                            align-items: center;
                            font-size: 5vw;
                            .icon{
                                font-size: 3vw;
                            }
                        }
                        .price{
                            color: #ff3600;
                        }
                        .count{
                            color: #999;
                        }
                        .oldprice{
                            margin-left: 2vw;
                           color: #999;
                           font-size: 3vw;
                           text-decoration: line-through;
                        }
                    }
                }
            }
        }
        .order-other{
            padding-top: 3vw;
            &-item{
                border-top: 1px solid #f9f9f9;
                height: 13vw;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &-left{
                    font-size: 3vw;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 5vw;
                    letter-spacing: 0vw;
                    color: #1d1d1d;
                    .price{
                        color: #ff3600;
                    }
                    .note{
                       .van-cell{
                           padding: 0;
                       }
                    }
                }
            }
        }
    }
    .foot{
        width: 100vw;
        height: 13vw;
        background-color: #ffffff;
        border: solid 0vw #ececec;
        padding: 0 3vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
         &-left{
             font-size: 3vw;
            .allcount{
               color: #999;
            }
            .alltext{
                color: #1d1d1d;
            }
            .allicon{
                color: #ff3600;
            }
            .allnum{
                font-size: 5vw;
                color: #ff3600;
            }
         }
         .apply-order{
             margin-left: 4vw;
             width: 26vw;
             display: flex;
            align-items: center;
            justify-content: center;
            height: 10vw;
            font-size: 4vw;
            color: #fff;
            background-image: linear-gradient(90deg, 
                #ff8a00 0%, 
                #ff5d00 32%, 
                #ff3000 100%), 
            linear-gradient(
                #000000, 
                #000000);
            background-blend-mode: normal, 
                normal;
            border-radius: 5vw;
         }
    }
    .pop-box{
        border-top-left-radius: 2vw;
        border-top-right-radius: 2vw;
    }
    .pop-card{
        position: relative;
        height: 100vw;
        width: 100%;
        padding: 0 3vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 9.7vw;
        .allprice{
            font-size: 8vw;
            color: #333333;
            .icon{
                font-size: 5vw;
            }
        }
        .time{
            margin-top: 3vw;
            margin-bottom: 7vw;
            font-size: 3.2vw;
            font-weight: normal;
            font-stretch: normal;
            line-height: 3.5vw;
            letter-spacing: 0vw;
            color: #989898;
        }
        .apply-style{
            width: 100%;
            li{
                width: 100%;
                padding: 4vw 0;
                display: flex;
                border-bottom: 0.1vw solid #eee;
                align-items: center;
                justify-content: space-between;
                .left{
                     display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img{
                        width: 8vw;
                    }
                    .name{
                        font-size: 4vw;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 3.5vw;
                        letter-spacing: 0vw;
                        color: #2b2b2b;
                        margin: 0 1vw;
                    }
                    .first{
                        width: 9vw;
                    }
                }
            }
        }
        .btnn{
            position: absolute;
            bottom: 4vw;
            width: 94.1vw;
            height: 9.6vw;
            color: #fff;
            border: none;
            font-size: 3.5vw;
            background-image: linear-gradient(-72deg, 
                #ff3f4a 0%, 
                #ff4325 0%, 
                #ff4600 0%, 
                #ff5f00 24%, 
                #ff7700 100%), 
            linear-gradient(
                #ededed, 
                #ededed);
            background-blend-mode: normal, 
                normal;
            border-radius: 4.7vw;
        }
    }
}
</style>
