<template>
    <div class="wrap Detail">
        <div class="main" v-if="detail">
            <HeadNav/>
            <div class="banner" v-if='detail.mainImg'>
                <van-swipe  :autoplay="3000" indicator-color="white" @change="onChange">
                     <van-swipe-item  class="banner-item" v-for="item in detail.mainImg" :key="item.id">
                         <img  :src="imgUrl+item.img_path" :alt="item.img_path">
                     </van-swipe-item>
                </van-swipe>
                <div class="indicator">{{current}}/{{detail.mainImg!=null&&detail.mainImg.length}}</div>
            </div>
            <div class="pro-info">
                <div class="price"><span class="icon">￥</span><span class="num">{{Number(detail.price).toFixed(0)}}</span> <span class="icon">.{{Number(detail.price).toFixed(2).split('.')[1]}}</span> </div>
                 <p class="name"><span class="hot-icon">热销</span><span>{{detail.name}}</span></p>
                <div class="count-box">
                    <span class="count">已售：{{detail.sales_num}}   库存：{{detail.stock}}</span>
                    <div class="red-bag">
                        <img src="../assets/me/hb.png" alt="红包">
                        <span>红包：{{detail.package_money}}元</span>
                    </div>
                    <div class="multi">抵现倍数{{detail.package_ratio}}倍</div>
                </div>
            </div>
            <div class="pro-desc">
                <div class="pro-desc-name">
                    <div class="line"></div>
                    <span>商品详情</span>
                </div>
                <div class="pro-desc-box">
                     <div v-for="item in detail.detail" :key="item.id" class="img-box">
                        <img :src="imgUrl+item.img_path" :alt="item.img_path">
                     </div>
                </div>
            </div>
        </div>
        <div class="Detail-foot">
            <div class="select"  @click="handleCollect">
                <img v-show="!isCollect" src="../assets/kill/select.png" alt="收藏">
                <img v-show="isCollect" src="../assets/kill/select-a.png" alt="收藏">
                <span>收藏</span>
            </div>
             <div class="select cart"  @click="handletoCart">
                <div class="bagage">{{cartList.length}}</div>
                <img src="../assets/bar/cart.png" alt="购物车">
                <span>购物车</span>
            </div>
            <div class="btn-box">
                <div @click="showCartPop" class="btnn add-cart">加入购物车</div>
                <div @click="toBuy" class="btnn buy">立即购买</div>
            </div>
        </div>
        <!-- 弹窗 加入购物车 -->
        <van-actionsheet class="cart-pop" v-model="showBase">
            <img @click="closeCartPop" class="cart-pop-close" src="../assets/cart/close.png" alt="关闭">
             <div class="cart-pop-top">
                 <div class="img-box" v-if='detail.mainImg'>
                     <img :src="imgUrl+detail.mainImg[0].img_path">
                 </div>
                 <div class="cart-pop-top-info">
                     <p class="price"><span class="icon">￥</span><span>{{detail.price}}</span></p>
                     <p class="count">库存：{{detail.stock}}</p>
                     <p class="address">配送至：{{defaultAddress.address}}</p>
                 </div>
             </div>
             <div class="area-box">
                     <p class="area-box-name"><span class="name">配送区域</span><span>（配送地可能会影响库存，请正确选择）</span></p>
                     <div @click="toAddressList"  class="area">
                         <div class="area-left">
                             <van-icon name="location-o" />
                             <span>{{defaultAddress.length!=0?defaultAddress.address:'还没有收货地址，前去添加'}}</span>
                         </div>
                         <img class="arrow-right" src="../assets/mall/3.png" alt="">
                     </div>
                 </div>
                 <div class="count-deal">
                     <span class="count-name">购买数量</span>
                     <van-stepper :max="detail.stock" v-model="count" />
                 </div>
            <div @click="saveCartPop" class="cart-pop-save">确定</div>
        </van-actionsheet>
    </div>
</template>

<script>
import {mapState,mapActions, mapMutations} from 'vuex'
import { Toast } from 'vant'
import HeadNav from "@/components/HeadNav"
export default {
name:'Detail',
components:{
       HeadNav
},
data(){
    return {
        id:null,
        isCollect:false,
        current:1,
        count:1,
        showBase:false,//加入购物车弹窗
    }
},
computed:{
   ...mapState('home',['detail']),
   ...mapState('cart',['cartList']),
   ...mapState('address',['defaultAddress'])
},
methods:{
    ...mapMutations('cart',['addCart']),
    ...mapMutations('order',['setComfirmOrderList']),
    ...mapActions('home',['getDetail']),
    ...mapActions('collect',['addCollect','deleteCollect']),
    ...mapActions('address',['loadDefaultAddress']),
    onChange(index) {//轮播图改变
      this.current = index+1
    },
    handleCollect(){
        this.isCollect=!this.isCollect
        if(this.isCollect){
            let obj={product_id:this.id}
            this.addCollect(obj).then(res=>{
                if(res.status===1){
                    Toast('收藏成功')
                }
            })
        }
        else{
            let obj={product_ids:this.id}
            this.deleteCollect(obj).then(res=>{
                if(res.status===1){
                    Toast('取消收藏')
                }
            })
        }
    },
    saveCartPop(){//保存加入购物车
       let date=new Date()
       let obj=this.detail
       Object.assign(obj,{count:this.count,date,ischeck:false,source:0})
       this.addCart(obj)
       this.showBase=false
       Toast.success('添加成功，在购物车等亲~')
    },
    handletoCart(){
       this.$router.push('/cart')
    },
    showCartPop(){//打开弹窗
        this.showBase=true
    },
    closeCartPop(){//关闭弹窗
        this.showBase=false
    },
    toBuy(){//立即购买
        let list=[]
        let detail=this.detail
        Object.assign(detail,{count:this.count,type:0})
        list.push(detail)
        this.setComfirmOrderList({type:0,list:list})
        //this.storage.set('payList',{type:0,list:list})
        this.$router.push('/comfirmOrder')
    },
    toAddressList(){
       this.$router.push({ name: 'addressList'})
   }
},
mounted(){
    let id=this.storage.get('ProDetail').id
    this.id=id
    this.getDetail({id})
    this.loadDefaultAddress()
}
}
</script>

<style lang='scss'>
.Detail{
    background: #f9f9f9;
    .main{
        position: relative;
        .head-nav{
            z-index: 100;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: none;
            box-shadow: none; 
            &-space{
                width: auto;
                height: 7vw;
                padding: 0 1vw;
                background: rgba($color: #000000, $alpha: 0.2);
                color: #fff;
                padding: 0vw 1vw;
                border-radius: 10vw;
                i{
                    font-size: 4.3vw;
                }
                span{
                    margin-right: 9px;
                }
            }
            .nav-left{
                font-size: 3.2vw; 
            }
            .nav-right{
               background: none;
               padding: 0;
            }
        }
        .banner{
            width: 100%;
            height: 95vw;
            overflow: hidden;
            position: relative;
            padding-bottom: 5vw;
            .van-swipe{
                width: 100%;
                height: 100%;
            }
            &-item{
                background: #eee;
            }
            .van-swipe__indicators{
                display: none;
            }
            .indicator{
                color: #fff;
                text-align: center;
                font-size: 2vw;
                bottom: 6vw;
                right: 3vw;
                position: absolute;
                width: 9vw;
                line-height: 5vw;
                height: 5vw;
                border-radius: 3vw;
                background: rgba(255, 255, 255, 0.3);
            }
        }
        .pro-info{
            position: relative;
            top: -2vw;
            background: #fff;
            border-top-left-radius: 2vw;
            border-top-right-radius: 2vw;
            padding: 6vw 3vw;
            .price{
                margin-bottom: 5vw;
                display: flex;
                align-items: flex-end;
                font-size: 5vw;
                line-height: 5vw;
                color: #ff3600;
                .icon{
                    font-size: 3vw;
                }
            }
            .name{
                font-size: 4vw;
                font-weight:bolder;
                line-height: 6vw;
                color: #292723;
                .hot-icon{
                    text-align: center;
                    padding: 0.5vw 2vw;
                    color: #f9f9f9;
                    font-size: 3vw;
                    background-image: linear-gradient(-72deg, 
                        #f4324d 0%, 
                        #fa394c 0%, 
                        #ff3f4a 0%, 
                        #fe623b 24%, 
                        #fc852b 100%), 
                    linear-gradient(
                        #fc7018, 
                        #fc7018);
                    background-blend-mode: normal, 
                        normal;
                    border-radius: 3vw;
                }
            }
            .count-box{
                margin-top: 4vw;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .count{
                    font-size: 3vw;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 5vw;
                    letter-spacing: 0vw;
                    color: #999999;
                }
                .red-bag{
                    display: flex;
                    align-items: center;
                    font-size: 3vw;
                    font-weight: bolder;
                    line-height: 5vw;
                    color: #292723;
                    img{
                        width: 3vw;
                        margin-right: 1vw;
                    }
                }
                .multi{
                    text-align: center;
                    line-height: 4vw;
                    padding: 0 1vw;
                    height: 4vw;
                    background-color: #ffedec;
                    border-radius: 2vw;
                    font-size: 3vw;
                    font-weight: normal;
                    font-stretch: normal;
                    letter-spacing: 0vw;
                    color: #fa362b;
                }
            }
        }
        .pro-desc{
            box-shadow: 0 0 3vw #eee;
            background: #fff;
            margin-top: 5vw;
            &-name{
                padding: 0 3vw;
                height: 12vw;
                display: flex;
                align-items: center;
                font-size: 4vw;
                font-weight: normal;
                font-stretch: normal;
                line-height: 5vw;
                letter-spacing: 0vw;
                color: #222222;
                border-bottom: 1px solid #eee;
                .line{
                    margin-right: 1vw;
                    width: 1vw;
                    height: 4.5vw;
                    border-radius: 1vw;
                    background-image: linear-gradient(-72deg, 
                        #f4324d 0%, 
                        #fa394c 0%, 
                        #ff3f4a 0%, 
                        #fe623b 24%, 
                        #fc852b 100%);
                }
            }
            &-box{
                padding: 3vw;
                .img-box{
                    width: 100%;
                    border-radius: 2vw;
                    margin-bottom: 2vw;
                    img{
                        width: 100%;
                        border-radius: 2vw;
                    }
                }
            }
        }
    }
    .cart-pop{
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 100;
        border-top-left-radius: 2vw;
        border-top-right-radius: 2vw;
        height: 113vw;
        padding: 3vw;
        width: 100%;
        overflow: hidden;
        .cart-pop-close{
             position: absolute;
             right: 3vw;
             top: 3vw;
             width: 5vw;
        }
        &-top{
            display: flex;
            align-items: center;
            padding-bottom: 10vw;
            .img-box{
                width: 23vw;
                height: 26vw;
                background-color: #f5f5f5;
                border-radius: 2vw;
                overflow: hidden;
            }
            &-info{
                padding-left: 2vw;
                display: flex;
                flex-direction: column;
               .price{
                   font-size: 5vw;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 5vw;
                    letter-spacing: 0vw;
                    color: #ff3600;
                    .icon{
                        font-size: 3vw;
                    }
               }
               .count{
                   font-size: 3vw;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 5vw;
                    letter-spacing: 0vw;
                    color: #999999;
               }
               .address{
                   font-size: 3vw;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 5vw;
                    letter-spacing: 0vw;
                    color: #1d1d1d;
               }

            }
        }
        .area-box{
            &-name{
                 font-size: 3vw;
                line-height: 5vw;
                color: #999999;
                padding-bottom: 2vw;
                .name{
                    color: #1d1d1d;
                }
            }
            .area{
                display: flex;
                align-items: center;
                justify-content: space-between;
                &-left{
                     display: flex;
                    align-items: center;
                    font-size: 3.2vw;
                     color: #666;
                }
                .arrow-right{
                    width: 3vw;
                }
            }
        }
        .count-deal{
            margin-top: 18vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .count-name{
                font-size: 3vw;
                font-weight: normal;
                font-stretch: normal;
                line-height: 5vw;
                letter-spacing: 0vw;
                color: #1d1d1d;
            }
        }
        .cart-pop-save{
            position: absolute;
            bottom: 8vw;
            text-align: center;
            line-height: 10vw;
            color: #fff;
            font-size: 4vw;
            width: 94vw;
            height: 10vw;
            background-image: linear-gradient(-72deg, 
                #ff3f4a 0%, 
                #ff4325 0%, 
                #ff4600 0%, 
                #ff5f00 24%, 
                #ff7700 100%), 
            linear-gradient(
                #ededed, 
                #ededed);
            background-blend-mode: normal, 
                normal;
            border-radius: 5vw;
        }
    }
    &-foot{
        width: 100vw;
        height: 13vw;
        padding: 0 3vw;
        background-color: #ffffff;
        border: solid 0vw #ececec;
        display: flex;
        align-items: center;
        .select{
            width: 38vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 3vw;
            color: #666;
            img{
                width: 5vw;
                margin-bottom: 1vw;
            }
        }
        .cart{
            position: relative;
            .bagage{
                position: absolute;
                top: -1vw;
                right: 4vw;
                color: #fff;
                background: red;
                font-size: 3vw;
                padding: 0.5vw 1.5vw;
                border-radius: 3vw;
            }
        }
        .btn-box{
            display: flex;
            align-items: center;
            .btnn{
                width: 29vw;
                height: 10vw;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3vw;
                color: #fff;
            }
            .add-cart{
                border-top-left-radius:10vw;
                border-bottom-left-radius: 10vw; 
                background-image: linear-gradient(90deg, 
                    #ffca00 0%, 
                    #ffb001 32%, 
                    #ff9502 100%), 
                linear-gradient(
                    #000000, 
                    #000000);
            }
            .buy{
                border-top-right-radius:10vw;
                border-bottom-right-radius: 10vw; 
                background-image: linear-gradient(90deg, 
                    #ff7600 0%, 
                    #ff5300 32%, 
                    #ff3000 100%);
            }
        }
    }
    .van-toast--default{
        width: 100%;
        .van-toast--default{
            color: #ff5200;
        }
    }
    // .van-icon::before{
    //     color: #ff5200;
    //     background:  #ff5200;
    // }
    
}
.van-toast{
    color: #ff5200;
}
.van-toast__text{
   color: #fff;
}
</style>
