<template>
    <div class="wrap EditAddress">
       <HeadNav :title='navtitle'/>
        <div class="main" v-if="currentAddress">
            <van-cell-group class="edit-box">
                <van-field
                    v-model="currentAddress.collect_name"
                    clearable
                    input-align='left'
                    label="收件人"
                    placeholder="请输入收件人姓名"
                    :error-message="nameErr"
                />
                <van-field
                    v-model="currentAddress.collect_tel"
                    clearable
                    input-align='left'
                    label="手机号码"
                    placeholder="请输入11位手机号码"
                    :error-message="teleErr"
                />
                <van-field
                    v-model="selectArea"
                    @click="showAreaBox"
                    readonly
                    input-align='left'
                    label="地区"
                    placeholder="请选择省、市、区"
                    :error-message="areaErr"
                >
                <img class="area-icon" src="../assets/mall/address.png" alt="" slot='right-icon'>
                </van-field>
                 <van-field
                    v-model="detailArea"
                    clearable
                    input-align='left'
                    label="详细地址"
                    placeholder="请输入详细地址"
                    :error-message="areaErr"
                />
           </van-cell-group>
           <button @click="saveAddress" class="save-btn">保 存</button>
            <van-actionsheet class="area-wrap" v-model="showArea" >
               <van-area class="area-box" 
                :default-index="22"
                :area-list="areaList"
                @confirm='comfirmArea'  
                @cancel='cancelArea'
                @change="changeArea"
                title="请选择" />
            </van-actionsheet>
           
        </div>
    </div>
</template>

<script>
import { Toast } from 'vant'
import  HeadNav from '@/components/HeadNav'
import {mapState,mapActions} from 'vuex'
export default {
name:'EditAddress',
components:{
   HeadNav
},
data(){
    return {
        navtitle:'新增收货地址',
        id:false,//判断是新增还是修改
        areaList:null,
        showArea:false,
        selectArea:'',
        detailArea:'',
        currentAddress: {
            collect_name:'',collect_tel:'',address:''
        },
        teleErr:'',
        nameErr:'',
        areaErr:'',
        isSubmit:true

    }
},
computed:{
    ...mapState('address', ['addressList']),//收货地址模块
},
methods:{
    ...mapActions('address', ['loadAddress','addAddress', 'updateAddress']),//收货地址模块
   showAreaBox(){
       this.showArea=true
   },
   comfirmArea(value){
       let obj={province:value[0].name,city:value[1].name,country:value[2].name}
       this.selectArea=`${obj.province} ${obj.city} ${obj.country}`
       this.showArea=false
   },
   changeArea(picker, values){
       let obj={province:values[0].name,city:values[1].name,country:values[2].name}
       this.selectArea=`${obj.province} ${obj.city} ${obj.country}`
   },
   cancelArea(){
       this.showArea=false
   },
   checkErr(){
        if(!(/^1[34578]\d{9}$/.test(this.currentAddress.collect_tel))){
            this.teleErr='手机格式错误'
            this.isSubmit=false
        }
        else{
            this.teleErr=''
            this.isSubmit=true
        }
        if(this.currentAddress.collect_name==''){
            this.nameErr='不能为空'
            this.isSubmit=false
        }else{
            this.nameErr=''
            this.isSubmit=true
        }
        if(this.selectArea==''||this.detailArea==''){
            this.areaErr='不能为空'
            this.isSubmit=false
        }else{
            this.areaErr=''
            this.isSubmit=true
        }
   },
   saveAddress(){//保存收货地址
       this.checkErr()
       if(this.isSubmit){
          let address=this.selectArea+this.detailArea
        if(this.id){//编辑
            let obj={id:this.id,collect_name:this.currentAddress.collect_name,collect_tel:this.currentAddress.collect_tel,address:address}
                this.updateAddress(obj).then(res=>{
                if(res.status===1){
                    Toast('编辑成功')
                    this.$router.go(-1)
                }
            })
        }else{//增加
            let obj={collect_name:this.currentAddress.collect_name,collect_tel:this.currentAddress.collect_tel,address:address}
            this.addAddress(obj).then(res=>{
                if(res.status===1){
                    Toast('成功增加新地址')
                    this.$router.go(-1)
                }
            })
        }
       }
       
   }
},
mounted(){
    this.areaList=this.area//获取地区数据
    let currentAddress=this.storage.get('currentAddress')|| false
    if(currentAddress){
        this.currentAddress.addAddress=currentAddress.addAddress
        this.currentAddress.collect_name=currentAddress.collect_name
        this.currentAddress.collect_tel=currentAddress.collect_tel
        this.id=currentAddress.id
    }else{
        this.id=false
    }
},
destroyed(){
    this.storage.remove('currentAddress')
}
}
</script>

<style lang='scss'>
.EditAddress{
   background: #f9f9f9;
   .main{
       padding: 5vw 3vw;
       .edit-box{
           box-shadow: 0 0 1vw #eee;
           .van-cell:not(:last-child)::after{
               border: none;
           }
           .van-cell:not(:last-child){
               border-bottom: 0.1vw solid #f8f5f5;
           }
       }
       .area-icon{
           width: 4vw;
       }
       .save-btn{
           width: 100%;
           margin-top: 10vw;
           height: 9.6vw;
           border: none;
           color: #fff;
            background-image: linear-gradient(-72deg, 
                #ff3f4a 0%, 
                #ff4325 0%, 
                #ff4600 0%, 
                #ff5f00 24%, 
                #ff7700 100%), 
            linear-gradient(
                #ededed, 
                #ededed);
            background-blend-mode: normal, 
                normal;
            border-radius: 4.7vw;
       }
   }
   .area-wrap{
       height: 72vw;
   }
   .area-box{
       left: 0;
       position: fixed;
       bottom: 0;
       width: 100%;
       .van-picker__cancel, .van-picker__confirm{
           color: #ff4600;
       }
   }
}
</style>
