<template>
    <div class="wrap Empty">
        <van-search
            class="Search-top"
            v-model="searchKey"
            placeholder="请输入搜索关键词"
            show-action
            shape="round"
            @search="onSearch"
            >
            <div slot="action" @click="onCancel">取消</div>
        </van-search>
        <!-- 购物车
        <div v-show="name=='cart'" class="main">
            <img src="../assets/empty/cart.png" alt="">
            <router-link to="/home" tag="p" class="note">购物车空空的，犒劳下自己吧~</router-link>
        </div> -->
        <!-- 加载数据失败，试试刷新页面~ -->
        <div v-show="status==404" class="main">
            <img src="../assets/empty/data.png" alt="">
            <p class="note">加载数据失败，试试刷新页面~</p>
        </div>
        <!-- 脑瓜疼，找不到您要的商品啊~ -->
        <!-- <div v-show="name=='search'" class="main">
            <img src="../assets/empty/search.png" alt="">
            <p class="note">脑瓜疼，找不到您要的商品啊~</p>
        </div> -->
        <!--网络竟然崩溃了，试试刷新页面吧~  -->
        <div v-show="status==500" class="main">
            <img src="../assets/empty/inter.png" alt="">
            <p class="note">网络竟然崩溃了，试试刷新页面吧~</p>
        </div>
    </div>
</template>

<script>
export default {
name:'Empty',
data(){
    return {
        searchKey:'',
        currentUrl:null,
        status:200
    }
},
methods:{
    onSearch(){

    },
    onCancel(){
        this.$router.go(-1)
    }
},
mounted(){
    this.status=this.storage.get('emptyStatus').status
}
}
</script>

<style lang='scss'>
.Empty{
     .van-search{
         border-bottom: 1px solid #f5f5f5;
        .van-search__content{
             background-color: #f5f5f5;
             line-height: 7.9vw;
             height: 7.9vw;
        }
        .van-cell{
            background-color: #efefef;
            border-radius: 3.9vw;
            .van-icon{
                font-size: 4vw;
            }
        }
    }
    .main{
        display: flex;
        align-items: center;
         padding-top: 26vw;
        flex-direction: column;
        img{
            width: 40vw;
        }
        .note{
            font-size: 3.2vw;
            font-weight: normal;
            font-stretch: normal;
            line-height: 5.3vw;
            letter-spacing: 0vw;
            color: #c1c1c1;
        }
    }
}
</style>
