<template>
   <!-- 
       lottery-prizenum	Number	奖品总数量	是
        lottery-prizeno	Number	从起点开始逆时针算，中奖的是第几个	是
        lottery-bg	String	背景图	否
        content-bg	String	内容区域背景图	是
        pointer-bg	String	指针背景图	是
        lottery-start	Number	0为停止，1为开始转动	否
        lotteryDone	Function	旋转完成后的回调函数	否
        lotteryClick	Function	点击抽奖按钮的回调	否
        lottery-width	String	内外圈间距百分比	否  :lottery-bg="bg"
    -->
    <div class="wrap Game">
        <lottery
            @lotteryClick="lotteryClick"
            @lotteryDone="lotteryDone"
            :lottery-start="lotteryStart"
            :lottery-prizenum="prizeNum"
            :lottery-prizeno="prizeNo"
            :content-bg="content"
            :pointer-bg="hand"
            :lottery-width="['90%','20%']"
        />
         <div class="head">
            <div @click="goback" class="head-item back">
                <van-icon name="arrow-left" />
                <span>退出</span>
            </div>
            <div @click="toHistory" class="head-item history">
                <van-icon name="clock-o" />
                <span>中奖历史</span>
            </div>
        </div>
        <div class="foot" v-show='countInfo!=0'>
            <p>每个月最多抽奖 {{count}} 次</p>
            <h2>剩余 <span class="num">{{remain}}</span> 次</h2>
        </div>
        <div class="foot" v-show='countInfo==0'>
            <h2>不限次数</h2>
        </div>

        <van-popup class="prize-pop" v-model="showpop" :close-on-click-overlay='false'>
            <van-icon @click="closepop" class="close-pop" name="close" />
            <!-- {{prizeData.name}} -->
            <h2 class="prize">奖品：{{prizeData.name}} </h2>
            <van-cell-group>
                <van-field
                    v-model="collect_name"
                    clearable
                    label="姓  名"
                    placeholder="请输入姓名"
                />
                <van-field
                    v-model="collect_tel"
                    clearable
                    label="电话号码"
                    placeholder="请输入电话号码"
                />
                <van-field
                    v-model="collect_address"
                    clearable
                    label="收货地址"
                    placeholder="请输入收货地址"
                />
            </van-cell-group>
            <van-button class="pop-btn" @click="getPrize" size="large">领取</van-button>
        </van-popup>
    </div>
</template>

<script>
import { Dialog,Toast } from 'vant'
export default {
name:'Game',
data(){
    return {
        content:require('../assets/game/content.png'),
        hand:require('../assets/game/hand.png'),
        lotteryStart: 0,//开始停止
        prizeNo: 0,//中奖编号
        prizeNum: 6,//奖品数量
        prizeList:[],//奖品列表
        count:0,//抽奖总次数
        remain:0,//剩余次数
        isAllow:true,
        prizeData:{
            name:'红包2元',
            type:0,
            prize_id:null,
            position:1
        },
        success:false,
        showpop:false,
        collect_tel:'',
        collect_address:'',
        collect_name:''


    }
},
methods:{
   lotteryClick () {//点击抽奖
        if(!this.isAllow){
            Toast('禁止抽奖')
            return false
        }
        let prizeCheck=this.storage.get('prizeCheck')
        let obj={method:'post',url:'prize_smoke_prize',data:prizeCheck}
        this.$http(obj).then(res=>{
            if(res.status==1){
                this.lotteryStart = 1
                this.prizeData=res.data
                this.prizeNo=res.data.position-1
                this.success=true
                alter(res.data.name,res.data.position,this.prizeNo)
            }else{
                 this.success=false
            }
        })  
    },
    lotteryDone (res) {//旋转完后
        this.lotteryStart = 0
        if(!this.success){
            Toast('抽奖失败')
            return false
        }
        if(this.prizeData.type==2){
            this.showpop=true
        }else{
            Dialog.alert({
            message: `恭喜获得${this.prizeData.name}`
            }).then(() => {
            // on close
            });
        }
    },
    closepop(){
         Dialog.confirm({
            title: '温馨提示',
            message: '是否放弃领取奖品'
            }).then(() => {
               this.showpop=false
            }).catch(() => {
            // on cancel
            });
    },
    getPrize(){//领取奖品
        if(this.collect_name==''){
            Toast('请输入姓名')
            return false
        }
        if(!(/^1(3|4|5|7|8)\d{9}$/.test(this.collect_tel))){
            Toast('请正确输入电话号码')
            return false
        }
        if(this.collect_address==''){
            Toast('请输入收货地址')
            return false
        }
        let obj={method:'post',url:'prize_address',data:{prize_id:this.prizeData.prize_id,collect_address:this.collect_address,collect_name:this.collect_name,collect_tel:this.collect_tel}}
        this.$http(obj).then(res=>{
            console.log(res)
            if(res.status==1){
                Toast('领取成功')
            }
        })
    },
    goback(){
        this.$router.go(-1)
    },
    toHistory(){
        this.$router.push('/winRecord')
    }
},
mounted(){
    
},
created(){
    let obj={method:'get',url:'prize_second',data:{type:6}}
    this.$http(obj).then(res=>{
        if(res.status==1){
            this.count=res.data.countInfo
            this.remain=Number(res.data.countInfo)-Number(res.data.count)
            this.isAllow=res.data.flag
        }
    })
}
}
</script>

<style lang='scss'>
.Game{
    background: url('../assets/game/bg.png') no-repeat center;
    background-size: contain;
    .head{
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6vw 3vw;
        &-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            font-size: 3.9vw;
            padding: 0.6vw 2vw;
            border-radius: 10vw;
            i{
                font-size: 5vw;
                color: #fff;
            }
        }
        .back{
                background-image: linear-gradient(45deg, 
                    #d8b79a 0%, 
                    #bc9577 100%);
                span{
                    padding-right: 3px;
                }
            }
            .history{
                background-image: linear-gradient(45deg, 
                    #fea264 0%, 
                    #ff5844 100%);
        }
    }
    .foot{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 5vw;
        p{
            font-size: 3.1vw;
	        color: #4e4e4e;
            padding-bottom: 2vw;
        }
        h2{
            font-size: 4vw;
	        color: #4e4e4e;
            .num{
                background: #ff302d;
                color: #fff;
                padding: 1px 2vw;
            }
        }
    }
    .lottery_wraper{
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: 10;
        .lottery_bg{
           width: 100%;
           height: 100%;
           overflow: hidden;
           img{
               height: 100%;
           }
        }
       .lottery_Content {
                z-index: 50;
                top: 50%;
                left: 50%;
                margin-top: 17vw;
        }
        .lottery_pointer{
            z-index: 100;
            top: 60%;
        }
    }
    .list{
        z-index: 80;
        background: rgba($color: #000000, $alpha: 0.3);
        top: 52%;
        margin-left: 14vw;
        width: 71vw;
        height: 71vw;
        border-radius: 50%;
        display: flex;
        position: fixed;
        transform: rotate3d(0, 0, 1, 202.5deg);
        li{
            font-size: 3.2vw;
            position: absolute;
            overflow: hidden;
            color: #fff;
            width: 21.5vw;
            height: 21.5vw;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            img{
                width: 10vw;
                margin-top: 2vw;
            }
        }
        li:nth-child(2n){
             color: #ff302d;
        }
        &-item0{
            top: 4vw;
            left:31.5vw;
           transform: rotate(23deg);
        }
        &-item1{
             top: 16vw;
            left:43vw;
           transform: rotate(68deg);
        }
        &-item2{
             top: 32vw;
            left:42vw;
            transform: rotate(113deg);
        }
        &-item3{
             top: 42vw;
            left:30vw;
           transform: rotate(158deg);
        }
        &-item4{
             top: 44vw;
            left:15vw;
           transform: rotate(203deg);
        }
        &-item5{
             top: 33vw;
            left:3vw;
           transform: rotate(248deg);
        }
        &-item6{
             top: 17vw;
            left:3vw;
           transform: rotate(293deg);
        }
        &-item7{
             top: 5vw;
            left:14vw;
           transform: rotate(338deg);
        }
    }
    .prize-pop{
        width: 80vw;
        padding: 3vw;
        border-radius: 3vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        h2{
            text-align: center;
            padding: 2vw 0;
        }
        .close-pop{
            position: relative;
            left: 35vw;
            font-size: 5vw;
            color: #ff5844;
        }
        .pop-btn{
            border-radius: 3vw;
            width: 87%;
            margin: 2vw 0;
            height: 40px;
            line-height: 40px;
            background-color: #ff5844;
            color: #fff;
        }
    }
}
</style>
