<template>
    <div class="wrap GoodsList">
        <HeadNav :title='type==0?"热销":"全部商品"'/>
        <div class="main">
          <div class="wrapper" ref="wrapper">
            <div class="bscroll-container">
                <!-- 刷新提示信息 -->
                <div class="top-tip">
                    <span class="refresh-hook">{{pulldownMsg}}</span>
                </div>
                <!-- 内容列表 -->
                 <!-- 1111111111111全部商品 -->
                <div class="pro-list-ul" v-if="type!=0">
                  <div @click="toDetail(item.id)" class="pro-list-ul-li" v-for=" item in list" :key="item.id">
                    <div class="img-box">
                        <div v-show="item.is_hot==0" class="hot-icon">新品</div>
                        <div v-show="item.is_hot==1" class="hot-icon">热销</div>
                        <div v-show="item.is_hot==2" class="hot-icon">促销</div>
                        <img :src="imgUrl+item.mainImg[0].img_path" alt="">
                    </div>
                    <div class="pro-list-ul-li-info">
                      <p class="title">{{item.name}}</p>
                      <div class="info-box">
                          <div class="price">
                              <span class="icon">￥</span><span>{{Number(item.price).toFixed(0)}}</span><span class="icon">.{{Number(item.price).toFixed(2).split('.')[1]}}</span>
                          </div>
                          <span class="count">已售：{{item.sales_num}} &nbsp; &nbsp;&nbsp;&nbsp; 库存：{{item.stock}}</span>
                        </div>
                      <div class="info-box discount">
                        <div class="info-box-item">
                          <img src="../assets/me/hb.png" alt="红包">
                          <span class="name">红包:{{item.package_money}}元</span>
                        </div>
                        <div class="multi">抵现倍数{{item.package_ratio}}倍</div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                  <!--222222222222 热销 -->
                <div class="pro-list-ul" v-if='type==0'>
                  <li @click="toDetail(item.id)" class="pro-list-ul-li" v-for=" item in list" :key="item.id">
                    <div class="img-box" v-if='item.mainImg'>
                      <div class="hot-icon">热销</div>
                      <img :src="imgUrl+item.mainImg.img_path" alt="">
                    </div>
                    <div class="pro-list-ul-li-info">
                      <p class="title">{{item.name}}</p>
                      <div class="info-box">
                        <div class="info-box-item price">
                          <span class="name">零售价: </span>
                          <div class="num">
                            <span class="ling fw">{{item.price}}</span>
                            <span class="unit">元</span>
                          </div>
                        </div>
                          <div class="info-box-item">
                          <span class="name">兑换价: </span>
                          <div class="num">
                            <span class="fw">{{(Number(item.price)-item.package_money*item.package_ratio).toFixed(2)}}</span>
                            <span class="unit">元</span>
                          </div>
                        </div>
                      </div>
                      <p class="count">已售：{{item.sales_num}} &nbsp; &nbsp;&nbsp;&nbsp; 库存：{{item.stock}}</p>
                      <div class="info-box discount">
                        <div class="info-box-item">
                          <img src="../assets/mall/sya.png" alt="">
                          <span class="name">需要红包:</span>
                          <span class="num">{{item.package_money}}元</span>
                        </div>
                        <div class="info-box-item">
                          <img src="../assets/mall/syb.png" alt="">
                          <span class="name">抵扣现金:</span>
                          <span class="num">{{item.package_money*item.package_ratio}}元</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </div>
                <!-- 底部提示信息 -->
                <div class="bottom-tip">
                    <span class="loading-hook">{{pullupMsg}}</span>
                </div>
            </div>
          </div> 
        </div>
    </div>
</template>

<script>
import { Dialog,Toast } from 'vant'
import BScroll from "better-scroll"
import {mapState,mapActions, mapMutations} from 'vuex'
import  HeadNav from '@/components/HeadNav'
export default {
name:'GoodsList',
components:{
   HeadNav
},
data(){
    return {
       type:1,//0：热销1:全部
       list:[],
       offset:0,
       length:20,
       finished:false,
       pulldownMsg: '下拉刷新',
       pullupMsg: '加载更多',
       scroll:null,
    }
},
computed:{
},
methods:{
   getList(){
          let that=this
          if(this.type==0){
            let obj={method:'post',url:'hot',data:{offset:this.offset,length:this.length}}
            this.$http(obj).then(res=>{
                if(res.status==1){
                    this.list=[...this.list,...res.data]
                    if(res.data.length<this.length){
                        this.finished=true
                        this.pullupMsg='没有更多'
                    }else{
                        this.pullupMsg='加载更多'
                        this.finished=false
                    }
                    this.offset+=this.length
                    //恢复刷新提示文本值
                    that.pulldownMsg = '下拉刷新'
                    //刷新列表后，重新计算滚动区域高度
                    that.scroll.refresh();
                }
            }) 
          }else{
            let obj={method:'post',url:'product',data:{offset:this.offset,length:this.length}}
            this.$http(obj).then(res=>{
                if(res.status==1){
                    this.list=[...this.list,...res.data]
                    if(res.data.length<this.length){
                      this.finished=true
                      this.pullupMsg='没有更多'
                    }else{
                        this.finished=false
                        this.pullupMsg='加载更多'
                    }
                    this.offset+=this.length
                    //恢复刷新提示文本值
                    that.pulldownMsg = '下拉刷新'
                    //刷新成功后提示
                    //刷新列表后，重新计算滚动区域高度
                    that.scroll.refresh();
                }
            }) 
          }
          
      
   },
   toDetail(id){
      this.storage.set('ProDetail',{id,type:0})
      this.$router.push({ name: 'detail'})
   },
},
mounted(){
},
created(){
  this.type=this.storage.get('allProList').type
  const that = this
  this.getList()
  this.$nextTick(() => {
          this.scroll = new BScroll(this.$refs.wrapper,{       //初始化better-scroll
              probeType:1,   //1 滚动的时候会派发scroll事件，会截流。2滚动的时候实时派发scroll事件，不会截流。 3除了实时派发scroll事件，在swipe的情况下仍然能实时派发scroll事件
              click: true   //是否派发click事件
          })
          // 滑动过程中事件
          this.scroll.on('scroll',(pos)=>{
              if(pos.y > 30){
                  this.pulldownMsg = '释放立即刷新'
              }
          });
          //滑动结束松开事件
          this.scroll.on('touchEnd',(pos) =>{  //上拉刷新
              if(pos.y > 30){
                  that.list=[]
                  that.offset=0
                  that.getList()
                  this.pullupMsg = '加载更多';
              } 
              else if(pos.y<(this.scroll.maxScrollY - 30)){   //下拉加载
                if(this.finished==true){
                  this.pullupMsg = '没有更多了'
                }else{
                  this.pullupMsg = '加载中...';
                  that.getList()
                }
                  
              }
          })      
  })
}
}
</script>

<style lang='scss'>
.GoodsList{
   .main{
        background: #f5f5f5;
        padding-top: 3vw;
        .wrapper{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            /* 下拉、上拉提示信息 */
          .top-tip{
              position: absolute;  
              top: -40px;  
              left: 0;
              z-index: 1;  
              width: 100%;  
              height:40px;  
              line-height:40px;  
              text-align:center;
              color: #555;
          } 
            
          .bottom-tip{
              width: 100%;
              height: 35px;
              line-height: 35px;
              text-align: center;
              color: #777;
              background: #f2f2f2;
              position: absolute;
              bottom: -35px;
              left: 0;
          }


        }
      .pro-list-ul{
          width: 100%;
          height: 100%;
          box-shadow: 0 0 10vw #eee;
          overflow-x:hidden;
        &-li{
          background: #fff;
          height: 38vw;
          padding: 3vw 3vw;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid #eee;
          border-radius: 3vw;
          .img-box{
            width: 23vw;
            height: 26vw;
            background-color: #f5f5f5;
            border-radius: 2vw;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img{
              width: 100%;
            }
            .hot-icon{
              width: 8.5vw;
              height: 5.1vw;
              border-bottom-right-radius: 1.3vw;
              background-image: linear-gradient(-72deg, 
                #f4324d 0%, 
                #fa394c 0%, 
                #ff3f4a 0%, 
                #fe623b 24%, 
                #fc852b 100%), 
              linear-gradient(
                #ffd161, 
                #ffd161);
              background-blend-mode: normal, 
                normal;
                 z-index: 10;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 color: #fff;
                 font-size: 3vw;
                position: absolute;
                top: 0;
                left: 0;
            }
          }
          &-info{
            flex: 1;
            padding-left: 4vw;
            .title{
              font-size: 4vw;
              font-weight: normal;
              font-stretch: normal;
              line-height: 5vw;
              letter-spacing: 0vw;
              color: #292723;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
              margin-bottom: 2vw;
            }
            .info-box{
              display: flex;
              align-items: center;
              .price{
                    font-size: 4.8vw;
                    color: #ff3600;
                    .icon{
                        font-size: 3vw;
                    }
              }
              &-item{
                margin-right: 3vw;
                display: flex;
                align-items: center;
                .name{
                  font-size: 3.2vw;
                  font-weight: normal;
                  font-stretch: normal;
                  line-height: 5vw;
                  letter-spacing: 0vw;
                  color: #242424;
                }
                .num{
                  font-size: 4vw;
                    font-weight: bolder;
                    font-stretch: normal;
                    line-height: 5vw;
                    letter-spacing: 0vw;
                    color: #ff3600;
                    .unit{
                       font-size: 3vw;
                    }
                }
                img{
                  width: 3.5vw;
                  margin-right: 1vw;
                }
                .ling{
                  text-decoration: line-through;
                }
                .fw{
                  font-weight: bolder;
                }
              }
            }
            .discount{
              margin-top: 2vw;
              .num{
                font-size: 4vw;
              }
              .multi{
                   padding:0 2vw;
                   line-height: 4.4vw;
                    height: 4.4vw;
                    background-color: #ffedec;
                    border-radius: 2.2vw;
                    font-size: 2.9vw;
                    color: #fa362b;
              }
            }
            .count{
              font-size: 3.2vw;
              font-weight: normal;
              font-stretch: normal;
              line-height: 5vw;
              letter-spacing: 0vw;
              color: #999999;
            }
          }
        }
        &-li:first-child{
            border-top: 0px;
        }
        .fresh{
          height: 100%;
          &-list{
            height: 100%;
          }
        }
      }
   }
}
</style>
