<template>
    <div class="wrap home">
      <div class="head">
        <!-- <span @click="outLogin">X</span> -->
         <router-link to="/search" tag="div" class='search-box'>
           <van-icon class="icon" name="search" />
           <span>输入产品名称</span>
         </router-link>
         
      </div>
      <div class="main">
        <div v-show="banner" class="banner">
          <van-swipe @change="onChange" :autoplay="3000">
            <van-swipe-item v-for="item in banner" :key="item.p_title">
              <img :src="imgUrl+item.p_path" :alt="item.p_title">
            </van-swipe-item>
          </van-swipe>
          <div class="dots">
            <span :class="item==currentIndex?'active':''" v-for="item in banner.length" :key="item"></span>
          </div>
        </div>
        <!-- 热销 -->
         <div class="pro-list">
           <div class="pro-list-nav">
             <span class="pro-list-nav-name">热销</span>
             <div @click="seeMore(0)" class="see-more">
               <span>查看全部</span>
               <img src="../assets/mall/3.png" alt="查看更多">
             </div>
           </div>
           <div class="pro-list-ul">
             <li @click="handleToDetail(item.id)" class="pro-list-ul-li" v-for="item in hotList" :key="item.id">
               <div class="img-box" v-if='item.mainImg'>
                 <div class="hot-icon">热销</div>
                 <img :src="imgUrl+item.mainImg.img_path" alt="">
               </div>
               <div class="pro-list-ul-li-info">
                 <p class="title">{{item.name}}</p>
                 <div class="info-box">
                   <div class="info-box-item price">
                     <span class="name">零售价: </span>
                     <div class="num">
                       <span class="ling fw">{{item.price}}</span>
                       <span class="unit">元</span>
                     </div>
                   </div>
                    <div class="info-box-item">
                     <span class="name">兑换价: </span>
                     <div class="num">
                       <span class="fw">{{item.price-item.package_money*item.package_ratio}}</span>
                       <span class="unit">元</span>
                     </div>
                   </div>
                 </div>
                 <p class="count">已售：{{item.sales_num}} &nbsp; &nbsp;&nbsp;&nbsp; 库存：{{item.stock}}</p>
                 <div class="info-box discount">
                   <div class="info-box-item">
                     <img src="../assets/mall/sya.png" alt="">
                     <span class="name">需要红包:</span>
                     <span class="num">{{item.package_money}}元</span>
                   </div>
                   <div class="info-box-item">
                     <img src="../assets/mall/syb.png" alt="">
                     <span class="name">抵扣现金:</span>
                     <span class="num">{{item.package_money*item.package_ratio}}元</span>
                   </div>
                 </div>
               </div>
             </li>
           </div>
         </div>
         <!-- 其他 -->
          <div class="pro-list">
           <div class="pro-list-nav">
             <span class="pro-list-nav-name">其他</span>
             <div @click="seeMore(1)" class="see-more">
               <span>查看全部</span>
               <img src="../assets/mall/3.png" alt="查看更多">
             </div>
           </div>
           <div class="pro-list-ul">
             <li @click="handleToDetail(item.id)" class="pro-list-ul-li" v-for=" item in otherList" :key="item.id">
               <div class="img-box">
                 <img :src="imgUrl+item.mainImg[0].img_path" alt="">
               </div>
               <div class="pro-list-ul-li-info">
                 <p class="title">{{item.name}}</p>
                 <div class="info-box">
                   <div class="info-box-item price">
                     <span class="name">零售价: </span>
                     <div class="num">
                       <span class="ling fw">{{item.price}}</span>
                       <span class="unit">元</span>
                     </div>
                   </div>
                    <div class="info-box-item">
                     <span class="name">兑换价: </span>
                     <div class="num">
                       <span class="fw">{{(Number(item.price)-item.package_money*item.package_ratio).toFixed(2)}}</span>
                       <span class="unit">元</span>
                     </div>
                   </div>
                 </div>
                 <p class="count">已售：{{item.sales_num}} &nbsp;&nbsp;&nbsp;&nbsp;  库存：{{item.stock}}</p>
                 <div class="info-box discount">
                   <div class="info-box-item">
                     <img src="../assets/mall/sya.png" alt="">
                     <span class="name">需要红包:</span>
                     <span class="num">{{item.package_money}}元</span>
                   </div>
                   <div class="info-box-item">
                     <img src="../assets/mall/syb.png" alt="">
                     <span class="name">抵扣现金:</span>
                     <span class="num">{{item.package_money*item.package_ratio}}元</span>
                   </div>
                 </div>
               </div>
             </li>
           </div>
         </div>
      </div>
       <Tabbar/>
    </div>
</template>

<script>
import {mapState,mapActions} from 'vuex'
import Tabbar from "@/components/Tabbar";
export default {
name:'Home',
components:{
  Tabbar
},
data(){
    return {
       searchText:'',
       currentIndex:1
    }
},
computed:{
   ...mapState('home',['banner','hotList','otherList'])
},
methods: {
   ...mapActions('home',['getBanner','getHot','getOther']),
   outLogin(){//退出登录
      this.storage.remove('session')
      this.$router.push('/login')
   },
   onChange(index){
      this.currentIndex=index+1
    },
    handleToDetail(id){
      this.storage.set('ProDetail',{id,type:0})
      this.$router.push({ name: 'detail'})
    },
    seeMore(id){
      this.storage.set('allProList',{type:id})
      this.$router.push({ name: 'goodsList',params:{type:id}})
    }
  },
  created(){
    this.getBanner()
    this.getHot()
    this.getOther()
  }
}
</script>

<style lang='scss'>
.home{
  height: 100%;
   background: url('../assets/mall/bg.png') no-repeat center top;
  background-size: contain;
  background-color: #f9f9f9;
  .head{
    padding: 4vw 0;
    .van-nav-bar{
      background: none;
      .van-icon{
        color: #fff;
        font-size: 6vw;
      }
      .van-nav-bar__title{
        font-size: 5vw;
        color: #f9f9f9;
      }
    }
    .van-hairline--bottom::after {
    border-bottom-width: 0px;
    }
    .search-box{
      overflow: hidden;
      margin-bottom: 5vw;
      margin: 0 4vw;
      width: 92vw;
      height: 8vw;
      background-color: rgba($color: #ececec, $alpha: 0.2) !important;
      border-radius: 4vw;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 3.2vw;
      .icon{
        font-size: 4vw;
      }
    }
    
  }
  .main{
    padding:1vw 3vw;
    .banner{
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                margin-bottom: 6vw;
                .van-swipe{
                    overflow: hidden;
                    width: 100%;
                    border-radius: 2.7vw;
                    .van-swipe-item{
                      overflow: hidden;
                        height: 51.6vw !important;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 2.7vw;
                        box-shadow: 0vw 0vw 0.8vw 0vw rgba(50, 91, 115, 0.19);
                    }
                    .van-swipe__indicators{
                      display: none;
                    }
                }
                .dots{
                    margin-top: 3.6vw;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span{
                      margin-right: 2vw;
                        display: inline-block;
                        width: 3vw;
                        height: 1vw;
                        border-radius: 1vw;
                        background: #fad8d8;
                    }
                    .active{
                        background: #f4324d;
                    }
                }
            }
    .pro-list{
      background-color: #ffffff;
	    border-radius: 2vw;
      margin-bottom: 5vw;
      &-nav{
        padding: 4vw 3vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-name{
          font-size: 5vw;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 0vw;
          color: #292723;
        }
        .see-more{
           display: flex;
          align-items: center;
          justify-content: space-between;
          span{
            font-size: 3vw;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0vw;
            color: #666666;
          }
          img{
            margin-left: 2vw;
            width: 2vw;
          }
        }
      }
      &-ul{
        &-li{
          height: 38vw;
          padding: 3vw 3vw;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid #eee;
          .img-box{
            width: 23vw;
            height: 26vw;
            background-color: #f5f5f5;
            border-radius: 2vw;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img{
              width: 100%;
            }
            .hot-icon{
              width: 8.5vw;
              height: 5.1vw;
              border-bottom-right-radius: 1.3vw;
              background-image: linear-gradient(-72deg, 
                #f4324d 0%, 
                #fa394c 0%, 
                #ff3f4a 0%, 
                #fe623b 24%, 
                #fc852b 100%), 
              linear-gradient(
                #ffd161, 
                #ffd161);
              background-blend-mode: normal, 
                normal;
                 z-index: 10;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 color: #fff;
                 font-size: 3vw;
                position: absolute;
                top: 0;
                left: 0;
            }
          }
          &-info{
            flex: 1;
            padding-left: 4vw;
            .title{
              font-size: 4vw;
              font-weight: normal;
              font-stretch: normal;
              line-height: 5vw;
              letter-spacing: 0vw;
              color: #292723;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
              margin-bottom: 2vw;
            }
            .info-box{
              display: flex;
              align-items: center;
              
              &-item{
                display: flex;
                align-items: center;
                
                .name{
                  font-size: 3vw;
                  font-weight: normal;
                  font-stretch: normal;
                  line-height: 5vw;
                  letter-spacing: 0vw;
                  color: #242424;
                }
                .num{
                  font-size: 4vw;
                    font-weight: bolder;
                    font-stretch: normal;
                    line-height: 5vw;
                    letter-spacing: 0vw;
                    color: #ff3600;
                    .unit{
                       font-size: 3vw;
                    }
                }
                img{
                  width: 4vw;
                  margin-right: 1vw;
                }
                .ling{
                  text-decoration: line-through;
                }
                .fw{
                  font-weight: bolder;
                }
              }
            }
            .discount{
              margin-top: 2vw;
              justify-content: space-between;
              .num{
                font-size: 3vw;
              }
            }
            .count{
              font-size: 3vw;
              font-weight: normal;
              font-stretch: normal;
              line-height: 5vw;
              letter-spacing: 0vw;
              color: #999999;
            }
          }
        }
      }
    }
  }
}
</style>
