<template>
   <div class="Kill">
        <!-- 秒杀 -->
        <div  class="wrap Kill-ing">
            <div class="Kill-nav">
                <div class="span"></div>
                <span class="title">{{(killList.length!=0&&'秒杀')||(unkillList.length!=0&&'即将开始')}}</span>
                <div class="span"></div>
            </div>
            <router-link to="/search" tag="div" class='search-box'>
            <van-icon  name="search" />
            <span>输入产品名称</span>
            </router-link>
            <div class="main">
                <div class="banner" v-show="banner">
                    <van-swipe  :autoplay="3000" touchable indicator-color="white">
                        <van-swipe-item v-for="item in banner" :key="item.p_title">
                            <img :src="imgUrl+item.p_path" :alt="item.p_title">
                        </van-swipe-item>
                    </van-swipe>
                </div>
                <div class="clock-box">
                    <span class="clock-box-left">{{isStart==1?'即将开枪':'秒杀中'}}</span>
                    <div class="clock-box-right">
                        <span class="btnn hour">{{time[0]}}</span>
                        <span class="dot">:</span>
                        <span class="btnn ms">{{time[1]}}</span>
                        <span class="dot">:</span>
                        <span class="btnn ms">{{time[2]}}</span>
                        <span class="end">{{isStart==1?'开始':'结束'}}</span>
                    </div>
                </div>
                <ul class="kill-list">
                    <img class="hot" src="../assets/kill/hot.png" alt="热抢">
                    <li   v-for="item in list" :key="item.id">
                        <div @click="handleToDetail(item.id)" class="img-box">
                             <img :src="imgUrl+item.mainImg[0].img_path" alt="">
                        </div>
                        <div class="info-box">
                            <p class="title">{{item.product_name}}</p>
                            <div class="other">
                                <div class="price-box">
                                    <span class="icon">￥</span>
                                    <span class="num">{{Number(item.new_price).toFixed(0)}}</span>
                                    <span class="icon">.{{Number(item.new_price).toFixed(2).split('.')[1]}}</span>
                                    <span class="grey">￥{{item.before_price}}</span>
                                </div>
                                <div class="count-box">已售：{{item.order_num}}   库存：{{item.promotion_num}}</div>
                            </div>
                            <div class="condition">
                                <span>参与条件：</span>
                                <div class="quan">{{item.voucher_num}}张纽宝券</div>
                                <div  v-show="item.promotion_num>0 && isStart==1"  class="btnn have op"><span>直接秒杀</span></div>
                                <div @click="toBuy(item)" v-show="item.promotion_num>0 &&isStart==2"  class="btnn have"><span>直接秒杀</span></div>
                                <div v-show="item.promotion_num==0"  class="btnn no">已经售罄</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <Tabbar id='4'/>
        </div>

        <!-- 即将开始 -->
        <div v-if="isKill==0" class="wrap kill-coming">
           <HeadNav right='1'/>
           <div class="main">
              <div class="content">
                   <div v-show="banner" class="banner">
                      <img class="time-img" src="../assets/kill/time.png" alt="">
                        <van-swipe @change="onChange" :autoplay="3000">
                            <van-swipe-item v-for="item in banner" :key="item.p_title">
                                <img :src="imgUrl+item.p_path" :alt="item.p_title">
                            </van-swipe-item>
                        </van-swipe>
                        <div class="dots">
                            <span :class="item==currentIndex?'active':''" v-for="item in banner.length" :key="item"></span>
                        </div>
                   </div>
               <p class="title">即将推出 敬请期待</p>
               <Clock size='100px'></Clock>
               <!-- <img class="clock" src="../assets/kill/clock.png" alt=""> -->
              </div>
           </div>
           <div class="foot">
               <router-link to="/home" tag="button" class="btnn">继续逛逛</router-link>
           </div>
        </div>
   </div>
</template>

<script>
import { Dialog,Toast } from 'vant'
import CountDown from 'vue2-countdown'
import Clock from 'vue-clock2'
import moment from 'moment'
import {mapState,mapActions,mapMutations} from 'vuex'
import Tabbar from "@/components/Tabbar"
import HeadNav from "@/components/HeadNav"
export default {
   name:'Kill',
   components:{
       Tabbar,
       HeadNav,
       Clock,
       CountDown
   },
   data(){
       return{
           killStatus:{
               title:'即将开抢',//秒杀中
               flag:'开始',//结束
           },
           isStart:0,//0/1/2
           currentIndex:1,
           timer:null,
           time:['0','0','0'],
           list:[],
           voucher:0//牛宝券余额
       }
   },
   computed:{
       ...mapState('kill',['unkillList','killList']),
       ...mapState('home',['banner']),
   },
   methods:{
        ...mapMutations('order',['setComfirmOrderList']),
        ...mapActions('kill',['getUnKill','getKill']),
        ...mapActions('home',['getBanner']),
        onChange(index){
            this.currentIndex=index+1
        },
        async getList(){
            const res1=await this.getUnKill()
            const res2=await this.getKill()
            let result=[]
            if(res1&&res1.status==1&&res1.data.length!=0){
                result=res1.data
                this.isStart=1
            }
            if(res2&&res2.status==1&&res2.data.length!=0){
                result=res2.data
                this.isStart=2
            }
            this.list=result
            this.timeDown(result)
        },
        handleToDetail(id){
            if(this.isStart==2){
                this.storage.set('ProDetail',{id,type:1})
                this.$router.push({ name: 'killDetail', params: { id}})
            }else{

            }
        },
        //ComfirmOrder
        toBuy(item){//直接秒杀
            if(item.voucher_num>this.voucher){
                Toast('纽宝券不足，能不能参与秒杀')
                return false
            }
            let list=[]
            let obj=item
            Object.assign(obj,{count:1,source:1})
            list.push(obj)
            this.setComfirmOrderList({type:1,list:list})
            this.$router.push('/comfirmOrder')
        },
         timeDown(list){
           if(list.length>0){
                let that=this
                let time=null
                let now=new Date()
                if(this.isStart==1){
                    time=Number(list[0].start_time+'000')
                    time=moment(time).format('YYYY-MM-DD HH:mm:ss')
                    //time='2019-4-26 15:00:00'
                    time=new Date(time)
                    
                }
                if(this.isStart==2){
                    time=Number(list[0].end_time+'000')
                    time=moment(time).format('YYYY-MM-DD HH:mm:ss')
                    //time='2019-4-26 15:00:00'
                    time=new Date(time)
                }
                let cha=Math.floor((time-now)/1000)
                cha=Math.abs(cha)
                this.timer = setInterval(function () {
                            if(cha == 0){
                                clearInterval(that.timer)
                                that.getList()
                            }else {
                                cha = cha - 1
                                let sec=cha%60
                                let min=Math.floor(cha/60)
                                min=min%60
                                let hour=Math.floor(cha/3600)
                                let aa=`${hour}:${min}:${sec}`
                                that.time=aa.split(':')
                            }
                },1000) 
           }
       }

    },
    created(){
        this.getList()
        this.getBanner({module_position:2})
        let obj={method:'get',url:'voucher_summary',data:{type:0}}//牛宝券余额
        this.$http(obj).then(res=>{
            if(res.status==1){
                   this.voucher=res.data.summary
            }
        })
    }
}
</script>

<style lang='scss'>
.Kill{
    width: 100%;
    height: 100%;
    .Kill-ing{
        background: url('../assets/kill//bg.png') no-repeat center top;
        background-size: contain;
        background-color: #f5f5f5;
        position: relative;
        .Kill-nav{
            padding: 0 5vw;
            height: 12vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title{
                
                color: #fff;
                font-size: 5vw;
            }
            .van-icon{
                color: #fff;
                font-size: 7vw;
            }
            .span{
            width: 7vw;
            }
        }
        .search-box{
            margin:0 3vw; 
            margin-bottom: 2.7vw;
            height: 7.9vw;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 7.9vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 3.2vw;
            .van-icon{
                margin-right: 2vw;
                color: #fff;
                font-size: 5vw;
            }
        }
        .main{
            padding:5vw 3vw;
            padding-top: 0;
            .hot{
                position: absolute;
                left: 0;
                top: 100vw;
                width: 11vw;
            }
            .banner{
                overflow: hidden;
                position: relative;
                height: 44.4vw;
                background-color: #ffe1e4;
                box-shadow: 0vw 0vw 0.7vw 0vw 
                    rgba(233, 233, 233, 0.35);
                border-radius: 3.3vw;
                .van-swipe{
                    height: 100%;
                    width: 100%;
                    .van-swipe__track{
                        .van-swipe-item{
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 3.3vw;
                            img{
                             width: 100%;
                             border-radius: 3.3vw;
                            }
                        }
                    }
                    .van-swipe__indicators{
                        height: 5vw;
                        z-index: 100;
                        width: 12vw;
                        top: 39vw;
                        left: 50%;
                        .van-swipe__indicator{
                            width: 1.7vw;
                            height: 1.7vw;
                            background: #fff;
                            opacity: 1;
                        }
                        .van-swipe__indicator--active{
                            transform: scale(1.4);
                        }
                    }
                }

  
            }
            .clock-box{
                margin-top: 4.8vw;
                margin-bottom: 3.9vw;
                height: 11.7vw;
                background-color: #ffffff;
                box-shadow: 0vw 0vw 0.7vw 0vw 
                    rgba(233, 233, 233, 0.35);
                border-radius: 3.3vw;
                padding: 0 4.4vw;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &-left{
                    font-size: 4vw;
                    color: #101010;
                }
                &-right{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .btnn{
                        width: 4.7vw;
                        height: 4.7vw;
                        background-blend-mode: normal, 
                            normal;
                        border-radius: 1.3vw;
                        color: #fff;
                        font-size: 2.9vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .hour{
                        width: auto;
                        padding: 0 1vw;
                    background-image: linear-gradient(16deg, 
                            #f80902 0%, 
                            #fa4d0a 50%, 
                            #fb8811 100%), 
                        linear-gradient(
                            #f9f9f9, 
                            #f9f9f9);
                    }
                    .ms{
                        background: #000;
                    }
                    .dot{
                        margin: 0 1vw;
                    }
                    .end{
                        font-size: 2.9vw;
                        margin-left: 2vw;
                        color: #0c0c0c;
                    }
                }
            }
            .kill-list{
                li{
                    height: 35.6vw;
                    background-color: #ffffff;
                    box-shadow: 0vw 0vw 0.7vw 0vw 
                        rgba(233, 233, 233, 0.35);
                    border-radius: 3.3vw;
                    display: flex;
                    align-items: center;
                    margin-bottom: 3.5vw;
                    padding: 0 3.2vw;
                    .img-box{
                        width: 22.5vw;
                        height: 25.9vw;
                        background-color: #f5f5f5;
                        border-radius: 2vw;
                    }
                    .info-box{
                        flex: 1;
                        padding-left: 4vw;
                        .title{
                            font-size: 4vw;
                            line-height: 5.3vw;
                            color: #292723;
                        }
                        .other{
                            margin: 2vw 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .price-box{
                                display: flex;
                                align-items: flex-end;
                                justify-content: space-between;
                                .icon{
                                    font-size: 3.2vw;
                                    color: #ff3600;
                                }
                                .num{
                                    font-size: 4.8vw;
                                    color: #ff3600;
                                }
                                .grey{
                                    padding-left: 2vw;
                                    font-size: 2.7vw;
                                    color: #999999;
                                    text-decoration: line-through;
                                }
                            }
                            .count-box{
                                font-size: 2.9vw;
                                color: #999999;
                            }
                        }
                        
                    }
                    .condition{
                        font-size: 2.9vw;
                        color: #999999;
                        display: flex;
                        align-items: center;
                        .quan{
                            text-align: center;
                            background: url('../assets/kill/quan.png') no-repeat left center;
                            background-size: contain;
                            width: 16.9vw;
                            height: 3.3vw;
                            font-size: 2.4vw;
                            color: #fa362b;
                            display: flex;
                            align-items: center;
                            padding-left: 1vw;
                            text-align: center;
                        }
                        .btnn{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 16.1vw;
                            height: 6.5vw;
                            font-size: 2.9vw;
                            color: #ff0000;
                            border-radius: 3.1vw;
                            margin-left: 10vw;
                        }
                        .have{
                            /*! autoprefixer: off */
                            background: -webkit-linear-gradient(left,#FF4351,#FF8A57);
                            /* autoprefixer: on */
                            background: -moz-linear-gradient(left,#FF4351,#FF8A57);
                            background: -o-linear-gradient(left,#FF4351,#FF8A57);
                            background:linear-gradient(left, #FF4351 0%, #FF8A57 100%); 
                            span{
                                text-align: center;
                                line-height: 6.2vw;
                                display: inline-block;
                                background: #fff;
                                width: 15.5vw;
                                height: 6vw;
                                border-radius: 3.1vw;

                            }
                        }
                        .op{
                            opacity: 0.5;
                        }
                        .no{
                            color: #999;
                            border: solid 0.1vw #d2d2d2;
                        }
                    }
                }
            }
        }
    
    }
    .kill-coming{
        /*! autoprefixer: off */
        background: -webkit-linear-gradient(top,#fe3c53,#ffd9b8);
        /* autoprefixer: on */
        background: -moz-linear-gradient(top,#fe3c53,#ffd9b8);
        background: -o-linear-gradient(top,#fe3c53,#ffd9b8);
        background:linear-gradient(top, #fe3c53 0%, #ffd9b8 100%);
         /*! autoprefixer: off */
        background-color: -webkit-linear-gradient(top,#fe3c53,#ffd9b8);
        /* autoprefixer: on */
        background-color: -moz-linear-gradient(top,#fe3c53,#ffd9b8);
        background-color: -o-linear-gradient(top,#fe3c53,#ffd9b8);
        background-color:linear-gradient(top, #fe3c53 0%, #ffd9b8 100%);
        .head-nav{
            background: none;
            box-shadow: none;
            &-space{
                color: #fff;
            }
        }
        .main{
            margin:0 2.8vw;
            background: url('../assets/kill/kill.png') no-repeat center bottom;
            background-size: contain;
            border-radius: 2.7vw;
            .content{
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: #ffffff;
                width: 100%;
                height: 100%;
                padding: 5.5vw 3.5vw;
            }
            .banner{
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                .time-img{
                    width: 10vw;
                    z-index: 100;
                    position: absolute;
                    bottom: 7vw;
                    right: 3vw;
                }
                .van-swipe{
                    overflow: hidden;
                    width: 100%;
                    .van-swipe__track{
                        .van-swipe-item{
                            height: 49.2vw !important;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 2.7vw;
                            img{
                                border-radius: 2.7vw;
                            }
                        }
                        
                    }
                    .van-swipe__indicators{
                        display: none;
                    }
                }
                .dots{
                    margin-top: 3.6vw;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 17vw;
                    span{

                        display: inline-block;
                        width: 3vw;
                        height: 1vw;
                        border-radius: 1vw;
                        background: #fad8d8;
                    }
                    .active{
                        background: #f4324d;
                    }
                }
            }
            .title{
                font-size: 4.8vw;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0vw;
                color: #000000;
                margin-top: 17vw;
                margin-bottom: 9vw;
                font-weight: bold;
            }
        }
        .foot{
            padding: 5vw 3.2vw;
            .btnn{
                width: 100%;
                border: none;
                color: #fff;
                height: 9.6vw;
                background-image: linear-gradient(90deg, 
                    #f4324d 0%, 
                    #fa394c 0%, 
                    #ff3f4a 0%, 
                    #fe623b 24%, 
                    #fc852b 100%), 
                linear-gradient(
                    #ededed, 
                    #ededed);
                background-blend-mode: normal, 
                    normal;
                border-radius: 4.7vw;
            }
        }
    }
}
</style>
