<template>
    <div class="wrap KillDetail">
         <HeadNav  />
        <div class="mainn" >
            <div id="target" class="banner" v-if='detail.mainImg'>
                <van-swipe :autoplay="3000" indicator-color="white" @change="onChange">
                     <van-swipe-item class="banner-item" v-for="item in detail.mainImg" :key="item.id">
                         <img :src="imgUrl+item.img_path" alt="">
                     </van-swipe-item>
                </van-swipe>
                <div class="indicator">{{current}}/{{detail.mainImg&&detail.mainImg.length}}</div>
            </div>
            <div class="pro-info">
                <div class="price-box">
                    <div class="price"><span class="icon">￥</span><span class="num">{{Number(detail.new_price).toFixed(0)}}</span><span class="icon">.{{Number(detail.new_price).toFixed(2).split('.')[1]}}</span><span class="old">￥{{detail.before_price}}</span> </div>
                    <div class="time-box">
                        <img src="../assets/kill/shan.png" alt="">
                        <span>距结束{{time}}</span>
                    </div>
                </div>
                <p class="name"><span class="hot-icon">秒杀中</span><span class="fw">{{detail.product_name}}</span></p>
                
                <div class="count-box">
                    <span class="count">已售：{{detail.order_num}}   库存：{{detail.promotion_num}}</span>
                    <div class="condition">
                        <span>参与条件：</span>
                        <div class="quan">{{detail.voucher_num}}张纽宝券</div>
                    </div>
                </div>
            </div>
            <div class="pro-desc">
                <div class="pro-desc-name">
                    <div class="line"></div>
                    <span>商品详情</span>
                </div>
                <div class="pro-desc-box">
                     <div class="img-box" v-for="item in detail.detailImg" :key="item.id">
                         <img :src="imgUrl+item.img_path" alt="">
                     </div>
                </div>
            </div>
        </div>
        <div class="KillDetail-foot">
            <div class="select"  @click="handleCollect">
                <img v-show="!isCollect" src="../assets/kill/select.png" alt="收藏">
                <img v-show="isCollect" src="../assets/kill/select-a.png" alt="收藏">
                <span>收藏</span>
            </div>
            <div class="btn-box">
                <div @click="toBuy" class="btnn buy">立即秒杀</div>
            </div>
        </div>
        
        <!-- 回到顶部 -->
        <BackTop />
    </div>
</template>

<script>
import {mapState,mapActions,mapMutations} from 'vuex'
import { Toast } from 'vant'
import HeadNav from "@/components/HeadNav"
import BackTop from "@/components/BackTop"
export default {
name:'KillDetail',
components:{
       HeadNav,BackTop
},
data(){
    return {
        id:'',
        isCollect:false,
        current:1,
        count:1,
        showBase:false,//加入购物车弹窗
        time:null,
        timer:null,
    }
},
computed:{
   ...mapState('kill',['detail']),
   ...mapState('address',['defaultAddress'])
   
},
methods:{
    ...mapMutations('cart',['addCart']),
    ...mapMutations('order',['setComfirmOrderList']),
    ...mapActions('kill',['getKillDetail']),
    ...mapActions('collect',['addCollect','deleteCollect']),
    ...mapActions('address',['loadDefaultAddress']),
    onChange(index) {//轮播图改变
      this.current = index+1
    },
    handleCollect(){
        this.isCollect=!this.isCollect
        if(this.isCollect){
            let obj={product_id:this.id}
            this.addCollect(obj).then(res=>{
                if(res.status===1){
                    Toast('收藏成功')
                }
            })
        }
        else{
            let obj={product_ids:this.id}
            this.deleteCollect(obj).then(res=>{
                if(res.status===1){
                    Toast('取消收藏')
                }
            })
        }
    },
    toBuy(){//直接秒杀
        let list=[]
        let detail=this.detail
        Object.assign(detail,{count:1,type:1})
        list.push(detail)
        this.setComfirmOrderList({type:1,list:list})
        //this.storage.set('payList',{type:0,list:list})
        this.$router.push({ name: 'comfirmOrder'})
    },
    timeDown(obj){
                let that=this
                let time=null
                let now=new Date()
                time=Number(obj.end_time+'000')
                time=this.moment(time).format('YYYY-MM-DD HH:mm:ss')
                time=new Date(time)
                let cha=Math.floor((now-time)/1000)
                this.timer = setInterval(function () {
                            if(cha == 0){
                                clearInterval(that.timer)
                                that.time='00:00:00'
                            }else {
                                cha = cha - 1
                                let sec=cha%60
                                let min=Math.floor(cha/60)
                                min=min%60
                                let hour=Math.floor(cha/3600)
                                let aa=`${hour}:${min}:${sec}`
                                that.time=aa
                            }
                },1000) 
    },
   toAddressList(){
       this.$router.push({ name: 'addressList'})
   }
},

created(){
    let id=this.storage.get('ProDetail').id
    this.id=id
    this.getKillDetail({id}).then(res=>{
        if(res.status==1){
            this.timeDown(res.data)
        }
    })
    this.loadDefaultAddress()
},

}
</script>

<style lang='scss'>
.KillDetail{
    background: #f9f9f9;
    .head-nav{
            z-index: 100;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: none;
            box-shadow: none; 
            &-space{
                width: auto;
                height: 7vw;
                padding: 0 1vw;
                background: rgba($color: #000000, $alpha: 0.2);
                color: #fff;
                padding: 0vw 1vw;
                border-radius: 10vw;
                i{
                    font-size: 4.3vw;
                }
                span{
                    margin-right: 9px;
                }
            }
            .nav-left{
                font-size: 3.2vw; 
            }
            .nav-right{
               background: none;
               padding: 0;
            }
        }
    .mainn{
        padding-bottom: 13vw;
        .banner{
            width: 100%;
            height: 95vw;
            overflow: hidden;
            position: relative;
            padding-bottom: 5vw;
            .van-swipe{
                width: 100%;
                height: 100%;
            }
            &-item{
                background: #eee;
            }
            .van-swipe__indicators{
                display: none;
            }
            .indicator{
                color: #fff;
                text-align: center;
                font-size: 2vw;
                bottom: 6vw;
                right: 3vw;
                position: absolute;
                width: 9vw;
                line-height: 5vw;
                height: 5vw;
                border-radius: 3vw;
                background: rgba(255, 255, 255, 0.3);
            }
        }
        .pro-info{
            position: relative;
            top: -2vw;
            background: #fff;
            border-top-left-radius: 2vw;
            border-top-right-radius: 2vw;
            padding: 6vw 3vw;
            box-shadow:0 5px 10px -5px #eee;
            .price-box{
                margin-bottom: 5vw;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .price{
                    
                    font-size: 5vw;
                    line-height: 5vw;
                    color: #ff3600;
                    .icon{
                        font-size: 3vw;
                    }
                    .old{
                        padding-left: 2vw;
                        text-decoration: line-through;
                        font-size: 2.7vw;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 5.3vw;
                        letter-spacing: 0vw;
                        color: #999999;
                    }
                }
                .time-box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30.9vw;
                    height: 4.4vw;
                    background-color: #ffedec;
                    border-radius: 2.2vw;
                    font-size: 2.9vw;
                    color: #fa362b;
                    img{
                        width: 2.2vw;
                        margin-right: 1vw;
                    }
                }
            }
            .name{
                font-size: 4vw;
                
                line-height: 6vw;
                color: #292723;
                .hot-icon{
                    text-align: center;
                    padding: 0.5vw 1vw;
                    color: #f9f9f9;
                    font-size: 3vw;
                    background-image: linear-gradient(-72deg, 
                        #f4324d 0%, 
                        #fa394c 0%, 
                        #ff3f4a 0%, 
                        #fe623b 24%, 
                        #fc852b 100%), 
                    linear-gradient(
                        #fc7018, 
                        #fc7018);
                    background-blend-mode: normal, 
                        normal;
                    border-radius: 2vw;
                }
                .fw{
                   font-weight:bold;
                }
            }
            .count-box{
                margin-top: 4vw;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .count{
                    font-size: 3vw;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 5vw;
                    letter-spacing: 0vw;
                    color: #999999;
                }
                .condition{
                        font-size: 2.9vw;
                        color: #999999;
                        display: flex;
                        align-items: center;
                        .quan{
                            text-align: center;
                            background: url('../assets/kill/quan.png') no-repeat  center;
                            background-size: contain;
                            width: 16vw;
                            padding: 1vw 0;
                            font-size: 2.4vw;
                            color: #fa362b;
                        }
                    }
            }
        }
        .pro-desc{
            box-shadow: 0 0 3vw #eee;
            background: #fff;
            margin-top: 5vw;
            &-name{
                padding: 0 3vw;
                height: 12vw;
                display: flex;
                align-items: center;
                font-size: 4vw;
                font-weight: normal;
                font-stretch: normal;
                line-height: 5vw;
                letter-spacing: 0vw;
                color: #222222;
                border-bottom: 1px solid #eee;
                .line{
                    margin-right: 1vw;
                    width: 1vw;
                    height: 4.5vw;
                    border-radius: 1vw;
                    background-image: linear-gradient(-72deg, 
                        #f4324d 0%, 
                        #fa394c 0%, 
                        #ff3f4a 0%, 
                        #fe623b 24%, 
                        #fc852b 100%);
                }
            }
            &-box{
                padding: 3vw;
                .img-box{
                    width: 100%;
                    border-radius: 2vw;
                    margin-bottom: 2vw;
                    img{
                        width: 100%;
                        border-radius: 2vw;
                    }
                }
            }
        }
    }
    &-foot{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
        width: 100vw;
        height: 13vw;
        background-color: #ffffff;
        border: solid 0vw #ececec;
        display: flex;
        align-items: center;
        .select{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 3vw;
            color: #666;
            img{
                width: 5vw;
                margin-bottom: 1vw;
            }
        }
        .btn-box{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .btnn{
                width: 29vw;
                height: 10vw;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 4vw;
                color: #fff;
            }
            .buy{
                border-radius:10vw; 
                background-image: linear-gradient(90deg, 
                    #ff7600 0%, 
                    #ff5300 32%, 
                    #ff3000 100%);
            }
        }
    }
    .van-toast--default{
        width: 100%;
        .van-toast--default{
            color: #ff5200;
        }
    }
    // .van-icon::before{
    //     color: #ff5200;
    //     background:  #ff5200;
    // }
    
}
.van-toast{
    color: #ff5200;
}
.van-toast__text{
   color: #fff;
}
</style>
