<template>
    <div class="wrap login">
        <!-- 登录注册首页 -->
        <div class="img-box logo">
            <img  src="../assets/login/logo.png" alt="">
        </div>
        <p class="hello">Hello，宝妈</p>
        <p class="title">请先登录</p>
        <button @click="showLogin" class="btn in">立即登录</button>
        <router-link to="/regist" tag="button" class="btn out">马上注册</router-link>
        <div class="mark">@neufit</div>
       

        <!-- 登录 -->
        <van-popup class="login-pop" v-model="showpop" position="right" :overlay="false">
            <img @click="closeLogin" class="close" src="../assets/login/close.png" alt="close">
            <img class="logo" src="../assets/login/logo.png" alt="">
        <van-cell-group class="file">
            <van-field
                v-model="telephone"
                clearable
                autocomplete ="on"
                autofocus='autofocus'
                placeholder="请输入手机号码"
                :error-message="teleErr"
                @blur="checkTele"
            >
            <img slot="left-icon" src="../assets/login/phone.png" alt="">
            </van-field>
            <van-field
                v-model="password"
                clearable
                type="password"
                placeholder="请输入密码"
                :error-message="pwdErr"
                @blur="checkPwd"
            >
            <img slot="left-icon" src="../assets/login/pwd.png" alt="">
            </van-field>
            </van-cell-group>
            <!-- <div @click="forgrtPwd" class="forget">忘记密码？</div> -->
            <div  class="btn" @click="tologin">立即登录</div>
        </van-popup>
    </div>
</template>

<script>
import {mapState,mapActions} from 'vuex'

import { Toast } from 'vant'
export default {
name:'Login',
data(){
    return {
        showpop:false,
        telephone:'',
        password:'',
        teleErr:'',
        pwdErr:'',
        code:'',//微信code
    }
},
methods:{
    ...mapActions('user',['loginIn','getweixinCode']),
    tologin(){
        if(this.telephone=='' || this.password=='' ||this.pwdErr!=''||this.teleErr!=''){
            Toast.fail('输入不能为空')
        }else{ 
            let params={mobile:this.telephone,password:this.password,code:this.code}
            this.loginIn(params).then(res=>{
                if(res.status===1){
                    if(this.$route.query.redirect==undefined){
                        //window.location.href='/'
                       this.$router.push('/home')
                    }else{
                      let path=this.$route.query.redirect
                      this.$router.push(path)
                    }
                }
                if(res.status===-1){
                    let url=window.location.host
                    url=`http://${url}`
                    console.log(url)
                    this.getweixinCode({url:url}).then(res=>{
                        if(res.status===1){
                            return;
                            window.location.href=res.data.url
                        }
                    })
                }
            }) 
        }
  },
  checkTele(){
      if(!(/^1[34578]\d{9}$/.test(this.telephone))){
            this.teleErr='手机格式错误'
        }
        else{
            this.teleErr=''
        }
  },
  checkPwd(){
        if(!/^[0-9a-zA-Z_]{6,15}$/.test(this.password)){
              this.pwdErr='密码错误，6-15位密码'
          }
          else{
              this.pwdErr=''
          }
  },
  showLogin(){
      this.showpop=true
  },
  closeLogin(){
      this.showpop=false
  },
  forgrtPwd(){//忘记密码
     
  },
    getHref() {
        // 截取url中的数据
        /**
         * tempStr 格式是http://域名/路由?token=value&uid=value...
         */
        let tempStr = window.location.href
        //let tempStr='https://www.baidu.com/s?token=12345678&id=34'
        /**
         * tempArr 是一个字符串数组 格式是["key=value", "key=value", ...]
         */
        let tempArr = tempStr.split('?')[1] ? tempStr.split('?')[1].split('&') : []
        /**
         * returnArr 是要返回出去的数据对象 格式是 { key: value, key: value, ... }
         */
        let returnArr = {}
        tempArr.forEach(element => {
            returnArr[element.split('=')[0]] = element.split('=')[1]
        })
        // console.log(returnArr)
        return returnArr
    }
},
created(){
    let that=this
    let url=window.location.host
    url=`http://${url}`
    let href=this.getHref()//获取code
    if(href.code==undefined){
        this.getweixinCode({url:url}).then(res=>{
            if(res.status===1){
                window.location.href=res.data.url
            }
        })
    }else{
        this.code=href.code
        this.showpop=this.$route.params.showpop||false
    }
}
}
</script>

<style lang='scss'>
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:url('../assets/login/bg.png') no-repeat center;
    background-size: cover;
    padding: 0 13vw;
    padding-top: 26vw;
    .logo{
        margin-bottom: 7.7vw;
        width: 20.5vw;
        height: 20.5vw;
        background-color: #eee;
        border-radius: 2vw;
    }
    .btn {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 73.5vw;
        height: 10.7vw;
        background-image: linear-gradient(90deg, 
            #f4324d 0%, 
            #fa394c 0%, 
            #ff3f4a 0%, 
            #fe623b 24%, 
            #fc852b 100%), 
        linear-gradient(
            #f36420, 
            #f36420);
        background-blend-mode: normal, 
            normal;
        border-radius: 5.3vw;
    }
    .hello{
        font-size: 3.2vw;
        font-weight: normal;
        font-stretch: normal;
        line-height: 5.3vw;
        letter-spacing: 0vw;
        color: #ffffff;
        margin-bottom: 2vw;
    }
    .title{
        font-size: 6.4vw;
        font-weight: normal;
        font-stretch: normal;
        line-height: 5.3vw;
        letter-spacing: 0.6vw;
        color: #ffffff;
    }
    .in{
        margin-top: 44.9vw;
        margin-bottom: 5.5vw;
    }
    .out{
        margin-bottom: 15.5vw;
        background: none;
        border-radius: 5.3vw;
	    border:1px solid  #ffffff;
    }
    .mark{
        font-size: 3.2vw;
        font-weight: normal;
        font-stretch: normal;
        line-height: 5.3vw;
        letter-spacing: 0vw;
        color: #ffffff;
    }
}
.login-pop{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13vw;
    background:url('../assets/login/bg.png') no-repeat center;
    background-size: cover;
    align-items: center;
    .close{
        position: relative;
        top: 0;
        left: 40vw;
        width: 7vw;
    }
    .logo{
        margin-top: 4.4vw;
         margin-bottom: 25vw;
    }
    .file{
        width: 100%;
        img{
            width: 3.5vw;
        }
    }
    input::-webkit-input-placeholder{
            color:#e4e2e2;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#e4e2e2;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#e4e2e2;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
            color:#e4e2e2;
    }
    .van-hairline--top-bottom::after {
                 border-width: 0px 0 !important; 
            } 
     .van-cell-group{
            background-color: rgba(0, 0, 0, 0) !important;
            .van-cell{
                padding: 5vw 3vw;
                 background-color: rgba(0, 0, 0, 0) !important;
                 line-height: 0;
                 .van-field__control{
                     color: #fff;
                     font-size: 3.5vw;
                 }
            }
            .van-hairline--top-bottom::after {
                 border-width: 0px 0;
            }
            .van-cell:not(:last-child)::after{
                border-bottom: 0;
            } 
            .van-cell{
                position: relative;
                border-bottom: 1px solid rgba(240, 238, 238, 0.5) ;
            } 
            .van-cell__value{
                overflow: initial;
            }
            .van-field__error-message{
                position: absolute;
                bottom: -3vw;
                color: #f36420;
                font-size: 3.2vw;
            }
        }
    .btn{
        margin-top: 19vw;
    }
    .forget{
        margin-top: 3vw;
        width: 100%;
        text-align: right;
        font-size: 3.2vw;
        line-height: 5.3vw;
        color: #ffffff;
    }
    
}

</style>
