<template>
    <div class="wrap mine">
        <p class="mine-title">我的</p>
        <div class="main">
            <div class="mine-user">
               <div class="mine-user-top">
                   <div @click="toEditUser" class="img-box" v-if='userInfo'>
                       <img v-if="userInfo.headimg!=null" :src="imgUrl+userInfo.headimg" alt="">
                       <img v-if="userInfo.headimg==null" src="../assets/me/woman.png" alt="">
                   </div>
                   <div class="mine-user-top-info">
                       <p class="name-box">
                           <span class="name">{{userInfo.name}}</span>
                           <img src="../assets/me/2.png" alt="">
                       </p>
                       <p class="tele-box">
                           <span class="tele">{{userInfo.mobile}}</span>
                           <img @click="handlePwd" src="../assets/me/1.png" alt="">
                       </p>
                   </div>
               </div>
               <ul class="mine-user-list">
                   <router-link to="/myBag" tag="li">
                       <p class="num">
                           <span class="icon">￥</span>
                           <span>{{redCount}}</span>
                       </p>
                       <p class="text">我的红包</p>
                   </router-link>
                    <router-link to="/myTicket" tag="li">
                       <p class="num">
                           <span>{{quanCount}}</span>
                       </p>
                       <p class="text">纽宝券（张）</p>
                   </router-link>
                    <router-link to="/myOrder" tag="li">
                       <p class="num">
                           <span>{{orderCount}}</span>
                       </p>
                       <p class="text">我的订单</p>
                   </router-link>
                    <router-link to="/myCollect" tag="li">
                       <p class="num">
                           <span>{{collectCount}}</span>
                       </p>
                       <p class="text">我的收藏</p>
                   </router-link>
               </ul>
            </div>

           
            <div class="mine-handle">
                <van-cell to="/ticketBag" value="点击查看红包卡券历史记录" icon="shop-o" is-link>
                <template slot="title">
                    <span class="custom-text">红包卡券</span>
                </template>
                <img class="right-icon" slot="icon" src="../assets/me/3.png" alt="">
                </van-cell>
                <!--  -->
                <van-cell to="/scan" value="点击查看" icon="shop-o" is-link>
                <template slot="title">
                    <span class="custom-text">码上惊喜</span>
                </template>
                <img class="right-icon" slot="icon" src="../assets/me/4.png" alt="">
                </van-cell>
                <!--  -->
                <van-cell to="/winRecord" value="" icon="shop-o" is-link>
                <template slot="title">
                    <span class="custom-text">中奖记录</span>
                </template>
                <img class="right-icon" slot="icon" src="../assets/me/j.png" alt="">
                </van-cell>
                <!--  -->
                <van-cell @click="toAddressList" value="管理我的收货地址" icon="shop-o" is-link>
                <template slot="title">
                    <span class="custom-text">收货地址</span>
                </template>
                <img class="right-icon" slot="icon" src="../assets/me/5.png" alt="">
                </van-cell>
                <!--  -->
                <van-cell to="/afterSev" value="" icon="shop-o" is-link>
                <template slot="title">
                    <span class="custom-text">售后服务</span>
                </template>
                <img class="right-icon" slot="icon" src="../assets/me/6.png" alt="">
                </van-cell>
                <!--  -->
                 <van-cell to="/newer" value=""  icon="shop-o" is-link>
                <template slot="title">
                    <span class="custom-text">新手指南</span>
                </template>
                <img class="right-icon" slot="icon" src="../assets/me/7.png" alt="">
                </van-cell>
                <!--  -->
                 <van-cell to="/abount" value=""  icon="shop-o" is-link>
                <template slot="title">
                    <span class="custom-text">关于我们</span>
                </template>
                <img class="right-icon" slot="icon" src="../assets/me/8.png" alt="">
                </van-cell>
            </div>
        </div>
        <Tabbar id='4'/>
    </div>
</template>

<script>
import http from '@/modules/http'
import axios from 'axios'
import {mapState,mapActions} from 'vuex'
import Tabbar from "@/components/Tabbar"
export default {
   name:'Mine',
   components:{
       Tabbar
   },
   data(){
       return{
           userInfo:null,
           redCount:0,
           quanCount:0,
           orderCount:0,
           collectCount:0
       }
   },
   computed:{
   },
   methods:{
       handlePwd(){
           this.$router.push('/changePwd')
       },
       toAddressList(){
           this.$router.push('/manageAddress')
       },
       toEditUser(){
           this.$router.push('/editUser')
       }
   },
   created(){
        let that=this
        let obj1={method:'get',url:'user_info'}//用户信息
        let obj2={method:'get',url:'package_summary',data:{type:0}}//红包余额
        let obj3={method:'get',url:'voucher_summary',data:{type:0}}//牛宝券余额
        let obj4={method:'get',url:'order_total'}//订单总数
        let obj5={method:'get',url:'collection_num'}//收藏总数
        axios.all([
            http(obj1),
            http(obj2),
            http(obj3),
            http(obj4),
            http(obj5),
        ]).then(axios.spread(function (res1, res2,res3,res4,res5) {
            if(res1.status==1) that.userInfo=res1.data
            if(res2.status==1) that.redCount=res2.data.summary
            if(res3.status==1) that.quanCount=res3.data.summary
            if(res4.status==1) that.orderCount=res4.data.ordertotal
            if(res5.status==1) that.collectCount=res5.data
        }))
   }
}
</script>

<style lang='scss'>
.mine{
     /*! autoprefixer: off */
                background: -webkit-linear-gradient(top,#fe3c54,#ffd4b4);
                /* autoprefixer: on */
                background: -moz-linear-gradient(top,#fe3c54,#ffd4b4);
                background: -o-linear-gradient(top,#fe3c54,#ffd4b4);
                background:linear-gradient(top, #fe3c54 0%, #ffd4b4 100%);
    background:linear-gradient(top,#fe3c54,#ffd4b4);
  &-title{
      text-align: center;
      padding: 3vw;
      font-size: 5.1vw;
        color: #f9f9f9;
  }
  .main{
      padding: 5vw 3vw;
        .mine-user{
            padding: 3vw 5vw;
            width: 100%;
            height: 39.3vw;
            background-color: #ffffff;
            border-radius: 2.7vw;
            &-top{
                position: relative;
                .img-box{
                    position: absolute;
                    top: -8vw;
                    width: 22.1vw;
                    border-radius: 22.1vw;
                    height: 22.1vw;
                    background-color: #eee;
                    box-shadow: 0vw 0vw 3.6vw 0vw 
                        rgba(177, 0, 19, 0.35);
                    overflow: hidden;
                    .edit{
                        position: absolute;
                        top: -8.7vw;
                        width:22.1vw;
                        height: 11.05vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #ffd4b4;
                        color: #3c3b3b;
                        font-size: 3.2vw;
                        transition: all 1s; 
                    }
                }
                .img-box:hover .edit{
                    top: -8.7vw;
                }
                &-info{
                    padding-top: 2vw;
                    padding-left: 26vw;
                    width: 100%;
                    img{
                            width: 5vw;
                        }
                    .name-box{
                        padding-bottom: 1.5vw;
                         display: flex;
                        align-items: center;
                        .name{
                            font-size: 4.8vw;
                            font-weight: normal;
                            font-stretch: normal;
                            letter-spacing: 0vw;
                            color: #000000;
                            padding-right: 2vw;
                        }
                        
                    }
                    .tele-box{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .tele{
                            font-size: 3.2vw;
                            color: #3c3b3b;
                        }
                    }
                }
            }
            &-list{
                margin-top: 8vw;
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .num{
                        font-size: 4vw;
                        font-weight: bolder;
                        color: #333333;
                    }
                    .text{
                        padding-top: 2vw;
                        font-size: 2.9vw;
                        color: #333333;
                    }
                }
            }
        }
        .mine-handle{
            padding: 0 3vw;
            margin-top: 4.2vw;
            background-color: #ffffff;
	        border-radius: 2.7vw;
            .van-cell{
                align-items: center;
                padding: 3vw 0;
            }
            .van-cell:not(:last-child)::after{
                border-bottom: none;
            }
            .van-cell:not(:last-child){
                border-bottom: 0.1vw solid #ebedf0;
            }
            .van-cell__title{
                flex: none;
            }
            .van-cell__value{
              width: 60%;
            }
            .right-icon{
                margin-right: 4vw;
                width: 9.2vw;
	            height: 9.2vw;
            }
        }
    }
}
</style>
