<template>
    <div class="wrap PaySuccess">
       <HeadNav title='支付完成'/>
       <div class="main">
           <img class="body-img" src="../assets/cart/body.png" alt="success">
           <p class="success">付款成功</p>
           <p class="desc">本商城不会以付款异常为由要求您退款，谨防诈骗</p>
           <div class="btn-box">
               <van-button class="btnn" plain  type="default">查看订单</van-button>
               <van-button class="btnn" plain  type="default">继续逛逛</van-button>
           </div>
       </div>
    </div>
</template>

<script>
import HeadNav from "@/components/HeadNav"
export default {
name:'PaySuccess',
components:{
       HeadNav
   },
  data(){
      return{

      }
  }
}
</script>

<style lang='scss'>
.PaySuccess{
   .main{
       padding-top: 30vw;
       background: #f5f5f5;
       display: flex;
       flex-direction: column;
       align-items: center;
       .body-img{
           width: 43vw;
       }
       .success{
           font-weight: bold;
           margin-bottom: 5.7vw;
           font-size: 4.8vw;
            line-height: 5.3vw;
            color: #212121;
       }
       .desc{
           font-size: 2.9vw;
            line-height: 5.3vw;
            color: #979797;
       }
       .btn-box{
           margin-top: 10vw;
           width: 100%;
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding: 0 20vw;
           .btnn{
               background: none;
               width: 24.3vw;
               line-height: 8vw;
                height: 8vw;
                border-radius: 4vw;
                border: solid 1px #dcdcdc; 
           }
       }
   }
}
</style>
