<template>
    <div class="wrap regist">
        <div class="head">
            <van-icon @click="goback" class="return"  name="arrow-left" />
            
            <span class="title">注册</span>
            <span @click="saveInfo" class="save">提交</span>
        </div>
        <div class="main user-info">
           <van-cell-group>
            <van-field
                v-model="userinfo.name"
                clearable
                input-align='right'
                label="姓名"
                placeholder="请输入姓名"
            />
            <van-field
                v-model="userinfo.sex"
                clearable
                readonly
                input-align='right'
                label="性别"
                placeholder="请选择性别"
                @click="handleSex(1)"
            />
            <van-field
                v-model="userinfo.address"
                clearable
                input-align='right'
                label="地址"
                placeholder="请输入地址"
            />
           </van-cell-group>
            <van-cell-group>
            <van-field
                v-model="userinfo.babyname"
                clearable
                input-align='right'
                label="宝宝姓名"
                placeholder="请输入宝宝姓名"
            />
            <van-field
                v-model="userinfo.babysex"
                clearable
                readonly
                input-align='right'
                label="宝宝性别"
                placeholder="请选择宝宝性别"
                @click="handleSex(0)"
            />
            <van-field
                v-model="userinfo.babyday"
                readonly
                input-align='right'
                label="预产期/生日"
                placeholder="请选择预产期/生日"
                @click="handleBirth"
            />
           </van-cell-group>
            <van-cell-group>
            <van-field
                v-model="userinfo.mobile"
                clearable
                input-align='right'
                label="手机号码"
                placeholder="请输入手机号码"
                @blur="checkTele"
                :error-message='teleErr'
                error-message-align='right'
            />
           <van-field
                v-model="userinfo.code"
                center
                clearable
                label="验证码"
                placeholder="请输入收到的验证码"
                :error-message='codeErr'
                error-message-align='right'
                input-align='right'
            >
                <van-button @click="sendCheck" class="check" slot="button" size="small" type="primary">{{checkWord}}</van-button>
            </van-field>
            <van-field
                v-model="userinfo.password"
                clearable
                type="password"
                input-align='right'
                label="请输入密码"
                placeholder="请输入6-15位密码"
                :error-message='pwdErr'
                error-message-align='right'
                @blur="checkPwd"
            />
           </van-cell-group>
           <!-- 性别选择 -->
           <van-picker class="datetime" 
            show-toolbar 
            v-show="openSex" 
            :columns="columns" 
            @change="onChangeSex"
            @confirm='confirmSex'
            @cancel='cancelBirth'
            />
           <!-- 选择日期 -->
           <van-datetime-picker
            class="datetime"
            v-show="openDate"
            v-model="currentDate"
            type="date"
            @change='changeBirth'
            @confirm='confirmBirth'
            @cancel='cancelBirth'
            />
        </div>
    </div>
</template>

<script>
import { Toast, Dialog } from 'vant'
import {mapState,mapActions} from 'vuex'
import request from '@/modules/request'
export default {
name:'regist',
data(){
    return {
        userinfo:{
            name:'',
            sex:'',
            address:'',
            babyname:'',
            babysex:'',
            babyday:'',
            mobile:'',
            code:'',
            password:''

        },
        openDate:false,
        currentDate: new Date(),
        columns: ['女', '男'],
        openSex:false,
        currentSex:1,//1：父母；0：宝宝
        isSend:false,
        teleErr:'',
        pwdErr:'',
        codeErr:'',//验证码
        time:60,
        timer:null,
        checkWord:'发送验证码'
    }
},
methods:{
    ...mapActions('user',['regist','sendCode']),
    handleBirth(){
       this.openDate=true
    },
    changeBirth(e){
        let time=e.getValues()
        this.userinfo.babyday=time.join('-')
    },
    confirmSex(values){
        if(this.currentSex==1){
            this.userinfo.sex=values
        }
        else{
            this.userinfo.babysex=values
        }
      this.openSex=false
    },
    confirmBirth(value){
        this.userinfo.babyday=this.moment(value).format('YYYY-MM-DD')
        this.openDate=false
    },
    cancelBirth(){
       this.openDate=false
       this.openSex=false
       this.userinfo.babyday=''
    },
    handleSex(flag){
       this.openSex=true
       this.currentSex=flag
    },
    onChangeSex(picker, value, index) {
        if(this.currentSex==1){
            this.userinfo.sex=value
        }
        else{
            this.userinfo.babysex=value
        }
      
    },
    checkTele(){
        if(this.userinfo.mobile==''){
             this.teleErr='不能为空'
        }
        else if(!(/^1(3|4|5|7|8)\d{9}$/.test(this.userinfo.mobile))){
                this.teleErr='手机格式错误'
            }
            else{
                this.teleErr=''
            }
    },
    checkPwd(){
        if(this.userinfo.password==''){
             this.pwdErr='不能为空'
        }
        else if(!/^[0-9a-zA-Z_]{6,15}$/.test(this.userinfo.password)){
              this.pwdErr='密码错误，6-15位数字字母下划线组合'
          }
          else{
              this.pwdErr=''
          }
   },
   checkCode(){
      if(!this.userinfo.code){
          this.codeErr='不能为空'
      }else{
          this.codeErr=''
      }
   },
    sendCheck(){
        let that=this
        if(this.userinfo.mobile==''){
            this.teleErr='请输入手机号码'
            return false
        }
        if(this.isSend==false){
            let obj={mobile:this.userinfo.mobile}
            this.sendCode(obj).then(res=>{
                if(res.status===1){
                    this.isSend=true
                    this.timer = setInterval(function () {
                            if(that.time == 0){
                                that.time = 60
                                clearInterval(that.timer)
                                that.checkWord='重新发送'
                                that.isSend=false
                            }else {
                                that.time = that.time - 1
                                that.checkWord=that.time+' S'
                            }
                    },1000) 
                }
            })
            
        }
    },
    saveInfo(){
        this.checkTele()
        this.checkPwd()
        this.checkCode()
        let that=this
        if(this.teleErr!=''|| this.pwdErr!=''|| this.codeErr!=''){
           return false
        }else{
            this.regist(this.userinfo).then(res=>{
                if(res.status==1){
                    Toast('注册成功,前去登录')
                    console.log('111')
                    that.$router.push({ name: 'login', params: { showpop: true }})
                }
            })
        }
        
    },
    goback(){
        this.$router.go(-1)
    }
}
}
</script>

<style lang='scss'>
.regist{
   .head{
       padding: 0 2.8vw;
       display: flex;
       align-items: center;
       height: 13vw;
       color: #fff;
       justify-content: space-between;
       background-image: linear-gradient(90deg, 
            #f4324d 0%, 
            #fa394c 0%, 
            #ff3f4a 0%, 
            #fe623b 24%, 
            #fc852b 100%), 
        linear-gradient(
            #f36420, 
            #f36420);
        .return{
            font-size: 7vw;
        }
        .title{
            font-size: 5.1vw;
            font-weight: normal;
            font-stretch: normal;
            line-height: 5.3vw;
            letter-spacing: 0vw;
            color: #f9f9f9;
        }
        .save{
            font-size: 4.5vw;
            font-weight: normal;
            font-stretch: normal;
            line-height: 5.3vw;
            letter-spacing: 0vw;
            color: #f9f9f9;
        }
    }
    .main{
        padding: 5.2vw 3vw;
        background: #f5f5f5;
        .van-cell-group{
            margin-bottom: 3.1vw;
        }
        .check{
            border: none;
            height: 7.7vw;
            background-image: linear-gradient(90deg, 
                #f4324d 0%, 
                #fa394c 0%, 
                #ff3f4a 0%, 
                #fe623b 24%, 
                #fc852b 100%), 
            linear-gradient(
                #ffcd00, 
                #ffcd00);
            background-blend-mode: normal, 
                normal;
            border-radius: 3.9vw;
        }
        .datetime{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            border-top-left-radius: 2vw;
            border-top-right-radius: 2vw;
            transition: all 1s;
            .van-picker__toolbar{
                 background-image: linear-gradient(90deg, 
                    #f4324d 0%, 
                    #fa394c 0%, 
                    #ff3f4a 0%, 
                    #fe623b 24%, 
                    #fc852b 100%), 
                linear-gradient(
                    #f36420, 
                    #f36420); 
                    height: 10vw;
                    line-height: 10vw;
                    .van-picker__cancel, .van-picker__confirm{
                        color: #fff;
                        font-size: 3.5vw;
                    }      
            }
        }
    }
}
</style>
