<template>
    <div class="Scan">
       <div class="main">
           <div class="input-box">
                <div class="input-box-item">
                    <img src="../assets/game/edit.png" alt="">
                    <input v-model="score_code" type="text" placeholder="输入积分码">
                </div>
                <div class="input-box-item house" >
                    <img src="../assets/game/house.png" alt="">
                    <input type="text" v-model="store_code" placeholder="输入门店编码">
                </div>
            </div>
            <button @click="handleTogame"  class="btnn">戳我抽奖</button>
            <div class="rule">
                        <img src="../assets/game/san.png" alt="">
                        <span>活动规则</span>
            </div>
            <div class="rule-info">{{rule}}</div>
       </div>
    </div>
</template>

<script>
import { Toast } from 'vant';
export default {
name:'Scan',
data(){
    return{
        activeNames: [''],
        score_code:'',//积分码
        store_code:'',//门店编码
        isOpen:false,
        url:{},
        isSubmit:true,
        rule:''
    }
},
methods:{
    handleTogame(){
        if(this.score_code==''){
            Toast('请输入积分码')
            this.isSubmit=false
            return false
        }
        if(this.store_code==''){
            Toast('请输入门店编码')
            this.isSubmit=false
            return false
        }
        if(this.isSubmit){
            let data={score_code:this.score_code,store_code:this.store_code}
            let obj={method:'post',url:'prize_check',data}
            this.$http(obj).then(res=>{
                if(res.status==1){
                    console.log(data)
                    this.storage.set('prizeCheck',data)
                    this.$router.push('/game')
                }
            })
        }
    },
    getHref() {
        // 截取url中的数据
        /**
         * tempStr 格式是http://域名/路由?token=value&uid=value...
         */
        let tempStr = window.location.href
        //let tempStr='https://www.baidu.com/s?token=12345678&id=34'
        /**
         * tempArr 是一个字符串数组 格式是["key=value", "key=value", ...]
         */
        let tempArr = tempStr.split('?')[1] ? tempStr.split('?')[1].split('&') : []
        /**
         * returnArr 是要返回出去的数据对象 格式是 { key: value, key: value, ... }
         */
        let returnArr = {}
        tempArr.forEach(element => {
            returnArr[element.split('=')[0]] = element.split('=')[1]
        })
        // console.log(returnArr)
        return returnArr
    }
},
mounted(){
    this.url=this.getHref()
    let obj={method:'post',url:'config',data:{type:5}}
    this.$http(obj).then(res=>{
        if(res.status==1){
            this.rule=res.data
        }
    })
}
}
</script>

<style lang='scss'>
.Scan{
    width: 100%;
    height: 100%;
    background: url('../assets/game/scan.png') no-repeat center top;
    background-size: contain;
    background-color: #fff;
    .main{
        padding-top: 126vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .input-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            &-item{
                padding: 1vw;
                display: flex;
                align-items: center;
                width: 50.2vw;
                height: 7.6vw;
                background-color: #ffffff;
                border-radius: 1.4vw;
                border: solid 0.4vw #ea5946;
                margin-bottom: 2vw;
                img{
                    width: 6vw;
                }
                input{
                    width: 41vw;
                    outline: none;
                    border: none;
                    background: #fff;
                    font-size: 4.5vw;
                }
            }
            .house{
                border: solid 0.4vw #ed7550;
            }
        }
        .btnn{
            padding: 0 2vw;
	        height: 8.3vw;
            border: none;
            background-image: linear-gradient(45deg, 
                #ff9e62 0%, 
                #ff5a45 100%);
            box-shadow: 0vw 0.6vw 0vw 0vw 
                rgba(203, 151, 150, 0.4);
            border-radius: 4.2vw;
            color: #fff;
            font-size: 6.7vw;
            margin: 5vw;
        }
        .rule{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width:5vw;
                margin-right: 2vw;
            }
            span{
                font-size: 4.4vw;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0vw;
                color: #ea5946;
            }
        }
        .rule-info{
            font-size: 3.2vw;
            color: #333;
            line-height: 10vw;
            padding: 0 3vw;
        }
    }

}
</style>
