<template>
    <div class="wrap Search">
       <van-search
       class="Search-top"
        v-model="searchKey"
        placeholder="请输入搜索关键词"
        show-action
        shape="round"
        @search="onSearch"
        @clear='clearSearch'
        @focus='focusSearch'
        >
        <div slot="action" @click="onCancel">取消</div>
        </van-search>
        <div class="main">
                 <van-list
                    v-show='!showEmpty&&!showHistory'
                     class="fresh-list"
                    :finished="finished"
                    @load="onLoad"
                    finished-text="没有更多了"
                    :offset="10"
                 >
                  <div class="pro-list-ul" v-if="list">
                    <div @click="toDetail(item.id)" class="pro-list-ul-li" v-for=" item in list" :key="item">
                   <div class="img-box">
                      <div v-show="item.is_hot==0" class="hot-icon">新品</div>
                      <div v-show="item.is_hot==1" class="hot-icon">热销</div>
                      <div v-show="item.is_hot==2" class="hot-icon">促销</div>
                      <img :src="imgUrl+item.mainImg[0].img_path" alt="">
                   </div>
                  <div class="pro-list-ul-li-info">
                    <p class="title">{{item.name}}</p>
                    <div class="info-box">
                        <div class="price">
                            <span class="icon">￥</span><span>{{Number(item.price).toFixed(0)}}</span><span class="icon">.{{Number(item.price).toFixed(2).split('.')[1]}}</span>
                        </div>
                        <span class="count">已售：{{item.sales_num}} &nbsp; &nbsp;&nbsp;&nbsp; 库存：{{item.stock}}</span>
                      </div>
                    <div class="info-box discount">
                      <div class="info-box-item">
                        <img src="../assets/me/hb.png" alt="红包">
                        <span class="name">红包:{{item.package_money}}元</span>
                      </div>
                      <div class="multi">抵现倍数{{item.package_ratio}}倍</div>
                      
                    </div>
                  </div>
                </div>
               
          </div> 
           </van-list>
           <!-- 历史记录 -->
            <div v-show="showHistory" class="list-box">
                <p class="list-box-top">
                    <span class="name">历史搜索</span>
                    <img @click="emptyList" src="../assets/mall/5.png" alt="删除">
                </p>
                <ul class="list-box-ul">
                    <li @click="handleSearch(item)" :class="true?'active':''" v-for="item in searchHistory" :key="item">{{item}}</li>
                </ul>
            </div>
            <!-- empty搜索为空 -->
            <div v-show="showEmpty" class="empty">
                <img src="../assets/empty/search.png" alt="">
                <p class="note">脑瓜疼，找不到您要的商品啊~</p>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState,mapActions, mapMutations} from 'vuex'
export default {
name:'Search',
data(){
    return {
        searchKey:'',
        showEmpty:false,
        showHistory:true,
        offset:0,
        length:20,
        finished:false,
        list:[],
        offset:0,
        length:20
    }
},
computed:{
   ...mapState('search', ['searchHistory'])
},
methods:{
    ...mapMutations('search',['addHistory','deleteHistory']),
    ...mapActions('list',['loadSearch']),
    onSearch(){//搜索
       this.list=[]
       this.addHistory(this.searchKey)
       this.showHistory=false
       this.getList()
    },
    onLoad(){
       this.getList()
    },
    clearSearch(){//清空输入框，显示历史数据
       this.showHistory=true
    },
    onCancel(){//取消
        this.$router.go(-1)
    },
    focusSearch(){//聚焦输入框
        this.showHistory=true
        this.showEmpty=false
    },
    handleSearch(text){
       this.list=[]
       this.searchKey=text
       this.showHistory=false
       this.getList()
       
       
    },
    emptyList(){//清空历史记录
        this.deleteHistory()
    },
    getList(){
          let obj={method:'post',url:'search',data:{keywords:this.searchKey}}
          this.$http(obj).then(res=>{
              if(res.status===1){
                 this.isFresh=false
                  if(res.data.length==0){
                     this.showEmpty=true
                  }else{
                      this.showEmpty=false
                      this.list=[...this.list,...res.data]
                      if(res.data.length<this.length){
                        this.finished=true
                      }
                      this.offset+=this.length
                  }
                  
              }
          })
    },
    toDetail(id){
      this.storage.set('ProDetail',{id,type:0})
      this.$router.push({ name: 'detail'})
   }
},
created(){
}
}
</script>

<style lang='scss'>
.Search{
    &-top{
        border-bottom: 0.1vw solid #eee;
    }
    .van-search{
        .van-search__content{
            background-color: #efefef;
             line-height: 7.9vw;
             height: 7.9vw;
        }
        .van-cell{
           
            background-color: #efefef;
            border-radius: 3.9vw;
            .van-icon{
                font-size: 4vw;
            }
        }
    }
    .main{
        .pro-list-ul{
          width: 100%;
          height: 100%;
          box-shadow: 0 0 10vw #eee;
          overflow-x:hidden;
        &-li{
          background: #fff;
          height: 38vw;
          padding: 3vw 3vw;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid #eee;
          border-radius: 3vw;
          .img-box{
            width: 23vw;
            height: 26vw;
            background-color: #f5f5f5;
            border-radius: 2vw;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img{
              width: 100%;
            }
            .hot-icon{
              width: 8.5vw;
              height: 5.1vw;
              border-bottom-right-radius: 1.3vw;
              background-image: linear-gradient(-72deg, 
                #f4324d 0%, 
                #fa394c 0%, 
                #ff3f4a 0%, 
                #fe623b 24%, 
                #fc852b 100%), 
              linear-gradient(
                #ffd161, 
                #ffd161);
              background-blend-mode: normal, 
                normal;
                 z-index: 10;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 color: #fff;
                 font-size: 3vw;
                position: absolute;
                top: 0;
                left: 0;
            }
          }
          &-info{
            flex: 1;
            padding-left: 4vw;
            .title{
              font-size: 4vw;
              font-weight: normal;
              font-stretch: normal;
              line-height: 5vw;
              letter-spacing: 0vw;
              color: #292723;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
              margin-bottom: 2vw;
            }
            .info-box{
              display: flex;
              align-items: center;
              .price{
                  width: 25vw;
                    font-size: 4.8vw;
                    color: #ff3600;
                    .icon{
                        font-size: 3vw;
                    }
              }
              &-item{
                margin-right: 3vw;
                display: flex;
                align-items: center;
                .name{
                  font-size: 3.2vw;
                  font-weight: normal;
                  font-stretch: normal;
                  line-height: 5vw;
                  letter-spacing: 0vw;
                  color: #242424;
                }
                .num{
                  font-size: 4vw;
                    font-weight: bolder;
                    font-stretch: normal;
                    line-height: 5vw;
                    letter-spacing: 0vw;
                    color: #ff3600;
                    .unit{
                       font-size: 3vw;
                    }
                }
                img{
                  width: 3.5vw;
                  margin-right: 1vw;
                }
                .ling{
                  text-decoration: line-through;
                }
                .fw{
                  font-weight: bolder;
                }
              }
            }
            .discount{
              margin-top: 2vw;
              .num{
                font-size: 4vw;
              }
              .multi{
                   padding:0 2vw;
                   line-height: 4.4vw;
                    height: 4.4vw;
                    background-color: #ffedec;
                    border-radius: 2.2vw;
                    font-size: 2.9vw;
                    color: #fa362b;
              }
            }
            .count{
              font-size: 3.2vw;
              font-weight: normal;
              font-stretch: normal;
              line-height: 5vw;
              letter-spacing: 0vw;
              color: #999999;
            }
          }
        }
        &-li:first-child{
            border-top: 0px;
        }
        .fresh{
          height: 100%;
          &-list{
            height: 100%;
          }
        }
      }
        .list-box{
           
            padding: 5vw 3vw;
            &-top{
                color: #999;
                font-size: 3.5vw;
                margin-bottom: 4vw;
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                    width: 4.5vw;
                }
            }
            &-ul{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                li{
                     display: flex;
                align-items: center;
                justify-content: center;
                   margin-right: 2.5vw;
                    height: 7.1vw;
                    padding: 0 2vw;
                    background-color: #f8f8f8;
                    border-radius: 3.5vw;
                    font-size: 3.2vw;
                    font-weight: normal;
                    font-stretch: normal;
                    letter-spacing: 0vw;
                    color: #333333;
                    margin-bottom: 3.2vw;
                }
                .active{
                    color: #fa362b;
                    background-color: #ffedec;
                }
            }
        }
        .empty{
            display: flex;
            align-items: center;
            padding-top: 26vw;
            flex-direction: column;
            img{
                width: 40vw;
            }
            .note{
                font-size: 3.2vw;
                font-weight: normal;
                font-stretch: normal;
                line-height: 5.3vw;
                letter-spacing: 0vw;
                color: #c1c1c1;
            }
        }
    }
}
</style>
