<template>
    <img  @click="goTop" class="back-top" id="totop"  src="../assets/kill/top.png" alt="">
</template>

<script>
import { scrollIt } from '../modules/scroll'
export default {
name:'BackTop',
data(){
          return{
            scrollTop: '',
            goTopShow:false,
            timer:null
          }
        },
      methods:{
        scrollToTop(el) {
            let topBtn = document.getElementById('totop');
            let target=document.getElementById('target')
            let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
            if (scrollTop >300) {
                topBtn.style.display = 'block';
            } else {
                topBtn.style.display = 'none';
            }
        },
        goTop(){
            let that=this
            let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
            this.timer = setInterval(() => {
              if (scrollTop>50) {
                scrollTop-=50
                document.body.scrollTop -= scrollTop
                document.documentElement.scrollTop -= scrollTop
              } else {
                document.body.scrollTop = 0
                document.documentElement.scrollTop =0
                clearInterval(that.timer)
              }
           })
        }
    },
    mounted () {
        window.addEventListener('scroll', this.scrollToTop)
    },
    destroyed () {
        window.removeEventListener('scroll', this.scrollToTop); 
    }
}
</script>

<style lang='scss'>
.back-top{
    position: fixed;
    right: 4vw;
    bottom: 15vw;
    z-index: 999;
    width: 15vw;
    display: none;
}
</style>
