<template>
    <div class="footer-wrap">
       <Tabbar/>
    </div>
</template>

<script>
import Tabbar from '@/components/Tabbar'
export default {
    name:'Footer',
    components:{
      Tabbar
    },
    data(){
        return {

        }
    }

}
</script>

<style  scoped>
.footer-wrap{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: #000;
    color: #fff;
}
</style>