<template>
    <div class="head-nav">
        <div @click="goback" class="head-nav-space nav-left">
            <van-icon class="backicon" name="arrow-left" /><span>返回</span>
        </div>
        <span class="head-nav-center">{{title}}</span>
        <div  class="head-nav-space nav-right"></div>
    </div>
</template>

<script>
export default {
  name:'HeadNav',
  props:['title'],
  data(){
      return {

      }
  },
  methods:{
      goback(){
          this.$router.go(-1)
      }
  }
}
</script>

<style lang='scss'>
.head-nav{
    box-shadow: 0 0 10vw #eee;
    padding: 0 3vw;
    display: flex;
    width: 100%;
    height: 12vw;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    &-space{
        width: 20%;
        font-size: 4.2vw;
        color: #363636;
        display: flex;
        align-items: center;
        .backicon{
            font-size: 5vw;
        }
        span{
            font-size:4vw;
        }
    }
    .nav-left{
        height:100%;
        display:flex;
        align-items:center;
    }
    &-center{
        font-size: 5vw;
        color: #000000;
    }
}
</style>
