<template>
    <div class="tabbar">
       <router-link
        class="nav-item"
        tag='div'
        :to='item.url'
        v-for='item of navList'
        :key='item.path'
        >
        <img v-show="!item.ischeck" :src="item.icon" :alt="item.text">
        <img v-show="item.ischeck" :src="item.icon2" :alt="item.text">
        <span  class="nav-title">{{item.text}}</span>
        <span v-if='item.url=="/cart"&&cartList.length>0' class="bagage">{{cartList.length}}</span>
        </router-link>
    </div>
</template>

<script>
import {mapState,mapActions, mapMutations} from 'vuex'
import routes from '@/router/routes'
export default {
  name: 'Tabbar',
  props:['id'],
  data () {
    return {
       navList:[
         {url:'/home',icon:require('../assets/bar/mall.png'),icon2:require('../assets/bar/mall-a.png'),ischeck:true,text:'商城'},
         {url:'/kill',icon:require('../assets/bar/kill.png'),icon2:require('../assets/bar/kill-a.png'),ischeck:false,text:'秒杀'},
         {url:'/cart',icon:require('../assets/bar/cart.png'),icon2:require('../assets/bar/cart-a.png'),ischeck:false,text:'购物车'},
         {url:'/mine',icon:require('../assets/bar/me.png'),icon2:require('../assets/bar/me-a.png'),ischeck:false,text:'我的'},
       ]
    }
  },
  computed:{
     ...mapState('cart',['cartList'])
  },
  methods:{
    changeNav(url){
      this.navList=this.navList.map(item=>{
        item.ischeck=false
        if(item.url==url){
          item.ischeck=true
        }
        return item
      })
    }
  },
  mounted(){
    let url=this.$route.path
    this.changeNav(url)
  }
}
</script>

<style lang='scss'>
.tabbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 13vw;
    padding: 0 9vw;
    background-color: #ffffff;
    border: solid 0vw #ececec;
    .nav-item{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        width: 5vw;
        margin-bottom: 1vw;
      }
      .bagage{
        background: #f80902;
        color: #fff;
        font-size: 3vw;
        padding: 0.5vw 1vw;
        position: absolute;
        top: -1vw;
        right:0vw;
        border-radius: 50%;
      }
    }
    .nav-item{
      font-size: 3vw;
      color: #292723;
    }
    .router-link-active{
        color: #f80902;
    }
}
</style>
