<template>
    <div class="wrap Abount">
        <HeadNav right='1' title='关于我们'/>
        <div class="main">
            <div class="card">
                <div class="img-box">
                   <img src="../../assets/me/abount.png" alt="">
                </div>
                <div class="card-p">
                    <!-- <p>纽菲特乳业（成都）有限公司是一家拥有婴幼儿奶制品科研、生产、销售等产业资源的大型国际乳品企业。</p>
                    <p>致力于为全球宝宝提供安全、健康、优质的乳制品，专注成为一个有温度、讲情怀、能给孩子带来儿时记忆的时尚奶粉品牌，打造世界知名品牌，铸造世界信赖品质，为成为全球受尊重和信赖的世界级乳品企业而奋斗、纽宝之家是专为纽菲特会员开设的会员互动社区，其中包含早教课程、科学育儿、辣妈打造、限时秒杀、会员商城等板块。</p>
                    <p>欢迎会员注册参与！</p> -->
                    <p>{{data}}</p>
                </div>
            </div>
            <div class="cardbg1"></div>
            <div class="cardbg2"></div>
        </div>
       
    </div>
</template>

<script>
import HeadNav from "@/components/HeadNav"
export default {
  name:'Abount',
  components:{
       HeadNav
   },
  data(){
      return{
         data:''
      }
  },
  created(){
    let obj={method:'post',url:'config',data:{type:3}}
    this.$http(obj).then(res=>{
        if(res.status==1){
            this.data=res.data
        }
    })
}
}
</script>

<style lang='scss'>
.Abount{
    .main{
        padding: 4vw 3vw;
        background:linear-gradient(to top left,#ffeaf1,#fffbfc);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card{
            height: 90%;
            background: #fff;
            padding: 6vw 4vw;
            border-radius: 3vw;
            z-index: 100;
            .img-box{
                height: 49vw;

                border-radius: 3vw;
            }
            &-p{
                margin-top: 9vw;
                font-size: 3vw;
                font-weight: normal;
                font-stretch: normal;
                line-height: 5vw;
                letter-spacing: 0vw;
                color: #000000;
                p{
                    margin-bottom: 8vw;
                }
            }
        }
        .cardbg1{
            z-index: 50;
            position: relative;
            top: -3vw;
            width: 89vw;
            height: 6vw;
            background-color: #fff7fa;
            border-radius: 3vw;
        }
        .cardbg2{
            position: relative;
            top: -6vw;
            width: 83vw;
            height:6vw;
            z-index: 1;
            background-color: #ffeef4;
            border-radius: 3vw;
        }
    }

}
</style>
