<template>
    <div class="wrap ApplyRefund">
        <div class="head-nav">
            <div @click="goback" class="head-nav-space">
                <van-icon class="backicon" name="arrow-left" />
                <span>返回</span>
            </div>
            <span class="head-nav-center">{{title}}</span>
            <div  class="head-nav-space nav-right">
                <van-icon  name="ellipsis" />
            </div>
        </div>
        <div class="main">
           <div class="pro-box" v-for="pro in detail.product" :key="pro.id">
                        <div class="img-box pro-box-left">
                            <img  :src="imgUrl+pro.mainImg[0].img_path">
                        </div>
                        <div class="pro-box-center">
                           <p class="name">{{pro.name}}</p>
                           <p class="tag">七天退换</p>
                        </div>
                        <div class="pro-box-right">
                           <p class="price">¥{{pro.price}}</p>
                           <p class="count">x{{pro.product_num}}</p>
                        </div>
            </div>
            <div class="back-group">
                <div class="back-group-item" @click="selectReason">
                    <span class="name">{{type==0?'退款原因':'退货原因'}}</span>
                    <span class="back-reason">{{reason}}</span>
                </div>
                 <div v-show="type==0" class="back-group-item">
                    <span class="name">退款金额</span>
                    <div class="back-money">
                        <span class="icon">￥</span><span>{{Number(detail.real_price).toFixed(0)}}</span><span class="icon">.{{Number(detail.real_price).toFixed(2).split('.')[1]}}</span>
                    </div>
                </div>
                     <van-field
                        required
                        class="back-group-item"
                        v-model="message"
                        :label="label"
                        type="textarea"
                        :placeholder="placeholder"
                        rows="1"
                        autosize
                        clearable
                    />
            </div>
            <div class="upload-box">
                <p class="name"><span class="must">*</span><span>上传凭证(最多6张)</span></p>
                <ul class="img-ul">
                    <li class="img-item"  v-for="item in imglist" :key="item">
                        <img @click="delImg(item)" class="del-img" src="../../assets/me/18.png" alt="">
                        <div class='img-box'>
                            <img :src="imgUrl+item" alt="">
                        </div>
                    </li>
                    <li>
                        <van-uploader :after-read="onRead">
                        <img src="../../assets/me/19.png" alt="">
                        </van-uploader>
                    </li>
                </ul>
                
            </div>
        </div>
        <van-actionsheet
        v-model="showReason"
        :actions="reasonList"
        @select="onSelect"
        />
        <div class="foot">
            <button @click="handleApply" class="btn">提交</button>
        </div>
    </div>
</template>

<script>
import { Toast } from 'vant'
import {mapState,mapActions, mapMutations} from 'vuex'
import HeadNav from "@/components/HeadNav"
export default {
  name:'ApplyRefund',
  components:{
       HeadNav
   },
  data(){
      return{
         detail:{},
         showReason:false,
         reason:'商品不合适',
         reasonList: [{name: '商品不合适'},{name:'商品破损',},{ name: '其他',}],
         message:'',
         imglist:[],
         id:'',
         title:'',
         type:'',
         label:'',
         isSubmit:true

      }
  },
  methods:{
    ...mapActions('order',['applyOutMoney','orderDetail','applyOutGoods']),
    ...mapActions('user',['upLoadImg']),
    selectReason(){
         this.showReason=true
    },
    onSelect(item) {
        // 点击选项时默认不会关闭菜单，可以手动关闭
        this.showReason=false
        this.reason=item.name
    },
    onRead(file) {
        Toast.loading({
        duration: 0,       // 持续展示 toast
        forbidClick: true, // 禁用背景点击
        loadingType: 'spinner',
        message: '上传中...'
        });
        this.upLoadImg(file).then(res=>{
            if(res.status==1){
                Toast.clear();
                this.imglist.push(res.data.url)
            }
        })
    },
    delImg(img){    
      this.imglist=this.imglist.filter(item=>item!=img)
    },
    handleApply(){//申请退款、退货
       // 检测说明
        if(this.messages==''){
            Toast('请填写说明')
            this.isSubmit=false
        }else if(this.imglist.length<1){
            Toast('请上传凭证')
            this.isSubmit=false
        }else if(this.imglist.length>6){
            Toast('最多6张凭证')
            this.isSubmit=false
        }
        else{
            this.isSubmit=true
        }
        // 检测是否可以提交
        if(this.isSubmit==false){
            return false
        }
        let obj={order_id:this.id,refund_reason:this.reason,refund_explain:this.message,refund_pic:this.imglist}
        if(this.type==0){
            this.applyOutMoney(obj).then(res=>{
                if(res.status===1){
                    this.isSubmit=false
                    Toast('申请退款成功，请耐心等待')
                }
            })
        }
        else{
            this.applyOutGoods(obj).then(res=>{
               if(res.status===1){
                   this.isSubmit=false
                    Toast('申请退货成功，请耐心等待')
               }
           })
        }
    },
    goback(){
        this.$router.go(-1)
    }
  },
  created(){
        const currentOrder=this.storage.get('currentOrder')
        this.id=currentOrder.order_id
        this.type=currentOrder.type
        this.orderDetail({order_id:this.id}).then(res=>{
            if(res.status===1){
                this.detail=res.data
            }
        })
        if(this.type==0){
            this.title='申请退款'
            this.label='退款说明'
            this.placeholder='请填写退款说明（必填）'
        }else{
            this.title='申请退货'
            this.label='退货说明'
            this.placeholder='请填写退货说明（必填）'
        }
  }
}
</script>

<style lang='scss'>
.ApplyRefund{
    .main{
        background: #f5f5f5;
        padding: 4vw 3vw;
        .must{
            color: red;
        }
        .pro-box{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 2.8vw 3vw;
                    background: #fff;
                    border-radius: 2.7vw;
                    .img-box{
                        width: 19.2vw;
                        height: 22.1vw;
                        background-color: #f5f5f5;
                        border-radius: 2vw;
                    }
                    &-center{
                        padding: 2vw 0;
                        flex: 1;
                        margin: 0 3vw;
                        .name{
                            font-size: 3.2vw;
                            font-weight: normal;
                            font-stretch: normal;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #292723;
                        }
                        .tag{
                            width:14vw;
                           margin-top: 2vw;
                            background-color: #fff1eb;
                            border-radius: 0.7vw;
                            font-size: 2.4vw;
                            line-height: 5.3vw;
                            color: #ff671b;
                        }
                    }
                    .count{
                            text-align: right;
                             font-size: 3.2vw;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #999;
                        }
                    &-right{
                            padding: 2vw 0;
                           
                        .price{
                             font-size: 3.2vw;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #4e4e4e;
                        }
                        
                    }
                }
        .back-group{
            &-item{
                overflow: hidden;
                padding: 4vw 3.2vw;
                display: flex;
                align-items: center;
                margin-top: 2.8vw;
                background-color: #ffffff;
                border-radius: 2.7vw;
                .name{
                    font-size: 3.7vw;
                    color: #333;
                    margin-right: 8.4vw;
                }
                .back-reason{
                    font-size: 3.2vw;
                    color: #999;
                }
                .back-money{
                    font-weight: bold;
                    color: #ff3600;
                    font-size: 4.8vw;
                    .icon{
                        font-size: 3vw;
                    }
                }
                .textarea{
                    border: none;
                    flex: 1;
                    padding-top: 2.5vw;
                    font-size: 3.2vw;
                }
            }
        }
        .upload-box{
            background: #fff;
            margin-top: 4vw;
            border-radius: 2.7vw;
            padding: 4.8vw 3vw;
            .name{
                font-size: 3.7vw;
	            color: #333333;
                margin-bottom: 3.7vw;
            }
            img{
                width: 17.5vw;
            }
            .img-ul{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                li{
                    width: 17.2vw;
                    margin-right: 3vw;
                    height: 17.3vw;
                    position: relative;
                    .img-box{
                        width: 17.2vw; 
                        height: 17.3vw;
                        overflow:hidden;
                        display: flex;
                        align-items: center;
                        img{
                            width:100%;
                        }
                    }
                    .del-img{
                        width: 5vw !important;
                        position: absolute;
                        top: -4vw;
                        right:-3vw;
                    }
                }
                li:nth-child(4n){
                    margin-right: 0;
                }
                .img-item{
                    border: 1px dashed #eee;
                }
            }

        }
    }
    .foot{
        padding: 5vw 3vw;
    }
}
</style>
