<template>
    <div class="wrap ChangePwd">
        <div class="head">
           <HeadNav title='修改密码'/>
           <span @click="handleComplete" class="complete">完成</span>
        </div>
        <div class="main">
            <van-cell-group class="form">
            <van-field
                v-model="userinfo.mobile"
                clearable
                autofocus='autofocus'
                input-align='left'
                placeholder="请输入手机号码"
                @blur='inputTele'
                :error-message="err.mobileErr"
            >
            <img slot="left-icon" src="../../assets/me/9.png" alt="">
            </van-field>
            
           <van-field
                v-model="userinfo.code"
                center
                clearable
                placeholder="请输入收到的验证码"
                :error-message="err.codeErr"
                @blur="checkCode"
            >
            <img slot="left-icon" src="../../assets/me/10.png" alt="">
            <van-button @click="sendCheck" class="check" slot="button" size="small" type="primary">{{checkWord}}</van-button>
            </van-field>
             <van-field
                v-model="userinfo.oldpwd"
                clearable
                type="password"
                input-align='left'
                placeholder="请输入旧密码"
                :error-message="err.oldpwdErr"
                @blur="checkOldPwd"
             >
            <img slot="left-icon" src="../../assets/me/11.png" alt="">
            </van-field>
            <van-field
                v-model="userinfo.newpwd"
                clearable
                type="password"
                input-align='left'
                placeholder="请输入新密码"
                :error-message="err.newpwdErr"
                @blur="checkPwd"
             >
            <img slot="left-icon" src="../../assets/me/11.png" alt="">
            </van-field>
            <van-field
                v-model="userinfo.secpwd"
                clearable
                type="password"
                input-align='left'
                placeholder="确认新密码"
                :error-message="err.secpwdErr"
                @blur="checkSecond"
             >
            <img slot="left-icon" src="../../assets/me/11.png" alt="">
            </van-field>
           </van-cell-group>
        </div>
       
    </div>
</template>

<script>
import {Toast} from 'vant'
import {mapState,mapActions} from 'vuex'
import HeadNav from "@/components/HeadNav"
export default {
  name:'ChangePwd',
  components:{
       HeadNav
   },
  data(){
      return{
            checkWord:'发送验证码',//发送验证码
            timer:null,
            time:60,
            isSend:false,//是否已发送验证码
            isSubmit:false,//是否可以提交
            userinfo:{
                mobile:'',
                code:'',
                oldpwd:'',
                newpwd:'',
                secpwd:''
            },
            err:{
                mobileErr:'',
                codeErr:'',
                oldpwdErr:'',
                newpwdErr:'',
                secpwdErr:''
            }
      }
  },
  computed:{
      ...mapState('user',['user'])
  },
  methods:{
      ...mapActions('user',['uptatePwd','sendCode']),
      handleComplete(){//提交修改
        this.inputTele()
        this.checkCode()
        this.checkOldPwd()
        this.checkPwd()
        this.checkSecond()
        let obj=this.err
        if(this.err.codeErr=='' && this.err.mobileErr=='' && this.err.oldpwdErr=='' && this.err.newpwdErr=='' && this.err.secpwdErr==''){
            this.isSubmit=true
        }else{
            this.isSubmit=false
        }
        if(this.isSubmit){
           this.uptatePwd(this.userinfo).then(res=>{
                if(res.status===1){
                   Toast('修改成功')
                }
           })
        }
      },
      sendCheck(){//发送验证码 60S倒计时
        let that=this
        this.inputTele()
        if(this.err.mobileErr!=''){
            return false
        }
        if(this.isSend==false){
            let obj={mobile:this.userinfo.mobile}
            this.sendCode(obj).then(res=>{
                if(res.status===1){
                    this.isSend=true
                    this.timer = setInterval(function () {
                            if(that.time == 0){
                                that.time = 60
                                clearInterval(that.timer)
                                that.checkWord='重新发送'
                                that.isSend=false
                            }else {
                                that.time = that.time - 1
                                that.checkWord=that.time+' S'
                            }
                    },1000) 
                }
            })
            
        }
      },
      inputTele(){//校验手机号
        if(this.userinfo.mobile==''){
            this.err.mobileErr='不能为空'
        }
        else if(!/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$/.test(this.userinfo.mobile)){
            this.err.mobileErr='手机格式错误'
        }
        else{
            this.err.mobileErr=''
        }
      },
      checkCode(){//校验验证码
        if(this.userinfo.code==''){
            this.err.codeErr='不能为空'
        }else{
            this.err.codeErr=''
        }
      },
      checkOldPwd(){//校验旧密码
        if(this.userinfo.oldpwd==''){
            this.err.oldpwdErr='不能为空'
        }else{
            this.err.oldpwdErr=''
        }
      },
      checkPwd(){//校验新密码
          if(this.userinfo.newpwd==''){
              this.err.newpwdErr='不能为空'
          }
          else if(!/^[0-9a-zA-Z_]{6,15}$/.test(this.userinfo.newpwd)){
              this.err.newpwdErr='新密码不符合，6-15位数字字母组合'
          }
          else{
              this.err.newpwdErr=''
          }
    },
    checkSecond(){//第二次校验新密码
            if(this.userinfo.secpwd==''){
                this.err.secpwdErr='不能为空'
            }
            else if(this.userinfo.newpwd!=this.userinfo.secpwd){
                this.err.secpwdErr='密码不一致'
            }
            else{
                this.err.secpwdErr=''
            }
    }
  },
  destroyed(){
        if(this.timer) { //如果定时器在运行则关闭
            clearInterval(this.timer); 
        }
  }

}
</script>

<style lang='scss'>
.ChangePwd{
    .head{
        position: relative;
        .complete{
            position: absolute;
            right: 3vw;
            top: 4vw;
        }
    }
    .main{
        background: #f5f5f5;
        padding: 5vw 3vw;
          .form{
              border-radius: 2vw;
              //padding: 0 3vw;
              .van-field__left-icon{
                  display: flex;
                  align-items: center;
                  img{
                     width: 4vw;
                  }
              }
              .van-cell{
                 padding:5vw 3vw;
                 .van-cell__value{
                     overflow: initial;
                 }
                 .van-field__error-message{
                     z-index: 100;
                     bottom: -4.5vw;;
                     left: 0;
                     position: absolute;
                 }
              }
              .van-cell:not(:last-child){
                  border-bottom: 1px solid #f5f5f5;
              }
              .van-cell:not(:last-child)::after{
                  border-bottom: 0;
              }
               .check{
                border: none;
               padding: 0 2vw;
                height: 7.7vw;
                background-image: linear-gradient(90deg, 
                    #f4324d 0%, 
                    #fa394c 0%, 
                    #ff3f4a 0%, 
                    #fe623b 24%, 
                    #fc852b 100%), 
                linear-gradient(
                    #ffcd00, 
                    #ffcd00);
                background-blend-mode: normal, 
                    normal;
                border-radius: 3.9vw;
            }
          }
    }
}
</style>
