<template>
    <div class="wrap EditUser">
        <div class="head">
           <HeadNav title='用户信息'/>
        </div>
        <div class="main" v-if="userInfo">
            <van-cell-group class="form">
                <div @click="editUserImg" class="form-item">
                    <span class="form-item-label">用户头像</span>
                    <div class="form-item-content">
                        <div class="img-box">
                            <img v-if="userInfo.headimg" :src="imgUrl+userInfo.headimg" alt="">
                            <img v-show="userInfo.headimg==null" src="../../assets/me/woman.png" alt="">
                        </div>
                        <van-icon class="arrow" name="arrow" />
                    </div>
                </div>
                <van-cell  is-link @click="EditName" title="用户姓名" :value="userInfo.name" />
                <van-cell  title="手机号码" :value="userInfo.mobile" />
            </van-cell-group>
            <button @click="handleComplete" class="btn complete">保&nbsp;&nbsp; &nbsp;存</button>
        </div>
        <!-- 修改弹窗 -->
        <van-dialog
        v-model="showPop"
        title="修改用户姓名"
        show-cancel-button
        v-if="userInfo"
        >
           <van-field   v-model="userInfo.name" placeholder="请输入用户名" />
        </van-dialog>
        <!-- 相册选择 -->
        <van-actionsheet class="photo-pop" v-model="showPhoto" cancel-text="取消" @cancel="onCancel">
            <van-uploader :after-read="onRead">
                 从相册选择
            </van-uploader>
        </van-actionsheet>
    </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
import {Toast } from 'vant'
import {mapState,mapActions} from 'vuex'
import HeadNav from "@/components/HeadNav"
export default {
  name:'EditUser',
  components:{
       HeadNav
   },
  data(){
      return{
            nameErr:'',
            userInfo:{
                name:'',
                mobile:'',
            },
            showPop:false,
            showPhoto:false,
            isUpload:false,
            uploadImg:'',
            actions: [{name: '从相册选择'}]
      }
  },
  computed:{
  },
  methods:{
      ...mapActions('user',['getUserInfo','editUserInfo','upLoadImg']),
      handleComplete(){//提交修改
          this.editUserInfo({name:this.userInfo.name,headimg:this.userInfo.headimg}).then(res=>{
              if(res.status===1){
                   Toast('修改成功')
              }
          })
      },
      onRead(file) {
        Toast.loading({
        duration: 0,       // 持续展示 toast
        forbidClick: true, // 禁用背景点击
        loadingType: 'spinner',
        message: '上传中...'
        });
        this.uploadImg=file.content
        this.upLoadImg(file).then(res=>{
            if(res.status==1){
                this.userInfo.headimg=res.data.url
                Toast('上传成功')
            }else{
                Toast('上传失败')
            }
            Toast.clear()
        })
        this.showPhoto=false
      },
      editUserImg(){
         this.showPhoto=true
      },
      EditName(){
         this.showPop=true
      },
      inputName(){
          if(this.userInfo.name==''){
              this.nameErr='不能为空'
          }
      }
  },
  created(){
      this.getUserInfo().then(res=>{
          if(res.status==1){
              this.userInfo=res.data
          }
      })
  }
}
</script>

<style lang='scss'>
.EditUser{
    .head{
        position: relative;
        
    }
    .main{
        background: #f5f5f5;
        padding: 5vw 3vw;
          .form{
              border-radius: 2vw;
              //padding: 0 3vw;
              .van-field__left-icon{
                  display: flex;
                  align-items: center;
                  img{
                     width: 4vw;
                  }
              }
              .van-cell{
                 padding:3vw;
                 .van-cell__value{
                     overflow: initial;
                 }
                 .van-field__error-message{
                     z-index: 100;
                     bottom: -4.5vw;;
                     left: 0;
                     position: absolute;
                 }
              }
              .van-cell:not(:last-child){
                  border-bottom: 1px solid #f5f5f5;
              }
              .van-cell:not(:last-child)::after{
                  border-bottom: 0;
              }
              &-item{
                  padding:3vw;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  border-bottom: 1px solid #f5f5f5;
                  &-label{
                     color: #323233;
                     font-size: 14px;
                  }
                  &-content{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .img-box{
                            background: #eee;
                            width: 20vw;
	                        height: 20vw;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                        .arrow{
                            color: #969799;
                            margin-left: 5px;
                        }
                  }
              }
          }
          .complete{
            margin-top: 10vw;
          }
    }
    .photo-pop{
        .van-actionsheet__content{
            padding: 6vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
</style>
