<template>
    <div class="wrap MyBag">
        <div class="head-nav">
            <div @click="goback" class="head-nav-space nav-left">
                <van-icon class="backicon" name="arrow-left" />
                <span>返回</span>
            </div>
            <span class="head-nav-center"><img src="../../assets/me/bagtile.png" alt=""></span>
            <div @click="goback"  class="head-nav-space nav-right">
                <span>取消</span>
            </div>
        </div>
        <div class="main">
           <div class="card" v-if="redBag">
             <div class="num" v-show="redBag">{{Number(redBag.balance).toFixed(0)}}</div>
             <div class="desc">总收入：{{Number(redBag.income).toFixed(2)}}</div>
             <div class="desc">总支出：{{Number(redBag.outcome).toFixed(2)}}</div>
             <div @click="toPayment" class=" btnn">提现</div>
           </div>
        </div>
       
    </div>
</template>

<script>
import {mapState,mapActions} from 'vuex' 
import HeadNav from "@/components/HeadNav"
export default {
  name:'MyBag',
  components:{
       HeadNav
   },
  data(){
      return{
         
      }
  },
  computed:{
      ...mapState('mine',['redBag']),
  },
  methods:{
      ...mapActions('mine',['getRedBag']),//to="/withdrawal"
      toPayment(){//提现
        this.$router.push({name:'withdrawal',params:{price:this.redBag.balance}})
      },
      goback(){
          this.$router.go(-1)
      }

  },
  created(){
      this.getRedBag()
  }
}
</script>

<style lang='scss'>
.MyBag{
    background: url('../../assets/me/red-bg.png') no-repeat center;
    background-size: cover;
    .head-nav{
        background: none;
        box-shadow: none;
        .nav-left{
            display: flex;
            align-items: center;
        }
        span{
            font-size: 3.9vw;
            color: #615f60;
        }
        img{
            width: 30vw;
        }
        .van-icon{
            font-size: 3.9vw;
            color: #615f60;
        }
    }
    .main{
        padding-top: 30vw;
        background: url('../../assets/me/red.png') no-repeat center 8vw;
        background-size: contain;
        .card{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .num{
                color: #ebd599;
                font-size: 25vw;
                transform: rotate(-5deg);
                padding-bottom: 17vw;
            }
            .desc{
                color: #fff;
                font-size: 4vw;
                padding-bottom: 2vw;
            }
            .btnn{
                margin-top: 7vw;
                text-align: center;
                line-height: 7vw;
                width: 20.3vw;
                height: 7vw;
                background-color: #ffffff;
                border-radius: 7vw;
                font-size: 3.9vw;
                color: #ff4249;
            }
        }
    }

}
</style>
