<template>
    <div class="wrap MyCollect">
        <div class="head">
           <HeadNav title='我的收藏'/>
           <span @click="handleComplete" class="complete">{{collectTitle}}</span>
        </div>
        <div class="main">
            <div v-show="collectList.length==0" class="empty">
              <img src="../../assets/empty/data.png" alt="">
              <p>没有相关收藏商品，快去收藏吧</p>
            </div>
            <div class="pro-list-ul">
             <div  class="pro-list-ul-li" v-for=" item in collectList" :key="item.id">
               <div @click="changleRadio(item.id)" v-show="isManage" class="radio-box">
                   <img v-show="!item.ischeck" src="../../assets/mall/radio.png" alt="">
                   <img v-show="item.ischeck" src="../../assets/mall/radio-a.png" alt="">
               </div>
               <div @click='toDetail(item)'  class="img-box">
                 <img :src="imgUrl+item.mainImg[0].img_path" alt="">
               </div>
               <div @click='toDetail(item)'  class="pro-list-ul-li-info">
                 <p class="title">{{item.name}}</p>
                 <div class="info-box">
                     <div class="price">
                         <span class="icon">￥</span><span>{{Number(item.price).toFixed(0)}}</span><span class="icon">.{{Number(item.price).toFixed(2).split('.')[1]}}</span>
                     </div>
                     <span class="count">已售：{{item.sales_num}}   库存：{{item.stock}}</span>
                   </div>
                 <div class="info-box discount">
                   <div class="info-box-item">
                     <img src="../../assets/me/hb.png" alt="红包">
                     <span class="name">红包:{{item.package_money}}元</span>
                   </div>
                   <div class="multi">抵现倍数{{item.package_ratio}}倍</div>
                   
                 </div>
               </div>
             </div>
           </div>
        </div>
        <div v-show="isManage" class="foot">
            <div @click="changeAll" class="all-icon">
                <img v-show="!allchioce" src="../../assets/mall/radio.png" alt="">
                <img v-show="allchioce" src="../../assets/mall/radio-a.png" alt="">
            </div>
            <button @click="delChioce" class="btn">删除</button>
        </div>
    </div>
</template>

<script>
import {mapState,mapActions,mapMutations} from 'vuex'
import HeadNav from "@/components/HeadNav"
export default {
  name:'MyCollect',
  components:{
       HeadNav
   },
  data(){
      return{
         collectTitle:'管理',
         isManage:false,
         list:[]
      }
  },
  computed:{
     ...mapState('collect',['collectList','allchioce'])
  },
  methods:{
      ...mapMutations('collect',['radioSelect','allSelect']),
      ...mapActions('collect',['loadCollect','deleteCollect']),
      handleComplete(){//管理
          this.isManage=!this.isManage
          if(this.isManage){
            this.collectTitle='完成'
          }
          else{
            this.collectTitle='管理'
          }
          
      },
      changleRadio(id){//单选
        this.radioSelect(id)
      },
      changeAll(){//全选
        this.allSelect()
      },
      delChioce(){//删除收藏
        let ids=this.collectList.filter(item=>item.ischeck==true)
        ids=ids.map(item=>item.id)
        ids=ids.join(',')
        this.deleteCollect({product_ids:ids}).then(res=>{
          if(res.status==1){
            this.loadCollect()
          }
        })
      },
      toDetail(item){
        this.storage.set('ProDetail',{id:item.id,type:0})
        this.$router.push({ name: 'detail'})
      }
  },
  created(){
    this.loadCollect()
  }

}
</script>

<style lang='scss'>
.MyCollect{
    .head{
        position: relative;
        .complete{
            position: absolute;
            right: 3vw;
            top: 4vw;
        }
    }
    .main{
        background: #f9f9f9;
        padding: 5vw 0;
      .pro-list-ul{
          box-shadow: 0 0 10vw #eee;
          background: #fff;
           border-top-left-radius: 2vw;
            border-bottom-right-radius: 2vw;
        &-li{
          height: 38vw;
          padding: 3vw 3vw;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid #eee;
          .radio-box{
              margin-right: 2vw;
            img{
                width: 5vw;
            }
          }
          .img-box{
            width: 23vw;
            height: 26vw;
            background-color: #f5f5f5;
            border-radius: 2vw;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
              width: 100%;
            }
          }
          &-info{
            flex: 1;
            padding-left: 4vw;
            .title{
              font-size: 4vw;
              font-weight: normal;
              font-stretch: normal;
              line-height: 5vw;
              letter-spacing: 0vw;
              color: #292723;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
              margin-bottom: 2vw;
            }
            .info-box{
              display: flex;
              align-items: center;
              .price{
                  width: 25vw;
                    font-size: 4.8vw;
                    color: #ff3600;
                    .icon{
                        font-size: 3vw;
                    }
              }
              &-item{
                margin-right: 3vw;
                display: flex;
                align-items: center;
                .name{
                  font-size: 3.2vw;
                  font-weight: normal;
                  font-stretch: normal;
                  line-height: 5vw;
                  letter-spacing: 0vw;
                  color: #242424;
                }
                .num{
                  font-size: 4vw;
                    font-weight: bolder;
                    font-stretch: normal;
                    line-height: 5vw;
                    letter-spacing: 0vw;
                    color: #ff3600;
                    .unit{
                       font-size: 3vw;
                    }
                }
                img{
                  width: 3.5vw;
                  margin-right: 1vw;
                }
                .ling{
                  text-decoration: line-through;
                }
                .fw{
                  font-weight: bolder;
                }
              }
            }
            .discount{
              margin-top: 2vw;
              .num{
                font-size: 4vw;
              }
              .multi{
                   padding:0 2vw;
                   line-height: 4.4vw;
                    height: 4.4vw;
                    background-color: #ffedec;
                    border-radius: 2.2vw;
                    font-size: 2.9vw;
                    color: #fa362b;
              }
            }
            .count{
              font-size: 3.2vw;
              font-weight: normal;
              font-stretch: normal;
              line-height: 5vw;
              letter-spacing: 0vw;
              color: #999999;
            }
          }
        }
        &-li:first-child{
            border-top: 0px;
        }
      }
      .empty{
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 10vw 3vw;
        p{
          padding: 10vw 3vw;
          color: #292723;
          font-size: 3.3vw;
        }
        img{
          width: 50vw;
        }
      }
    }
    .foot{
        padding: 0 3vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 13vw;
	    background-color: #ffffff;
        .all-icon{
            img{
                width: 5vw;
            }
        }
        .btn{
            width: 26vw !important;
            height: 10vw;
            color: #ffffff;
            font-size: 3vw;
            border: none;
            background-image: linear-gradient(90deg, 
                #ff8a00 0%, 
                #ff5d00 32%, 
                #ff3000 100%), 
            linear-gradient(
                #000000, 
                #000000);
            background-blend-mode: normal, 
                normal;
            border-radius: 5vw;
        }
    }

}
</style>
