<template>
    <div class="wrap MyOrder">
       <div class="head">
            <div class="nav">
                <div  @click="goback" class="nav-space">
                    <van-icon class="backicon" name="arrow-left" />
                    <span>返回</span>
                </div>
                <span @click="changeNav(0)" :class="currentPage==0?'active':''">商城订单</span>
                <span @click="changeNav(1)" :class="currentPage==1?'active':''">秒杀订单</span>
                <span @click="changeNav(2)" :class="currentPage==2?'active':''">中奖订单</span>
                <div class="nav-space"></div>
            </div>
            <!-- 普通订单 -->
            <van-tabs v-show="currentPage==0" class="meau" v-model="activeIndex" swipeable @click="onClick">
                <van-tab v-for="item in meau" :key="item" :title="item">
                </van-tab>
            </van-tabs>
            <!-- 秒杀 -->
            <van-tabs v-show="currentPage==1" class="meau meau2" v-model="activeIndex" swipeable @click="onClick">
                <van-tab v-for="item in meau2" :key="item" :title="item">
                </van-tab>
            </van-tabs>
            <!-- 中奖 -->
            <van-tabs v-show="currentPage==2" class="meau meau3" v-model="activeIndexPrize" swipeable @click="onClick">
                <van-tab v-for="item in meau3" :key="item" :title="item">
                </van-tab>
            </van-tabs>
       </div>
       <!-- 普通、秒杀 -->
        <div class="main">
            <div class="wrapper" ref="wrapper">
            <div class="bscroll-container">
                <!-- 刷新提示信息 -->
                <div class="top-tip">
                    <span class="refresh-hook">{{pulldownMsg}}</span>
                </div>
                <!-- 内容列表 -->
                <!-- 普通、秒杀 -->
                <ul v-show="currentPage!=2" class="order-ul" >
                    <li class="order-ul-li" v-for="item in list" :key="item.id" >
                        <p class="status">
                            <span class="order-no">订单号：{{item.order_no}}</span>
                            <span>{{(item.status==0 && '待付款') ||( item.status==1 && '待发货') || ( item.status==2 && '待收货')||( item.status==3 && '交易完成') || ( item.status==4 && '支付超时')||( item.status==5 && '用户取消') || ( item.status==6 && '申请退款')|| ( item.status==7 && '退款成功')||( item.status==8 && '申请退货') || ( item.status==9 && '申请退货')|| ( item.status==10 && '退货中')||( item.status==11 && '退货中') || ( item.status==12 && '退款退货成功')}}</span>
                        </p>
                        <div @click="toOrderDetail(item.id)" class="pro-box" v-for="pro in item.product" :key="pro.id">
                            <div class="img-box pro-box-left">
                                <img  :src="imgUrl+pro.mainImg[0].img_path">
                            </div>
                            <div class="pro-box-center">
                            <p class="name">{{pro.name}}</p>
                            <p class="tag">七天退换</p>
                            </div>
                            <div class="pro-box-right">
                            <p class="price">¥{{pro.price}}</p>
                            <p class="count">x{{pro.product_num}}</p>
                            </div>
                        </div>
                        <div class="total"><span>共{{item.product.length}}件商品 合计：</span><span class="icon">¥</span>{{Number(item.order_price).toFixed(0)}}<span class="icon">.{{Number(item.order_price).toFixed(2).split('.')[1]}}</span></div>
                        <div class="btn-box">
                            <button @click="handleCancel(item.id)"    v-show="item.status==0"  class="btnn gray">取消订单</button>
                            <button @click="handleApply(item.id)"     v-show="item.status==0" class="btnn red">去付款</button>
                            <button @click="handleReturnGoods(item.id)"   v-show="item.status==2||item.status==3" class="btnn gray">退货</button>
                            <button @click="handleDiliver(item.id)"   v-show="item.status==2" class="btnn red">确认收货</button>
                            <button @click="handleDelOrder(item.id)"  v-show="item.status==3 || item.status==12 ||item.status==4||item.status==5" class="btnn red">删除订单</button>
                            <button @click="toOrderDetail(item.id)"    v-show="item.status==6 ||item.status==1||item.status==10||item.status==11"  class="btnn red">查看详情</button>
                            <button @click="ReturnMoneySuccess(item)"       v-show="item.status==7||item.status==12" tag="button" class="btnn red">查看详情</button>
                            <button @click="handleCancelApply(item)"  v-show="item.status==6 || item.status==8 ||item.status==9" class="btnn red">取消申请</button>
                        </div>
                    </li>
                </ul>
                <!-- 中奖 -->
                <ul v-show="currentPage==2" class="order-ul">
                    <li class="order-ul-li" v-for="item in prizeList" :key="item.id" >
                        <p class="status">
                            <span class="order-no">订单号：{{item.order_no}}</span>
                            <span>{{( item.send_status==0 && '待发货') || ( item.send_status==1 && '已发货')||( item.send_status==2 && '用户取消')||(item.collar_status==1&& '领取成功') }}</span>
                        </p>
                        <div class="pro-box">
                            <div class="img-box pro-box-left">
                                <img  :src="imgUrl+item.img">
                            </div>
                            <div class="pro-box-center">
                            <p class="name">{{item.prize_name}}</p>
                            <p class="tag">七天退换</p>
                            </div>
                            <div class="pro-box-right">
                            <p class="count">x{{item.prize_num||1}}</p>
                            </div>
                        </div>
                        <div class="btn-box">
                            <button @click="handleCancelPrize(item.id)"    v-show="item.send_status==0"  class="btnn gray">取消订单</button>
                            <button @click="handleDiliverPrize(item.id)"   v-show="item.send_status==1 && item.collar_status==0" class="btnn red">确认收货</button>
                        </div>
                    </li>
                </ul>
                <!-- 没有数据 -->
                <div class="empty a1" v-show="currentPage!=2&&list.length==0">
                    <img src="../../assets/empty/data.png" alt="">
                    <p>您还没有相关的订单</p>
                    <router-link to="/goodsList"  class="desc">再去逛逛吧</router-link>
                </div>
                <div class="empty a2" v-show="currentPage==2&&prizeList.length==0">
                    <img src="../../assets/empty/data.png" alt="">
                    <p>您还没有相关的订单</p>
                    <router-link to="/goodsList"  class="desc">再去逛逛吧</router-link>
                </div>
                <!-- 底部提示信息 -->
                <div class="bottom-tip" v-show='list.length>=length||prizeList.length>=length'>
                    <span class="loading-hook">{{pullupMsg}}</span>
                </div>
            </div>
          </div>
            
        </div>
    </div>
</template>

<script>
import BScroll from "better-scroll"
import {mapState,mapActions, mapMutations} from 'vuex'
import { Toast } from 'vant';
import storage from '@/modules/storage'
export default {
  name:'MyOrder',
  data(){
      return{
         currentPage:0,//0.普通订单,1秒杀订单，2中奖
         currentStatus:'',
         length:5,
         offset:0,
         meau2:['全部','待付款','待发货','待收货','已收货','售后'],
         meau:['全部','待付款','待发货','待收货','已收货','退款/售后'],
         meau3:['全部','待发货','待收货','已收货'],
         active:0,//商城
         active2:0,//秒杀
         active3:0,//中奖
         activeIndex:0,//
         activeIndexPrize:0,//中奖
         status:1,
         list:[],
         finished: false,
         prizeList:[],
         allPrizeList:[],
         prizefinished:false,
         showcomfirmApply:false,//打开确认支付弹窗
         totalMoney:0.00,//去支付的钱
         payId:0,//去支付订单id
         pulldownMsg: '下拉刷新',
         pullupMsg: '加载更多',
         scroll:null,
      }
  },
    computed:{
     ...mapState('order', ['orderList','orderTotal']),//商品详情

    },
    methods:{
        ...mapActions('order',['getOrderList','cancelOrder','applyOutMoney','applyOutGoods','deleteOrder','comfirmGoods','getOrderTotal','undoApplyOut','undoApplyOutGoods','getPrizeList','weixinPay']),//订单创建
        goback(){
            this.$router.go(-1)
        },
        onLoad(){
           console.log('加载')
           let that=this
           this.handleList()
           setTimeout(()=>{
               that.isLoading=false
           },1000)
        },
        onRefresh(){
            this.offset=0
            this.list=[]
            this.prizeList=[]
            this.handleList()
        },
        changeNav(id){
            let that=this
            this.list=[]
            this.prizeList=[]
            this.offset=0
            this.currentPage=id
            this.currentStatus=''
            this.activeIndex=0
            this.handleList()
            this.setPageStatus()
        },
        /*
        0.待支付，   1.已支付 ，   2.待收货 ，  3.已完成,  4支付超时系统自动取消，  5.用户取消， 6.申请退款,
        7.退款成功， 8用户申请退货（未收货），  9.用户申请退货（已收货）, 10.同意退货（未收货），   11.同意退货（已收货） 12.退款退货成功
        */
        onClick(index){//切换订单状态0-end
            this.offset=0
            if(this.currentPage!=2){
                 this.activeIndex=index
                 switch(index){
                    case 0:
                    this.currentStatus=''
                    break;
                    case 1:
                    this.currentStatus='0,4'
                    break;
                    case 2:
                    this.currentStatus=1
                    break;
                    case 3:
                    this.currentStatus=2
                    break;
                    case 4:
                    this.currentStatus=3
                    break;
                    case 5:
                    this.currentStatus='6,7,8,9,10,11,12'
                    break;

                }
                let that=this
                this.list=[]
                this.handleList()
            }else{
                this.activeIndexPrize=index
                switch(index){
                    case 0:
                       this.prizeList=this.allPrizeList
                       break; 
                    case 1:
                       this.prizeList=this.allPrizeList.filter(item=>(item.send_status!=1&&item.collar_status!=1))
                       break;
                    case 2:
                       this.prizeList=this.allPrizeList.filter(item=>(item.send_status==1&&item.collar_status==0))
                       break;
                    case 3:
                       this.prizeList=this.allPrizeList.filter(item=>item.send_status==1&&item.collar_status==1)
                       break;  
                }
                
            }
            this.setPageStatus()
        },
        handleList(){//获取数据
           let that=this
           if(this.currentPage!=2){//普通订单
                this.getOrderList({offset:this.offset,length:this.length,type:this.currentPage,status:this.currentStatus}).then(res=>{
                    if(res.status==1){
                        that.list=that.list.concat(res.data)
                        that.offset+=that.length
                        //恢复刷新提示文本值
                        that.pulldownMsg = '下拉刷新'
                        //刷新列表后，重新计算滚动区域高度
                        that.scroll.refresh();
                        if(res.data.length<this.length){
                            that.finished=true
                        }else{
                            that.finished=false
                        }
                    }
                })
            }else{
                this.getPrizeList({offset:this.offset,length:this.length}).then(res=>{
                    if(res.status==1){
                        that.allPrizeList=that.prizeList.concat(res.data)
                        that.prizeList=that.allPrizeList
                        that.offset+=that.length
                        //恢复刷新提示文本值
                        that.pulldownMsg = '下拉刷新'
                        //刷新列表后，重新计算滚动区域高度
                        that.scroll.refresh();
                        if(res.data.length<this.length){
                            that.finished=true
                        }else{
                            that.finished=false
                        }
                    }
                })
            }
        },
        toOrderDetail(id){//普通的查看详情
            this.setPageStatus()
            this.storage.set('currentOrder',{order_id:id})
            this.$router.push('/orderDetail')
        },
        ReturnMoneySuccess(item){//退款成功后的详情
            let type=0
            if(item.status==7){
               type=0
            }else{
                type=1
            }
            this.setPageStatus()
            this.storage.set('currentOrder',{order_id:item.id,type})
            this.$router.push('/refundDetail')
        },
        handleReturnGoods(id){//退货
            this.setPageStatus()
            this.storage.set('currentOrder',{order_id:id,type:1})
            this.$router.push('/applyRefund')
        },
        handleCancel(id){//取消订单
           this.cancelOrder({order_id:id}).then(res=>{
               if(res.status===1){
                     Toast('取消成功')
                     this.offset=0
                     this.list=[]
                     this.handleList()
               }
           })
        },
        handleCancelApply(item){//取消申请
           let obj={order_id:item.id}
          if(item.status==6){//退款
              this.undoApplyOut(obj).then(res=>{
                  if(res.status==1){
                      Toast('成功取消申请')
                      this.offset=0
                      this.list=[]
                      this.handleList()
                  }
              })
          }else{
              this.undoApplyOutGoods(obj).then(res=>{
                  if(res.status==1){
                      Toast('成功取消申请')
                      this.offset=0
                      this.list=[]
                      this.handleList()
                  }
              })
          } 
        },
        handleApply(id){//去付款
            this.setPageStatus()
            let obj={order_id:id}
            this.weixinPay(obj).then(res=>{
                if(res.status==1){
                    Toast('支付成功')
                    this.list=[]
                    this.offset=0
                    this.handleList()
                }
            })
        },
        handleDiliver(id){//确认收货
            this.comfirmGoods({order_id:id}).then(res=>{
               if(res.status===1){
                     Toast.success('成功收货')
                     this.list=[]
                     this.offset=0
                     this.handleList()
               }
           })
        },
        handleDelOrder(id){//删除订单
            this.deleteOrder({order_id:id}).then(res=>{
                if(res.status===1){
                    Toast.success('删除成功')
                    this.list=this.list.filter(item=>item.id!=id)
                }
            })
        },
        handleCancelPrize(id){//取消获奖订单
           let obj={method:'post',url:'cancel_prize',data:{id}}
           this.$http(obj).then(res=>{
               if(res.status==1){
                     Toast.success('取消成功')
                     this.offset=0
                     this.prizeList=[]
                     this.handleList()
               }
           })
        },
        handleDiliverPrize(id){//获奖订单确认收货
           let obj={method:'post',url:'take_prize',data:{id}}
           this.$http(obj).then(res=>{
               if(res.status==1){
                    Toast.success('领取成功')
                     this.offset=0
                     this.prizeList=[]
                     this.handleList()
               }
               
           })
        },
        setPageStatus(){
            let obj={page:this.currentPage,status:this.currentStatus,activeIndex:this.activeIndex,activeIndexPrize:this.activeIndexPrize}
            this.storage.set('orderPageStatus',obj)
        }
    },
    mounted(){
       
    },
    created(){
        let that=this
        let orderPageStatus=this.storage.get('orderPageStatus')||false
        if(orderPageStatus){
            this.currentPage=orderPageStatus.page
            this.currentStatus=orderPageStatus.status
            this.activeIndex=orderPageStatus.activeIndex
            this.activeIndexPrize=orderPageStatus.activeIndexPrize
        }
        this.handleList()
        this.$nextTick(() => {
                this.scroll = new BScroll(this.$refs.wrapper,{       //初始化better-scroll
                    probeType:1,   //1 滚动的时候会派发scroll事件，会截流。2滚动的时候实时派发scroll事件，不会截流。 3除了实时派发scroll事件，在swipe的情况下仍然能实时派发scroll事件
                    click: true   //是否派发click事件
                })
                // 滑动过程中事件
                this.scroll.on('scroll',(pos)=>{
                    if(pos.y > 30){
                        this.pulldownMsg = '释放立即刷新'
                    }
                });
                //滑动结束松开事件
                this.scroll.on('touchEnd',(pos) =>{  //上拉刷新
                    if(pos.y > 30){
                        that.list=[]
                        that.allPrizeList=[]
                        that.offset=0
                        that.handleList()
                        this.pullupMsg = '加载更多';
                    } 
                    else if(pos.y<(this.scroll.maxScrollY - 30)){   //下拉加载
                        if(this.finished==true){
                        this.pullupMsg = '没有更多了'
                        }else{
                        this.pullupMsg = '加载中...';
                        that.handleList()
                        }
                        
                    }
                })      
        })
    }
}
</script>

<style lang='scss'>
.MyOrder{
    .head{
        .nav{
            padding: 0 3vw;
            height:12vw ;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background:#fff;
            &-space{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 12vw;
            }
            span{
                font-size: 4vw;
            }
            .van-icon{
                font-size: 5vw;
            }
            .active{
                font-size: 4vw;
                color: #ff0000;
            }
        }
        .meau{
            .van-tab{
                flex: initial;
                 font-size: 3.2vw;
                 color: #363636;
            }
            .van-tab--active{
                color: #ff0000;
                font-size: 3.2vw;
            }
            .van-tabs__line{
               background-image: linear-gradient(90deg, 
                #ff8a00 0%, 
                #ff5d00 32%, 
                #ff3000 100%);
            }
        }
        .meau2{
            .van-tab{
                flex: initial;
            }
        }
        .meau3{
            .van-tab{
                flex: initial;
                width: 25%;
            }
            .van-tabs__line{
                width: 40px;
            }
        } 
    } 
    .main{
        background: #f5f5f5;
        padding: 0 2.8vw;
        .order-ul{
            width: 100%;
            overflow-x: hidden;
            &-li{
                margin-top: 3.7vw;
                width: 100%;
                background-color: #ffffff;
                box-shadow: 0vw 0.3vw 1.1vw 0vw 
                    rgba(238, 238, 238, 0.35);
                border-radius: 2vw;
                .status{
                    height: 10.4vw;
                    line-height: 10.4vw;
                    padding: 0 3vw;
                    border-bottom: 0.1vw solid #f5f5f5;
                    font-size: 3.2vw;
                    color: #ff1b1b;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .order-no{
                        color: #363636;
                        font-size: 3vw;
                    }
                }
                .pro-box{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 2.8vw 3vw;
                    
                    border-bottom: 0.1vw solid #f5f5f5;
                    .img-box{
                        width: 19.2vw;
                        height: 22.1vw;
                        background-color: #f5f5f5;
                        border-radius: 2vw;
                    }
                    &-center{
                        padding: 2vw 0;
                        flex: 1;
                        margin: 0 3vw;
                        .name{
                            font-size: 3.2vw;
                            font-weight: normal;
                            font-stretch: normal;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #292723;
                        }
                        .tag{
                            text-align: center;
                            width:14vw;
                            margin-top: 4vw;
                            background-color: #fff1eb;
                            border-radius: 0.7vw;
                            font-size: 2.4vw;
                            line-height: 5.3vw;
                            color: #ff671b;
                        }
                    }
                    &-right{
                            padding: 2vw 0;
                           
                        .price{
                             font-size: 3.2vw;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #4e4e4e;
                        }
                        .count{
                            text-align: right;
                             font-size: 3.2vw;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #999;
                        }
                    }
                }
                .total{
                    padding-right: 3vw;
                    padding-top: 3vw;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    font-size: 3.2vw;
                        font-weight: normal;
                        letter-spacing: 0vw;
                        color: #202020;
                    .icon{
                        font-size: 2.7vw;
                    }
                }
                .btn-box{
                    padding-right: 3vw;
                    padding-bottom: 3vw;
                    margin-top: 2.4vw;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .btnn{
                        margin-left: 2vw;
                        width: 17.7vw;
                        background: #fff;
                        height: 6.7vw;
                        border-radius: 3.3vw;
                        border:1px solid  #d0d0d0;
                        font-size: 3.2vw;
                        color: #666666;

                    }
                    .red{
                        color: #ff0000;
                        border:1px solid #ff3f4a;
                    }
                }
            }
        }
    }
    .empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:10vw;
        img{
            width: 60vw;
        }
    }
}
</style>
