<template>
    <div class="wrap MyTicket">
        <div class="head-nav">
            <div @click="goback" class="head-nav-space nav-left">
                <van-icon class="backicon" name="arrow-left" />
                <span>返回</span>
            </div>
            <span class="head-nav-center"><img src="../../assets/me/title1.png" alt=""></span>
            <div @click="goback"  class="head-nav-space nav-right">
                <span>取消</span>
            </div>
        </div>
        <div class="main">
           <div class="card" v-if="quanBag">
             <div class="card-left">
                 <p class="name">纽宝券</p>
                 <p class="num">当前剩余：{{quanBag.balance}}张</p>
                 <p class="num">历史总计：{{quanBag.income}}张</p>
                 <p class="num">已使用：{{quanBag.outcome}}张</p>
                
             </div>
            <div class="card-right">
                <router-link to="/home" tag="div" class=" btnn">去使用</router-link>
            </div>
           </div>
        </div>
       
    </div>
</template>

<script>
import {mapState,mapActions} from 'vuex' 
import HeadNav from "@/components/HeadNav"
export default {
  name:'MyTicket',
  components:{
       HeadNav
   },
  data(){
      return{
      }
  },
  computed:{
      ...mapState('mine',['quanBag']),
  },
  methods:{
      ...mapActions('mine',['getVoucher']),
      goback(){
          this.$router.go(-1)
      }
  },
  created(){
      this.getVoucher()
  }
}
</script>

<style lang='scss'>
.MyTicket{
    background: url('../../assets/me/red-bg.png') no-repeat center;
    background-size: cover;
    .head-nav{
        background: none;
        box-shadow: none;
        .nav-left{
            display: flex;
            align-items: center;
        }
        span{
            font-size: 3.9vw;
            color: #615f60;
        }
        img{
            width: 30vw;
        }
        .van-icon{
            font-size: 3.9vw;
            color: #615f60;
        }
    }
    .main{
        padding: 0 12vw;
        padding-top: 82vw;
        background: url('../../assets/me/quan.png') no-repeat center top;
        background-size: contain;
        .card{
           display: flex;
           align-items: center;
           justify-content: space-between;
           &-right{
               padding-right: 4.5vw;
           }
           .name{
               font-size: 5vw;
               color: #fff;
           }
           .num{
               padding-top: 1vw;
               color: #fff;
               font-size: 3.3vw;
           }
            .btnn{
                text-align: center;
                line-height: 6vw;
                width: 20.3vw;
                height: 6vw;
                background-color: #ffffff;
                border-radius: 2.9vw;
                font-size: 3.9vw;
                color: #ff4249;
            }
           
        }
    }

}
</style>
