<template>
    <div class="wrap OrderDetail">
        <HeadNav title='订单详情' right='1'/>
        <div class="main">
            <!-- 已付款 -->
           <div class="mark-box">
              <p class="mark">{{(detail.status==0 && '待付款') ||( detail.status==1 && '已付款') || ( detail.status==2 && '卖家已发货')||( detail.status==3 && '已完成') || ( detail.status==4 && '支付超时')||( detail.status==5 && '用户取消') || ( detail.status==6 && '申请退款')|| ( detail.status==7 && '退款成功')||( detail.status==8 && '申请退货') || ( detail.status==9 && '申请退货')|| ( detail.status==10 && '退货中')||( detail.status==11 && '退货中') || ( detail.status==12 && '退款退货成功')}}</p>
              <p class="word">付款时间：{{detail.time}}</p>
           </div>

           <!-- 地址 -->
           <div class="address-box">
               <div class="img-box">
                   <img src="../../assets/cart/address.png" alt="">
               </div>
               <div class="address-box-right">
                   <p class="user">
                    <span>{{detail.collect_name}}</span>
                    <span class="tele">{{detail.collect_tel}}</span>
                </p>
                <p class="address">{{detail.address}}</p>
               </div>
           </div>

           

           <div class="order-detail-info">
               <div class="pro-box" v-for="pro in detail.product" :key="pro.id">
                        <div class="img-box pro-box-left">
                            <img  :src="imgUrl+pro.mainImg[0].img_path">
                        </div>
                        <div class="pro-box-center">
                           <p class="name">{{pro.name}}</p>
                           <p class="tag">七天退换</p>
                        </div>
                        <div class="pro-box-right">
                           <p class="price">¥{{pro.price}}</p>
                           <p class="count">x{{pro.product_num}}</p>
                        </div>
                </div>
                <van-cell-group class="group-grey">
                    <van-cell title="商品总价：" :value="'￥'+detail.order_price" />
                    <van-cell title="运费：" value="0.00" />
                    <van-cell title="使用优惠： " :value="'-￥'+detail.order_bonus" />
                </van-cell-group>
                <van-cell-group class="group-black">
                    <van-cell title="订单总价" :value="'¥'+detail.order_price" />
                    <van-cell class="uniq" title="实付款" :value="'¥'+detail.real_price" />
                    <van-cell class="uniq" title="需付款" :value="'￥'+detail.order_price" />
                </van-cell-group>
           </div>
        </div>
        <div class="btn-box">
            <button @click="handleReturnMoneny(detail.id)"  v-show="detail.status==1"  class="btnn gray">退款</button>
            <button @click="handleCancel(detail.id)" v-show="detail.status==0" class="btnn gray" >取消订单</button>
            <button @click="handleApply(detail.id)" v-show="detail.status==0" class="btnn red">去付款</button>
            <router-link tag="button" :to="{ name: 'applyRefund', params: { id: detail.id,type:2}}" v-show="detail.status==3" class="btnn red">申请售后</router-link>
            <!-- 已发货，未收货，已经收货 -->
            <button @click="handleReturnGoods(detail.id)" v-show="detail.status==2||detail.status==3" class="btnn gray">退货</button>
            <button @click="handleDiliver(detail.id)" v-show="detail.status==2" class="btnn red">确认收货</button>
            <button @click="handleDelOrder(detail.id)" v-show="detail.status==3 ||detail.status==4||detail.status==5||detail.status==7||detail.status==12" class="btnn red">删除订单</button>
            <button @click="handleCancelApply(detail)"  v-show="detail.status==6 || detail.status==8 ||detail.status==9||detail.status==10||detail.status==11" class="btnn red">取消申请</button>
        </div>
    </div>
</template>

<script>
import { Toast } from 'vant'
import moment from 'moment'
import {mapState,mapActions, mapMutations} from 'vuex'
import HeadNav from "@/components/HeadNav"
export default {
  name:'OrderDetail',
  components:{
       HeadNav
   },
  data(){
      return{
          id:'',
          detail:{}
      }
  },
    methods:{
        ...mapActions('order',['orderDetail','cancelOrder','applyOutMoney','applyOutGoods','deleteOrder','comfirmGoods','undoApplyOut','undoApplyOutGoods','weixinPay']),//订单创建
        handleCancel(id){//取消订单
           this.cancelOrder({order_id:id}).then(res=>{
                  if(res.status==1){
                      Toast('取消成功')
                      this.getOrderDetail()
                  }
            })
        },
        handleReturnMoneny(id){//type：0退款
           this.storage.set('currentOrder',{order_id:id,type:0})
           this.$router.push('/applyRefund')

        },
        handleReturnGoods(id){//type:1退货
           this.storage.set('currentOrder',{order_id:id,type:1})
           this.$router.push('/applyRefund')

        },
        handleApply(id){//去付款
            let obj={order_id:id}
            this.weixinPay(obj).then(res=>{
                console.log(res)
            })
        },
        handleDiliver(id){//确认收货
            this.comfirmGoods({order_id:id}).then(res=>{
                  if(res.status==1){
                      Toast('确认成功')
                      this.getOrderDetail()
                  }
            })
        },
        handleDelOrder(id){//删除订单
            this.deleteOrder({order_id:id}).then(res=>{
                if(res.status===1){
                    Toast('删除成功')
                    this.$router.push('/orderDetail')
                }
            })
        },
        handleCancelApply(item){//取消申请
          let obj={order_id:item.id}
          if(item.status==6){//退款
              this.undoApplyOut(obj).then(res=>{
                  if(res.status==1){
                      Toast('成功取消申请')
                      this.getOrderDetail()
                  }
              })
          }else{
              this.undoApplyOutGoods(obj).then(res=>{
                  if(res.status==1){
                      Toast('成功取消申请')
                      this.getOrderDetail()
                  }
              })
          } 
        },
        getOrderDetail(){
            this.orderDetail({order_id:this.id}).then(res=>{
                if(res.status===1){
                    this.detail=res.data
                    let time=Number(res.data.pay_time+"000")
                    time=new Date().getTime()
                    time=moment(time).format('YYYY年MM月DD日 HH:mm:ss')
                    Object.assign(this.detail,{time})
                }
            })
        }
    },
    mounted(){
      
    },
    created(){
        const currentOrder=this.storage.get('currentOrder')
        this.id=currentOrder.order_id
        this.getOrderDetail()
    }
}
</script>

<style lang='scss'>
.OrderDetail{
    .main{
        background: #f5f5f5;
        padding: 4vw 3vw;
        .mark-box{
            padding: 7.9vw 4.4vw;
            height: 25.9vw;
            background-image: linear-gradient(90deg, 
                #ff8a00 0%, 
                #ff5d00 32%, 
                #ff3000 100%), 
            linear-gradient(
                #f5f5f5, 
                #f5f5f5);
            background-blend-mode: normal, 
                normal;
            border-radius: 2.7vw;
            .mark{
                font-size: 4vw;
                color: #f5f5f5;
                margin-bottom: 3.2vw;
            }
            .word{
                font-size: 2.9vw;
                color: #f5f5f5;
            }
        }
        .address-box{
            margin-top: 4.7vw;
            margin-bottom: 4vw;
            padding: 4vw 3vw;
            height: 21.1vw;
            background-color: #ffffff;
            box-shadow: 0vw 0.3vw 1.1vw 0vw 
                rgba(238, 238, 238, 0.35);
            border-radius: 2vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .img-box{
               width: 7.9vw;
            }
            &-right{
                flex: 1;
                padding-left: 2vw;
            }
            .user{
                font-size: 4vw;
                color: #000000;
                .tele{
                    font-size: 2.9vw;
                    color: #999999;
                }
            }
            .address{
                padding-top: 2vw;
                font-size: 2.9vw;
                line-height: 4vw;
                color: #333333;
            }
        }
        .order-detail-info{
            background: #fff;
            border-radius: 2.7vw;
             .pro-box{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 2.8vw 3vw;
                    
                    border-bottom: 0.1vw solid #f5f5f5;
                    .img-box{
                        width: 19.2vw;
                        height: 22.1vw;
                        background-color: #f5f5f5;
                        border-radius: 2vw;
                    }
                    &-center{
                        padding: 2vw 0;
                        flex: 1;
                        margin: 0 3vw;
                        .name{
                            font-size: 3.2vw;
                            font-weight: normal;
                            font-stretch: normal;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #292723;
                        }
                        .tag{
                            text-align:center;
                            width:14vw;
                           margin-top: 2vw;
                            background-color: #fff1eb;
                            border-radius: 0.7vw;
                            font-size: 2.4vw;
                            line-height: 5.3vw;
                            color: #ff671b;
                        }
                    }
                    .count{
                            text-align: right;
                             font-size: 3.2vw;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #999;
                        }
                    &-right{
                            padding: 2vw 0;
                           
                        .price{
                             font-size: 3.2vw;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #4e4e4e;
                        }
                        
                    }
                }
            .group-grey{
                .van-cell{
                    &__title,&__value{
                        font-size: 2.9vw;
                        color: #999999;
                    }
                }
            }
            
            .van-cell:not(:last-child)::after{
                border-bottom: 0px;
            }
        }
        .group-black{
                .van-cell{
                    &__title,&__value{
                        font-size: 4vw;
                        color: #000;
                    }
                    
                }
                .uniq{
                        .van-cell__value{
                            color: #ff3000 !important;
                        }
                    }
        }
        .back-success{
            .pro-box{
                background-color: #f8f8f8;
                .count{
                    text-align:left;
                }
            }
            .info-box{
                padding: 4vw 3vw;
                p{
                    font-size: 2.9vw;
                    line-height: 5.3vw;
                    color: #999999;
                }
                .contact-box{
                    display: flex;
                    justify-content: flex-end;
                    .contact{
                        padding-left: 6vw;
                        width: 22.9vw;
	                    height: 6.7vw;
                        line-height: 6.7vw;
                        border-radius: 6.7vw;
                        border: 1px solid #ff3000;
                        background: url('../../assets/me/17.png') no-repeat 1vw center;
                        background-size: 5vw;
                        font-size: 3.2vw;
                        color: #ff0000;
                    }
                }
            }
        }
        
    }
    .btn-box{
                    height: 13vw;
                    padding-right: 3vw;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    background:#fff;
                    .btnn{
                        margin-left: 2vw;
                        width: 17.7vw;
                        background: #fff;
                        height: 6.7vw;
                        border-radius: 3.3vw;
                        border:1px solid  #d0d0d0;
                        font-size: 3.2vw;
                        color: #666666;

                    }
                    .red{
                        color: #ff0000;
                        border:1px solid #ff3f4a;
                    }
                }

}
</style>
