<template>
    <div class="wrap RefundDetail">
        <HeadNav title='退款详情' right='1'/>
        <div class="main">
            <!-- 已付款 -->
           <div class="mark-box">
              <p class="mark">{{type==0?'退款成功':'退款退货成功'}}</p>
              <p class="word">付款时间：{{detail.time}}</p>
           </div>

           <!-- 退款成工 -->
           <div class="order-detail-info back-success">
                <van-cell-group class="group-black">
                    <van-cell class="uniq" title="退款总金额" :value="'¥'+detail.real_price" />
                    <van-cell v-show="detail.remarks" class="uniq" title="退款信息" :value="detail.remarks" />
               </van-cell-group>
               <div class="pro-box" v-for="pro in detail.product" :key="pro.id">
                        <div class="img-box pro-box-left">
                            <img  :src="imgUrl+pro.mainImg[0].img_path">
                        </div>
                        <div class="pro-box-center">
                           <p class="name">{{pro.name}}</p>
                           <p class="tag">七天退换</p>
                        </div>
                        <div class="pro-box-right">
                           <p class="price">¥{{pro.price}}</p>
                           <p class="count">x{{pro.product_num}}</p>
                        </div>
                </div>
                <div class="info-box">
                    <p>退款原因：{{detail.refund_reason}}</p>
                    <p>退款金额：¥{{detail.real_price}}</p>
                    <p>申请件数：{{detail.product.length}}</p>
                    <p>申请时间：{{detail.update}}</p>
                    <div class="contact-box">
                        <a class="contact" :href="'tel:' + 4000886933">拨打电话</a>
                    </div>
                </div>
           </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment'
import HeadNav from "@/components/HeadNav"
import {mapState,mapActions, mapMutations} from 'vuex'
export default {
  name:'RefundDetail',
  components:{
       HeadNav
   },
  data(){
      return{
          id:'',
          detail:{},
          type:0
      }
  },
  methods:{
      ...mapActions('order',['orderDetail']),//订单创建
  },
 created(){
        const currentOrder=this.storage.get('currentOrder')
        this.id=currentOrder.order_id
        this.type=currentOrder.type
        this.orderDetail({order_id:this.id}).then(res=>{
            if(res.status===1){
                this.detail=res.data
                let time=Number(res.data.pay_time+'000')
                let update=Number(res.data.update_time+'000')
                time=moment(time).format('YYYY年MM月DD日 HH:mm:ss')
                update=moment(update).format('YYYY年MM月DD日 HH:mm:ss')
                Object.assign(this.detail,{time,update})
            }
        })
}
}
</script>

<style lang='scss'>
.RefundDetail{
    .main{
        background: #f5f5f5;
        padding: 4vw 3vw;
        .mark-box{
            padding: 7.9vw 4.4vw;
            height: 25.9vw;
            background-image: linear-gradient(90deg, 
                #ff8a00 0%, 
                #ff5d00 32%, 
                #ff3000 100%), 
            linear-gradient(
                #f5f5f5, 
                #f5f5f5);
            background-blend-mode: normal, 
                normal;
            border-radius: 2.7vw;
            .mark{
                font-size: 4vw;
                color: #f5f5f5;
                margin-bottom: 3.2vw;
            }
            .word{
                font-size: 2.9vw;
                color: #f5f5f5;
            }
        }
        .order-detail-info{
            background: #fff;
            border-radius: 2.7vw;
            .pro-box{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 2.8vw 3vw;
                    
                    border-bottom: 0.1vw solid #f5f5f5;
                    .img-box{
                        width: 19.2vw;
                        height: 22.1vw;
                        background-color: #f5f5f5;
                        border-radius: 2vw;
                    }
                    &-center{
                        padding: 2vw 0;
                        flex: 1;
                        margin: 0 3vw;
                        .name{
                            font-size: 3.2vw;
                            font-weight: normal;
                            font-stretch: normal;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #292723;
                        }
                        .tag{
                            width:14vw;
                           margin-top: 2vw;
                            background-color: #fff1eb;
                            border-radius: 0.7vw;
                            font-size: 2.4vw;
                            line-height: 5.3vw;
                            color: #ff671b;
                        }
                    }
                    .count{
                            text-align: right;
                             font-size: 3.2vw;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #999;
                        }
                    &-right{
                            padding: 2vw 0;
                           
                        .price{
                             font-size: 3.2vw;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #4e4e4e;
                        }
                        
                    }
                }
            .van-cell:not(:last-child)::after{
                border-bottom: 0px;
            }
        }
        .group-black{
                .van-cell{
                    &__title,&__value{
                        font-size: 4vw;
                        color: #000;
                    }
                    
                }
                .uniq{
                        .van-cell__value{
                            color: #ff3000 !important;
                        }
                    }
        }
        .back-success{
            .pro-box{
                background-color: #f8f8f8;
                .count{
                    text-align:left;
                }
            }
            .info-box{
                padding: 4vw 3vw;
                p{
                    font-size: 2.9vw;
                    line-height: 5.3vw;
                    color: #999999;
                }
                .contact-box{
                    display: flex;
                    justify-content: flex-end;
                    .contact{
                        padding-left: 6vw;
                        width: 22.9vw;
	                    height: 6.7vw;
                        line-height: 6.7vw;
                        border-radius: 6.7vw;
                        border: 1px solid #ff3000;
                        background: url('../../assets/me/17.png') no-repeat 1vw center;
                        background-size: 5vw;
                        font-size: 3.2vw;
                        color: #ff0000;
                    }
                }
            }
        }
        
    }

}
</style>
