<template>
    <div class="wrap TicketBag">                        
        <HeadNav title='红包卡券' right='0'/>
        <van-tabs @click="changeNav" v-model="activeIndex" animated>
            <van-tab title="红包历史记录">
            </van-tab>
            <van-tab title="纽宝券历史记录">
            </van-tab>
        </van-tabs> 
        <!-- 红包 -->
        <div class="main">
          <div class="wrapper" ref="wrapper">
            <div class="bscroll-container">
                <!-- 刷新提示信息 -->
                <div class="top-tip">
                    <span class="refresh-hook">{{pulldownMsg}}</span>
                </div>
                <!-- 内容列表 -->
                <div v-show="activeIndex==0" class="list">
                    <div class="list-item" v-for="item in packageList" :key="item">
                        <div class="list-item-top">
                            <div class="eventname">
                                <img v-show="item.type==1" src="../../assets/me/20.png" alt="提现">
                                <img v-show="item.type==2||item.type==0" src="../../assets/me/21.png" alt="红包">
                                <span v-show="item.type==0">中奖</span>
                                <span v-show="item.type==1">体现</span>
                                <span v-show="item.type==2">红包</span>
                            </div>
                            <div class="price-box">
                                <span v-show="item.type==2||item.type==0" class="icon">+ ￥</span><span v-show="item.type==1" class="icon">- ￥</span><span class="num">{{item.money}}</span>
                            </div>
                        </div>
                        <div class="list-item-bottom">
                            <p class="time">日期：{{item.create_time}}</p>
                        </div>
                    </div>
                </div>
                <!-- 牛宝券  类型:0:签到获得,1:升级获得,2:购买消耗,3抽奖获得-->
                <div v-show="activeIndex==1" class="list" >
                    <div class="list-item" v-for="item in voucherList" :key="item">
                        <div class="list-item-top">
                            <div class="eventname">
                                <img src="../../assets/me/22.png" alt="提现">
                                <span>纽宝券</span>
                            </div>
                            <div class="price-box">
                                <span class="icon" v-show="item.action==2">-</span><span class="icon" v-show="item.action!=2">+</span><span class="num">{{item.numvalue}}张</span>
                            </div>
                        </div>
                        <div class="list-item-bottom">
                            <p class="time">日期：{{item.create_time}}</p>
                            <p class="desc">{{item.action==0&&'签到获得'||item.action==1&&'升级获得'||item.action==2&&'购买消耗'||item.action==3&&'抽奖获得'}}</p>
                        </div>
                    </div>
                </div>
                <!-- 底部提示信息 -->
                <div class="bottom-tip">
                    <span class="loading-hook">{{pullupMsg}}</span>
                </div>
            </div>
        </div> 
    </div>
</template>

<script>
import { Dialog,Toast } from 'vant'
import BScroll from "better-scroll"
import {mapState,mapActions} from 'vuex'
import HeadNav from "@/components/HeadNav"
export default {
  name:'TicketBag',
  components:{
       HeadNav
   },
  data(){
      return{
          activeIndex:0,//0红包1券
          offset :0,
          length :20,
          packageList:[],
          voucherList:[],
          finished:false,
          pulldownMsg: '下拉刷新',
          pullupMsg: '加载更多',
          scroll:null,
      }
  },
  computed:{
  },
  methods:{
      ...mapActions('mine',['getBagList','getquanList']),//packageList:[],//红包voucherList:[]//牛宝券
      changeNav(){
          this.offset=0
          this.ackageList=[]
          this.packageWeekList=[]
          this.voucherList=[]
          this.voucherWeekList=[]
          this.getList()
      },
      getList(list){
          if(this.activeIndex==0){
              this.getBagList({length:this.length,offset:this.offset}).then(res=>{
                  if(res.status==1){
                    let arr=this.packageList
                    let data=res.data.map(item=>{
                        item.create_time=this.moment(Number(item.create_time)).format('YYYY年MM月DD日')
                        return item
                    })
                    this.packageList=[...arr,...data]
                    this.offset+=this.length
                    if(res.data.length<this.length){
                        this.finished=true
                        this.pullupMsg='没有更多了'
                    }else{
                        this.finished=false
                        this.pullupMsg='加载更多'
                    }
                    //恢复刷新提示文本值
                    that.pulldownMsg = '下拉刷新'
                    //刷新成功后提示
                    //刷新列表后，重新计算滚动区域高度
                    that.scroll.refresh();
                  }
              })
          }else{
              this.getquanList({length:this.length,offset:this.offset}).then(res=>{
                  if(res.status==1){
                    let arr=this.voucherList
                    let data=res.data.map(item=>{
                        item.create_time=this.moment(Number(item.create_time)).format('YYYY年MM月DD日')
                        return item
                    })
                    this.voucherList=[...arr,...data]
                    this.offset+=this.length
                    if(res.data.length<this.length){
                        this.finished=true
                        this.pullupMsg='没有更多了'
                    }else{
                        this.finished=false
                        this.pullupMsg='加载更多'
                    }
                    //恢复刷新提示文本值
                    that.pulldownMsg = '下拉刷新'
                    //刷新成功后提示
                    //刷新列表后，重新计算滚动区域高度
                    that.scroll.refresh();
                  }
              })
          }
      },
  },
  created(){
      const that = this;
      this.offset=0
      this.getList()
      this.$nextTick(() => {
            this.scroll = new BScroll(this.$refs.wrapper,{       //初始化better-scroll
                probeType:1,   //1 滚动的时候会派发scroll事件，会截流。2滚动的时候实时派发scroll事件，不会截流。 3除了实时派发scroll事件，在swipe的情况下仍然能实时派发scroll事件
                click: true   //是否派发click事件
            })
            // 滑动过程中事件
            this.scroll.on('scroll',(pos)=>{
                if(pos.y > 30){
                    this.pulldownMsg = '释放立即刷新'
                }
            });
            //滑动结束松开事件
            this.scroll.on('touchEnd',(pos) =>{  //上拉刷新
                if(pos.y > 30){
                    that.voucherList=[]
                    that.packageList=[]
                    that.offset=0
                    this.pullupMsg = '加载更多';
                    that.getList()
                } 
                else if(pos.y<(this.scroll.maxScrollY - 30)){   //下拉加载
                    if(this.finished==true){
                    this.pullupMsg = '没有更多了...'
                    }else{
                    this.pullupMsg = '加载中...';
                    that.getList()
                    }
                    
                }
            })      
    })
  }
}
</script>

<style lang='scss'>
.TicketBag{
    .van-tabs__line{
        background-image: linear-gradient(90deg, 
		#ff8a00 0%, 
		#ff5d00 32%, 
		#ff3000 100%);
        border-radius: 0.7vw;
        height: 0.7vw;
    }
    .van-tab{
       font-size: 3.2vw;
       color: #363636;
    }
    .van-tab--active{
        
        font-weight: normal;
        letter-spacing: 0vw;
        color: #ff3000;
    }
    .main{
        background: #f5f5f5;
        padding: 2vw 3vw;
        .list{
            &-name{
                font-size: 3.2vw;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 0vw;
                color: #999999;
                padding: 5vw 0;     
            }
            &-item{
                background: url('../../assets/me/line.png') no-repeat center 10.5vw;
                background-size: contain;
                background-color: #fff;
                padding: 0 4vw;
                margin-bottom: 3.5vw;
                &-top{
                    
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 12vw;
                    .eventname{
                        display: flex;
                        align-items: center;
                        img{
                            width: 7vw;
                            margin-right: 3vw;
                        }
                        span{
                            font-size: 4vw;
                            color: #000000;
                        }
                    }
                    .price-box{
                        font-size: 4vw;
                        color: #f80902; 
                        .icon{
                            font-size: 3vw;
                        }
                    }
                }
                &-bottom{
                    padding: 3vw 0;
                    p{
                        font-size: 3.2vw;
                        font-weight: normal;
                        font-stretch: normal;
                        line-height: 6vw;
                        letter-spacing: 0vw;
                        color: #666666;
                    }
                }
            }
        }
    }
    .empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vw;
        img{
            width: 40vw;
        }
        .note{
            font-size: 3.2vw;
            font-weight: normal;
            font-stretch: normal;
            line-height: 5.3vw;
            letter-spacing: 0vw;
            color: #c1c1c1;
        }
    }
}
</style>
