<template>
    <div class="wrap WinRecord">
        <HeadNav right='1' title='中奖记录'/>
        <div class="main">
            <div v-show="list.length==0" class="empty">
                <img src="../assets/empty/data.png" alt="">
                <p class="note">没有相关记录，前往商城~</p>
            </div>
            <van-pull-refresh v-model="isFresh"  @refresh="onRefresh">
            <van-list
            v-model='isLoading'
            :offset="300"
            :finished="finished"
            finished-text="没有更多了"
            @load="onLoad"
            :immediate-check='false'
            >
            <ul class="ul" v-if="list">
                <li v-for="item in list" :key="item">
                    <div class="pro-box" v-for="pro in 1" :key="pro">
                        <div class="img-box pro-box-left">
                            <img  :src="imgUrl+img">
                        </div>
                        <div class="pro-box-right">
                           <p class="name">{{item.prize_name}}</p>
                           <p class="count">x{{item.prize_num}}</p>
                        </div>
                    </div>
                    <div class="li-info">
                        <div>
                            <span class="text">积分码：</span>
                            <span class="num">{{item.prize_code}}</span>
                        </div>
                        <div>
                            <span class="text">订单编号：</span>
                            <span class="num">{{item.order_no}}</span>
                        </div>
                        <div>
                            <span class="text">订单时间：</span>
                            <span class="num">{{item.create_time}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            </van-list>
            </van-pull-refresh>
           
        </div>
    </div>
</template>

<script>
import HeadNav from "@/components/HeadNav"
export default {
  name:'WinRecord',
  components:{
       HeadNav
   },
  data(){
      return{
          offset:0,
          pageSize:10,
          list:[],
          finished:false,
          isFresh:false,
          isLoading:false
      }
  },
  methods:{
      onLoad(){//加载更多
            let obj={method:'post',url:'prize_user_list',data:{offset:this.offset,length:this.pageSize}}
            this.$http(obj).then(res=>{
                if(res.status==1){
                    this.isLoading=false
                    let arr=res.data.map(item=>{
                        let time=Number(item.create_time)
                        item.create_time=this.moment(time).format('YYYY-MM-DD')
                        return item
                    })
                    let list=this.list
                    this.list=list.concat(arr)
                    if(res.data.length<this.pageSize){
                        this.finished=true
                    }
                }
            })
            this.offset+=this.pageSize
      },
      onRefresh(){ //刷新
            let obj={method:'post',url:'prize_user_list',data:{offset:0,length:this.pageSize}}
            this.$http(obj).then(res=>{
                if(res.status==1){
                    this.isFresh=false
                    this.list=res.data.map(item=>{
                        let time=Number(item.create_time+'000')
                        item.create_time=this.moment(time).format('YYYY-MM-DD')
                        return item
                    })
                }
            })
      }
  },
  created(){
    //   let obj={method:'post',url:'prize_user_list',data:{offset:this.offset,length:this.pageSize}}
    //   this.$http(obj).then(res=>{
    //       if(res.status==1){
    //         this.list=res.data.map(item=>{
    //             item.create_time=this.moment(item.create_time).format('YYYY-MM-DD')
    //             return item
    //         })
    //       }
    //   })
  }
}
</script>

<style lang='scss'>
.WinRecord{
    .main{
        background: #f5f5f5;
        padding: 3vw;
        .ul{
            li{
                border-radius: 2.7vw;
                background: #fff;
                .pro-box{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 2.8vw 3vw;
                    border-bottom: 1px solid #eee;
                    .img-box{
                        width: 19.2vw;
                        height: 22.1vw;
                        background-color: #f5f5f5;
                        border-radius: 2vw;
                    }
                    .count{
                            text-align: right;
                             font-size: 3.2vw;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #999;
                        }
                    &-right{
                        flex: 1;
                        padding: 2vw;
                        .name{
                            font-size: 3.2vw;
                            font-weight: normal;
                            font-stretch: normal;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #292723;
                            padding-bottom: 3vw;
                        }
                        
                    }
                }
                .li-info{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 3vw;
                    div{
                        width: 50%;
                        padding: 3vw 0;
                        font-size: 3.2vw;
                            line-height: 5.3vw;
                            letter-spacing: 0vw;
                            color: #292723;
                        .num{
                            color: #999;
                        }
                    }
                }
            }
        }
    }
    .empty{
        display: flex;
        align-items: center;
         padding-top: 26vw;
        flex-direction: column;
        img{
            width: 40vw;
        }
        .note{
            font-size: 3.2vw;
            font-weight: normal;
            font-stretch: normal;
            line-height: 5.3vw;
            letter-spacing: 0vw;
            color: #c1c1c1;
        }
    }
}
</style>
