<template>
    <div class="wrap WithdrawalSuccess">
        <HeadNav  title='红包提现'/>
        <div class="main">
            <!-- 体现成功 -->
            <div   class="card success">
                <van-steps direction="vertical" :active="1">
                    <van-step>
                        <h3>发起提现申请</h3>
                    </van-step>
                    <van-step v-show="!ok">
                        <h3>处理中</h3>
                        <!-- <p>预计03-16 12:48前到账</p> -->
                         <img slot="active-icon" src="../../assets/me/16.png" alt="">
                    </van-step>
                    <van-step>
                        <h3>到账成功</h3>
                    </van-step>
                </van-steps>
                <div class="success-bottom">
                    <p class="success-bottom-item">
                        <span>提现金额</span>
                        <span class="success-bottom-item-right">¥{{data}}</span>
                    </p>
                     <!-- <p class="success-bottom-item">
                        <span>到账微信</span>
                        <span class="success-bottom-item-right">麻花花(2882)</span>
                    </p> -->
                </div>
            </div>
            <button  @click="complish" class="btn complish-btn">完成</button>
        </div>
       
    </div>
</template>

<script>
import {mapState,mapActions} from 'vuex' 
import HeadNav from "@/components/HeadNav"
export default {
  name:'WithdrawalSuccess',
  components:{
       HeadNav
   },
  data(){
      return{
         data:0,
         ok:true
      }
  },
  methods:{
    ...mapActions('mine',['paymentBag']),
      complish(){
            this.$router.push('/myBag')
        }
   },
   computed(){
       this.data=this.$route.params.data
       this.ok=this.$route.params.ok
   }
}
</script>

<style lang='scss'>
.WithdrawalSuccess{
    background: #f5f5f5;
   
    .main{
        padding: 9vw 6vw;
        .card{
            box-shadow: 0 0 10vw #eee;
            height: 86vw;
            background-color: #ffffff;
            border-radius: 3vw;
            padding: 6vw ;
            p{
                font-size: 3.5vw;
                color: #282828;
                .user-name{
                    color: #000;
                    margin-right: 8vw;
                }
            }
            .user{
                margin-bottom: 16vw;
            }
            .money-box{
                margin-top: 2vw;
                .icon{
                    font-size: 7vw;
                    font-weight: bold;
                    color: #000;
                }
                .van-cell{
                    font-size: 7vw;
                    font-weight: bold;
                    color: #000;
                }
            }
            .note{
                padding-top: 4vw;
                border-top: 0.1vw solid #eee;
                color: #999;
                margin-bottom: 14vw;
            }
            .error{
                color: #f80000;
            }
        }
        .success{
            height: auto;
            .van-step--finish .van-step__circle, .van-step--finish .van-step__line{
                background:  #1aad19;
                // width: 3.2vw;
	            // height: 3.2vw;
                // border-radius: 3.2vw;
            }
            &-bottom{
                padding-top: 7vw;
                border-top: 0.1vw solid #eee;
                &-item{
                    margin-bottom: 4vw;
                         display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 3.7vw;
                    color: #999999;
                        &-right{
                           font-size: 3.2vw;
	                    color: #000000;
                        }
                }
            }
        }
        .complish-btn{
                margin-top: 13vw;
            }
    }

}
</style>
