<template>
    <div class="wrap Withdrawal">
        <HeadNav  title='红包提现'/>
        <div class="main">
            <!-- 红包体现 -->
            <div   class="card">
                <!-- <p class="user">
                    <span class="user-name">到账微信</span>
                    <span> 麻花花（2882）</span>
                </p> -->
                <p><span>提现金额</span> <span @click="inputAll" class="all">全部</span></p>
                <div class="display-x money-box">
                    <span class="icon">￥</span>
                     <van-field v-model="inputMoney" @input="handleInput" autofocus clearable />
                </div>
                <p :class="!error?'note':'note error'">{{note}}</p>
                <button @click="toDrawMoney" class="btn ">提现</button>
            </div>
            
            
        </div>
       
    </div>
</template>

<script>
import {mapState,mapActions} from 'vuex' 
import HeadNav from "@/components/HeadNav"
export default {
  name:'Withdrawal',
  components:{
       HeadNav
   },
  data(){
      return{
         inputMoney:null,
         note:'单次提现金额大于等于100可提现，1-3个工作日到账',
         error:false,
         data:0,
         isSuccess:true
      }
  },
  methods:{
    ...mapActions('mine',['paymentBag']),
    handleInput(){
          if(this.inputMoney>this.data){
              this.note='输入金额超过红包余额'
              this.error=true
          }
          else if(this.inputMoney<100){
              this.note='输入金额不能小于100'
              this.error=true
          }
          else{
              this.error=false
              this.note='单次提现金额大于等于100可提现，1-3个工作日到账'
          }
      },
      inputAll(){
          this.inputMoney=this.data
      },
      toDrawMoney(){//提现
        if(!error){
            this.paymentBag().then(res=>{
                if(res.status===1){
                    this.$toast('提现成功')
                    this.isComplish=false
                    this.isSuccess=true
                    this.$router.push({name:'withdrawalSuccess',params:{ok:true}})   
                }else{
                    this.isSuccess=false
                    this.$router.push({name:'withdrawalSuccess',params:{ok:false,data:this.data}})   
                }
            })
        }
      },
   },
   computed(){
       this.data=this.$route.params.price
   }
}
</script>

<style lang='scss'>
.Withdrawal{
    background: #f5f5f5;
   
    .main{
        padding: 9vw 6vw;
        .card{
            box-shadow: 0 0 10vw #eee;
            height: 86vw;
            background-color: #ffffff;
            border-radius: 3vw;
            padding: 6vw ;
            p{
                font-size: 3.5vw;
                color: #282828;
                .user-name{
                    color: #000;
                    margin-right: 8vw;
                }
            }
            .user{
                margin-bottom: 16vw;
            }
            .money-box{
                margin-top: 2vw;
                .icon{
                    font-size: 7vw;
                    font-weight: bold;
                    color: #000;
                }
                .van-cell{
                    font-size: 7vw;
                    font-weight: bold;
                    color: #000;
                }
            }
            .note{
                padding-top: 4vw;
                border-top: 0.1vw solid #eee;
                color: #999;
                margin-bottom: 14vw;
            }
            .error{
                color: #f80000;
            }
            .all{
                font-size: 3vw;
                color: #282828;
                padding: 0vw 1vw;
                border-radius: 10vw;
                margin-left: 2vw;
                border: 1px solid #282828;
            }
        }
        .success{
            height: auto;
            .van-step--finish .van-step__circle, .van-step--finish .van-step__line{
                background:  #1aad19;
                // width: 3.2vw;
	            // height: 3.2vw;
                // border-radius: 3.2vw;
            }
            &-bottom{
                padding-top: 7vw;
                border-top: 0.1vw solid #eee;
                &-item{
                    margin-bottom: 4vw;
                         display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 3.7vw;
                    color: #999999;
                        &-right{
                           font-size: 3.2vw;
	                    color: #000000;
                        }
                }
            }
        }
        .complish-btn{
                margin-top: 13vw;
            }
    }

}
</style>
