<template>
  <div id="app">
      <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  components: {
  },
  methods:{
    toLogin(){
      const session=this.storage.get('session') || false
      if(session && session.token==undefined){
        this.$router.push('/login')
      }
    }
  },
  mounted(){
     this.toLogin()
  },
  destroyed(){
    //退出登录
  }
}
</script>

<style lang="scss" >
@import './lib/reset.css';

#app {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-size: 16px;
  .wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .wrapper{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            /* 下拉、上拉提示信息 */
          .top-tip{
              position: absolute;  
              top: -40px;  
              left: 0;
              z-index: 1;  
              width: 100%;  
              height:40px;  
              line-height:40px;  
              text-align:center;
              color: #555;
          } 
            
          .bottom-tip{
              width: 100%;
              height: 35px;
              line-height: 35px;
              text-align: center;
              color: #777;
              background: #f2f2f2;
              position: absolute;
              bottom: -35px;
              left: 0;
          }


        }
  .main{
    flex: 1;
    overflow-x: hidden;
  }
  .img-box{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
    }
  }
  $bg:#f9f9f9;
  .display-x{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .display-y{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .btn{
    width: 100%;
    color: #fff;
    font-size: 4vw;
    height: 9.6vw;
    border: none;
    background-image: linear-gradient(-72deg, 
      #ff3f4a 0%, 
      #ff4325 0%, 
      #ff4600 0%, 
      #ff5f00 24%, 
      #ff7700 100%), 
    linear-gradient(
      #ededed, 
      #ededed);
    background-blend-mode: normal, 
      normal;
    border-radius: 4.7vw;
  }
  .van-swipe{
                width: 100%;
                .van-swipe__track{
                    .van-swipe-item{
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                          width: 100%;
                        }
                    }
                }
            }
}
</style>
